@view(sc-button-view) {
  border: 0px none;
  color: #555;
  text-shadow: 0px 1px 1px white;
  
  .button-left {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 8px;
    /* Implementations must provide: 
    margin-top:-12px;
    height: 24px;
    background: spr ite("normal_button.png" [0 8]);
    */
  }
  
  .button-right {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 8px;
  }
  
  .button-middle {
    position: absolute;
    top: 50%;
    left: 8px;
    right: 8px;
  }
  
  .sc-button-label {
    position: absolute;
    top: 50%;
    left: 8px;
    right: 8px;
  }
}

/* Active */
@view(sc-button-view).active {
  color: #333;
  text-shadow: 0px 1px 1px white;
}

/* Selected */
@view(sc-button-view).sel {
  color: #fff;
  font-weight:200;
  text-shadow: 0px -1px 1px rgba(0,0,0,.5);
}

/* Disabled */
@view(sc-button-view).disabled {
  opacity: .5;
}
