@theme(iphone-form)

@view(sc-form-view) {
  overflow:visible; /* Let borders show through */
}

@view(sc-form-row-view):first-child,
@view(sc-form-row-view).first {
  -sc-border-top-left-radius: 10px;
  -sc-border-top-right-radius: 10px;  
}

@view(sc-form-row-view):last-child,
@view(sc-form-row-view).last {
  -sc-border-bottom-left-radius: 10px;
  -sc-border-bottom-right-radius: 10px;  
  border-bottom: 1px solid #999;
}

@view(sc-form-row-view) {
  background-color:white;
  border: 1px solid #999;
  border-bottom: 0px none;
}

@view(sc-form-label) {
  font-size: 16px;
  font-weight: bold;
  .inner {
    color: black;
    text-align: left;
    position: absolute;
    margin-top: -10px;
    left: 0px;
    right: 0px;
    top: 50%;
  }
}

@view(sc-text-field-view) {
  font-size:16px;
  background: transparent;
  .border {
    display: none;
  }
  input {
    color: rgb(0, 80, 130);
  }
}

@end