@theme(dark.sc-jumbo-size) {

  $theme.button {
    color: #555;
    text-shadow: 0px 1px 0px white;

    &.active {
      color: #333;
      text-shadow: 0px 1px 0px white;
    }

    &.sel.active, &.def.active {
      color: white;
      text-shadow: 0px 1px 0px white;
    }
  }
}
