/*
==========================================================================
 Project: Greenhouse - Custom Button Styles
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/

/* Capsule Buttons
---------------------------------------------- */


/* Regular */
.sc-theme .sc-button-view.sc-regular-size.capsule {
  background: static_url('images/buttons/capsule/regular-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.capsule .sc-button-inner {
  background: static_url('images/buttons/capsule/regular-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.capsule .sc-button-label {
  background: static_url('images/buttons/shared/regular-m.png') repeat-x;
  margin-left: 12px;
  margin-right: 12px;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
  line-height: 26px;
}

/* Active */
.sc-theme .sc-button-view.sc-regular-size.capsule.active {
  background: static_url('images/buttons/capsule/active-r.png') no-repeat right;
}
.sc-theme .sc-button-view.sc-regular-size.capsule.active .sc-button-inner {
  background: static_url('images/buttons/capsule/active-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.capsule.active .sc-button-label {
  background: static_url('images/buttons/shared/active-m.png') repeat-x;
  color: #222;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
}

/* Disabled */
.sc-theme .sc-button-view.sc-regular-size.capsule.disabled {
  background: static_url('images/buttons/capsule/disabled-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.capsule.disabled .sc-button-inner {
  background: static_url('images/buttons/capsule/disabled-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.capsule.disabled .sc-button-label {
  background: static_url('images/buttons/shared/disabled-m.png') repeat-x;
  margin-left: 12px;
  margin-right: 12px;
  color: #b2b2b2;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
  line-height: 26px;
}

/* Selected or Default */
.sc-theme .sc-button-view.sc-regular-size.capsule.def,
.sc-theme .sc-button-view.sc-regular-size.capsule.sel {
  background: static_url('images/buttons/capsule/sel-r.png') no-repeat right;
}
.sc-theme .sc-button-view.sc-regular-size.capsule.def .sc-button-inner, 
.sc-theme .sc-button-view.sc-regular-size.capsule.sel .sc-button-inner {
  background: static_url('images/buttons/capsule/sel-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.capsule.def .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.capsule.sel .sc-button-label {
  background: static_url('images/buttons/shared/sel-m.png') repeat-x;
  color: #334511;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
}

/* Selected or Default - Active */
.sc-theme .sc-button-view.sc-regular-size.capsule.def.active,
.sc-theme .sc-button-view.sc-regular-size.capsule.sel.active {
  background: static_url('images/buttons/capsule/sel-active-r.png') no-repeat right;
}
.sc-theme .sc-button-view.sc-regular-size.capsule.def.active .sc-button-inner,
.sc-theme .sc-button-view.sc-regular-size.capsule.sel.active .sc-button-inner {
  background: static_url('images/buttons/capsule/sel-active-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.capsule.def.active .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.capsule.sel.active .sc-button-label {
  background: static_url('images/buttons/shared/sel-active-m.png') repeat-x;
  color: #44581d;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
}

/* Selected - Disabled */
.sc-theme .sc-button-view.sc-regular-size.capsule.disabled.sel {
  background: static_url('images/buttons/capsule/sel-disabled-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.capsule.disabled.sel .sc-button-inner {
  background: static_url('images/buttons/capsule/sel-disabled-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.capsule.disabled.sel .sc-button-label {
  background: static_url('images/buttons/shared/sel-disabled-m.png') repeat-x;
  margin-left: 12px;
  margin-right: 12px;
  color: #c1c7b7;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
  line-height: 26px;
}

/* Square Buttons
---------------------------------------------- */


/* Regular */
.sc-theme .sc-button-view.sc-regular-size.square {
  background: static_url('images/buttons/square/regular-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.square .sc-button-inner {
  background: static_url('images/buttons/square/regular-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square .sc-button-label {
  background: static_url('images/buttons/shared/regular-m.png') repeat-x;
  margin-left: 6px;
  margin-right: 6px;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
  line-height: 26px;
}

/* Active */
.sc-theme .sc-button-view.sc-regular-size.square.active {
  background: static_url('images/buttons/square/active-r.png') no-repeat right;
}
.sc-theme .sc-button-view.sc-regular-size.square.active .sc-button-inner {
  background: static_url('images/buttons/square/active-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.active .sc-button-label {
  background: static_url('images/buttons/shared/active-m.png') repeat-x;
  color: #222;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
}

/* Disabled */
.sc-theme .sc-button-view.sc-regular-size.square.disabled {
  background: static_url('images/buttons/square/disabled-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.square.disabled .sc-button-inner {
  background: static_url('images/buttons/square/disabled-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.disabled .sc-button-label {
  background: static_url('images/buttons/shared/disabled-m.png') repeat-x;
  margin-left: 6px;
  margin-right: 6px;
  color: #b2b2b2;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
  line-height: 26px;
}

/* Selected or Default */
.sc-theme .sc-button-view.sc-regular-size.square.def,
.sc-theme .sc-button-view.sc-regular-size.square.sel {
  background: static_url('images/buttons/square/sel-r.png') no-repeat right;
}
.sc-theme .sc-button-view.sc-regular-size.square.def .sc-button-inner, 
.sc-theme .sc-button-view.sc-regular-size.square.sel .sc-button-inner {
  background: static_url('images/buttons/square/sel-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.def .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.sel .sc-button-label {
  background: static_url('images/buttons/shared/sel-m.png') repeat-x;
  color: #334511;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
}

/* Selected or Default & Active */
.sc-theme .sc-button-view.sc-regular-size.square.def.active,
.sc-theme .sc-button-view.sc-regular-size.square.sel.active {
  background: static_url('images/buttons/square/sel-active-r.png') no-repeat right;
}
.sc-theme .sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.sc-theme .sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
  background: static_url('images/buttons/square/sel-active-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
  background: static_url('images/buttons/shared/sel-active-m.png') repeat-x;
  color: #44581d;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
}

/* Selected - Disabled */
.sc-theme .sc-button-view.sc-regular-size.square.disabled.sel {
  background: static_url('images/buttons/square/sel-disabled-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.square.disabled.sel .sc-button-inner {
  background: static_url('images/buttons/square/sel-disabled-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.disabled.sel .sc-button-label {
  background: static_url('images/buttons/shared/sel-disabled-m.png') repeat-x;
  margin-left: 6px;
  margin-right: 6px;
  color: #c1c7b7;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);  
  line-height: 26px;
}