/*
==========================================================================
 Project: Greenhouse - Styling
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/

/* Custom Fonts
---------------------------------------------- */

@font-face {
	font-family: 'MuseoSans500';
	src: url('fonts/museosans_500.eot');
	src: local('Museo Sans'), local('MuseoSans-500'), url('fonts/museosans_500.woff') format('woff'), url('fonts/museosans_500.otf') format('opentype');
}

@font-face {
	font-family: 'MuseoSans500Italic';
	src: url('fonts/museosans_500_italic.eot');
	src: local('Museo Sans'), local('fonts/MuseoSans-500Italic'), url('fonts/museosans_500_italic.woff') format('woff'), url('fonts/museosans_500_italic.otf') format('opentype');
}

/* General Styles
---------------------------------------------- */

body.sc-theme,
body.sc-theme > .sc-pane.sc-main{ 
  overflow: hidden;
  background: static_url('images/main-bg.png');
}

.sc-view {
	font: 12px/1.5 MuseoSans500, "Helvetica Neue", Helvetica, sans-serif;
}

/* Application Picker Page
---------------------------------------------- */

.sc-logo {
  background: static_url('images/logos/sproutcore.png');
}

.greenhouse-logo-l {
  background: static_url('images/logos/greenhouse-l.png');
}

.app-picker .helper {
  background: static_url('images/choose-app.png');
}

/* List of Application */

.app-picker .sc-view.sc-scroll-view.sc-gray-border {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #2c2c2c;
  border: 1px solid #1d1d1d;
  -moz-box-shadow: 0 1px 0 #494949;
  -webkit-box-shadow: 0 1px 0 #494949;
}

.app-picker .sc-collection-view {
  background: none;
}

.app-picker .sc-scroll-view .sc-list-item-view {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #1c1c1c;
}
.sc-theme.focus .app-picker .sc-collection-view.focus .sc-collection-item.sel,
.app-picker .sc-scroll-view .sc-list-item-view.sel {
  color: #e8ffb0;
  border-top: 1px solid #727272;
  background: static_url('images/list-item-sel.png') repeat-x;
  border-bottom: 1px solid #1c1c1c;
}
.app-picker .sc-scroll-view .sc-list-item-view.first {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-top: none;
}

.app-picker .sc-list-item-view img {
  margin-top: -8px !important;
}

.app-picker .sc-list-item-view label {
  left: 26px !important;
}

/* Load App Button */

/* HACK: Overriding Default Sproutcore button styling...quick and dirty */

.app-picker .sc-button-view.def.capsule {
  background: static_url('images/buttons/app-picker-button-r.png') no-repeat right !important;
  height: 28px !important;
  max-height: 28px !important;
}
.app-picker .sc-button-view.def.capsule span {
  background: static_url('images/buttons/app-picker-button-l.png') no-repeat !important;
  height: 28px !important;
  max-height: 28px !important;
}
.app-picker .sc-button-view.def.capsule label {
  background: static_url('images/buttons/app-picker-button-m.png') repeat-x !important;
  font-size: 14px !important;
  color: #000 !important;
  text-shadow: 0 1px 0 #c5c5c5 !important;
  height: 28px !important;
  max-height: 28px !important;
  line-height: 28px;
}

.app-picker .sc-button-view.def.capsule.active {
  background: static_url('images/buttons/app-picker-button-active-r.png') no-repeat right !important;
  color: #313131 !important;
}
.app-picker .sc-button-view.def.capsule.active span {
  background: static_url('images/buttons/app-picker-button-active-l.png') no-repeat !important;
  color: #313131 !important;
}
.app-picker .sc-button-view.def.capsule.active label {
  background: static_url('images/buttons/app-picker-button-active-m.png') repeat-x !important;
  color: #313131 !important;
}

/* Footer / Loading Bar */

.footer,
.sc-label-view.sc-regular-size.footer {
  border-top: 1px solid #494949;
  background: #1d1d1d;
  color: #b3d93b;
  line-height: 30px;
  text-shadow: 0 1px 0 #000;
  font-size: 12px;
}

/* Main Application Interface
---------------------------------------------- */


/* Toolbar */

.toolbar {
  background: static_url('images/toolbar-bg.png') repeat-x;
}

.greenhouse-logo-s {
  background: static_url('images/logos/greenhouse-s.png') no-repeat;
}

.toolbar .title {
  font-size: 14px;
  text-shadow: 0 1px 0 #000;
}

/* Dark Buttons */

.sc-theme .toolbar .sc-button-view.sc-regular-size.square {
  background: static_url('images/buttons/toolbar-button-r.png') no-repeat right;
  color: #fff;
  text-shadow: 0 1px 0 #242424;
}

.sc-theme .toolbar .sc-button-view.sc-regular-size.square .sc-button-inner {
  background: static_url('images/buttons/toolbar-button-l.png') no-repeat;
}
.sc-theme .toolbar .sc-button-view.sc-regular-size.square .sc-button-label {
  background: static_url('images/buttons/toolbar-button-m.png') repeat-x;
  margin-left: 5px;
  margin-right: 5px;
}

.sc-theme .toolbar .sc-button-view.sc-regular-size.square.active {
  background: static_url('images/buttons/toolbar-button-active-r.png') no-repeat right;
  color: #d0d0d0;
  text-shadow: 0 -1px 0 #242424;
}
.sc-theme .toolbar .sc-button-view.sc-regular-size.square.active .sc-button-inner {
  background: static_url('images/buttons/toolbar-button-active-l.png') no-repeat;
}
.sc-theme .toolbar .sc-button-view.sc-regular-size.square.active .sc-button-label {
  background: static_url('images/buttons/toolbar-button-active-m.png') repeat-x;
}

/* Toolbar Icons */

.toolbar .projects {
  background: static_url('images/icons/projects.png') no-repeat;
  width: 28px;
  height: 14px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 50%;
  margin-left: -14px;
}
.toolbar .library {
  background: static_url('images/icons/library.png') no-repeat;
  width: 21px;
  height: 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -10px;
}
.toolbar .inspector {
  background: static_url('images/icons/inspector.png') no-repeat;
  width: 25px;
  height: 17px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -12px;
}
.toolbar .run {
  background: static_url('images/icons/run.png') no-repeat;
  width: 10px;
  height: 12px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -5px;
}
.toolbar .actions {
  background: static_url('images/icons/actions.png') no-repeat;
  width: 28px;
  height: 17px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -14px;
}

.toolbar .projects.active {
  background: static_url('images/icons/projects-active.png') no-repeat;
}
.toolbar .library.active {
  background: static_url('images/icons/library-active.png') no-repeat;
}
.toolbar .inspector.active {
  background: static_url('images/icons/inspector-active.png') no-repeat;
}
.toolbar .run.active {
  background: static_url('images/icons/run-active.png') no-repeat;
}
.toolbar .actions.active {
  background: static_url('images/icons/actions-active.png') no-repeat;
}

/* Workspace */

.workspace,
.workspace > div.sc-web-view {
  background: static_url('images/main-bg.png');
}

.workspace .design {
  border: 1px solid #1c1c1c;
  box-shadow: 0 3px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.75);
}

