/*
==========================================================================
 Project: Greenhouse - Menu Styling
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/

.sc-panel.sc-menu {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.8);
  border: 1px solid #4f4f4f;
  background: #333;
  background: rgba(0,0,0,0.8);
}

.sc-panel.sc-menu > .sc-view {
  background: none;
}

.sc-panel.sc-menu .sc-menu-item a span,
.sc-panel.sc-menu .sc-menu-item.focus a span {
  color: #eaeaea;
  text-shadow: 0 1px 0 #000;
}

.sc-menu-item span.value {
  margin-left: 8px;
}

.sc-panel.sc-menu .sc-menu-item.focus a {
  background: #718600;
}

/* Hide superfluous divs (css3 baby!) */
.greenhouse.menu .panel-background .top-left,
.greenhouse.menu .panel-background .top,
.greenhouse.menu .panel-background .top-right,
.greenhouse.menu .panel-background .left,
.greenhouse.menu .panel-background .middle,
.greenhouse.menu .panel-background .right,
.greenhouse.menu .panel-background .bottom-left,
.greenhouse.menu .panel-background .bottom,
.greenhouse.menu .panel-background .bottom-right {
  display: none;
}