/*
==========================================================================
 Project: Greenhouse - Epic Tear-Off Pickers
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/


/* Pointers */

.sc-pane.sc-panel.sc-picker.gh-picker .perfectBottom {
  width: 25px;
  height: 15px;
  top: -11px;
  left: 50%;
  margin-left: -13px;
  background: static_url('images/picker/pointer-top.png') no-repeat;
}
.sc-pane.sc-panel.sc-picker.gh-picker .perfectTop {
  width: 21px;
  height: 11px;
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  background: static_url('images/picker/pointer-bottom.png') no-repeat;
}
.sc-pane.sc-panel.sc-picker.gh-picker .perfectLeft {
  width: 12px;
  height: 22px;
  right: -13px;
  top: 22%;
  background: static_url('images/picker/pointer-right.png') no-repeat;
}
.sc-pane.sc-panel.sc-picker.gh-picker .perfectRight {
  width: 12px;
  height: 22px;
  left: -13px;
  top: 22%;
  background: static_url('images/picker/pointer-left.png') no-repeat;
}

/* Edges */

.gh-picker .panel-background div {
  position: absolute;
}

.gh-picker .panel-background .top-left {
  width: 18px;
  height: 53px;
  top: 0px;
  left: -9px;
  margin-left: -px;
  background: static_url('images/picker/top-left.png') no-repeat;
}

.gh-picker .panel-background .top {
  left: 9px;
  right: 9px;
  height: 53px;
  top: 0px;
  background: static_url('images/picker/top.png') repeat-x;
}

.gh-picker .panel-background .top-right {
  width: 18px;
  height: 53px;
  top: 0px;
  right: -9px;
  margin-left: -px;
  background: static_url('images/picker/top-right.png') no-repeat;
}

.gh-picker .panel-background .right {
  top: 53px;
  bottom: 11px;
  width: 18px;
  right: -9px;
  background: static_url('images/picker/right.png') repeat-y;
}

.gh-picker .panel-background .bottom-right {
  width: 18px;
  height: 23px;
  bottom: -12px;
  right: -9px;
  margin-left: -px;
  background: static_url('images/picker/bottom-right.png') no-repeat;
}

.gh-picker .panel-background .bottom {
  left: 9px;
  right: 9px;
  height: 23px;
  bottom: -12px;
  background: static_url('images/picker/bottom.png') repeat-x;
}

.gh-picker .panel-background .bottom-left {
  width: 18px;
  height: 23px;
  bottom: -12px;
  left: -9px;
  margin-left: -px;
  background: static_url('images/picker/bottom-left.png') no-repeat;
}

.gh-picker .panel-background .left {
  top: 53px;
  bottom: 11px;
  width: 18px;
  left: -9px;
  background: static_url('images/picker/left.png') repeat-y;
}

.gh-picker.sc-pane.sc-panel > .sc-view {
  background: none;
}

/* List Styling */
.gh-picker.sc-pane.sc-panel .content .sc-list-view,
.gh-picker.sc-pane.sc-panel .content {
  background: #ebebeb;
  border: none;
}

.sc-theme .sc-panel.sc-palette .sc-collection-view .sc-collection-item.sel,
.sc-theme.focus .sc-panel.sc-palette .sc-collection-view.focus .sc-collection-item.sel {
  background: #A4BE49;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/* Kill Grey Border */
body.sc-theme .gh-picker .sc-view.sc-gray-border {
  border: none;
}

body.sc-theme .gh-picker .sc-view.library-list.sc-gray-border {
  border-bottom: 1px dashed #aaa;
}

/* Allow control bar to spawn above picker frame */
.gh-picker.sc-pane.sc-panel.sc-picker > .sc-view .sc-view.control-bar {
  z-index: 10;
  background: none;
}

/* Teared State
---------------------------------------------- */

.gh-picker.sc-pane.sc-panel.sc-palette .close-button {
  background: static_url('images/picker/close.png') no-repeat;
  z-index: 12;
}
.gh-picker.sc-pane.sc-panel.sc-palette .close-button.active {
  background: static_url('images/picker/close-active.png') no-repeat;
}

/* Scrollbar - Vertical
---------------------------------------------- */
.gh-picker.sc-pane.sc-panel .sc-scroller-view.sc-vertical .track,
.gh-picker.sc-pane.sc-panel .sc-scroller-view.sc-vertical .cap,
.gh-picker.sc-pane.sc-panel .sc-scroller-view.sc-vertical .button-bottom,
.gh-picker.sc-pane.sc-panel .sc-scroller-view.sc-vertical .button-top {
  display: none;
}

/* Inspector Positioning Overrides & Styling
---------------------------------------------- */

.inspector .title {
  font-size: 14px;
  text-shadow: 0 1px 0 #fff;
}

.gh-picker.sc-pane.sc-panel.inspector .sc-scroll-view {
  border: 1px solid #CCCCCC
}

.gh-picker.sc-pane.sc-panel.inspector .sc-tab-view {
  top: 12px !important;
}

.gh-picker.sc-pane.sc-panel.inspector .sc-button-view.sc-regular-size.square.prop-control .sc-button-label {
  font-size: 24px;
  line-height: 23px;
}

.gh-picker.sc-pane.sc-panel.inspector .sc-tab-view > .sc-container-view {
  top: 41px !important;
  bottom: 10px !important;
  background: #ebebeb;
  border: none;
}