/*
==========================================================================
 Project: Greenhouse - Custom Text Fields
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/

/* Text Fields
---------------------------------------------- */

.sc-view .sc-text-field-view {
  border-width: 1px;
  border-style: solid;
  border-color: #999;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}

.safari .sc-view .sc-text-field-view.focus,
.mozilla .sc-view .sc-text-field-view.focus,
.msie .sc-view .sc-text-field-view.focus {
  outline: 0;
}

.sc-view .sc-text-field-view.focus {
  border-color: #9ec450;
  background: #fbffe6;
}

.sc-view .sc-text-field-view.disabled {
  border-color: #cdcdcd #e6e6e6 #f3f3f3;
}

.safari .sc-text-field-view .border {
  -webkit-appearance: none;
}

.mozilla .sc-view .sc-text-field-view .border {
  -moz-appearance: none;
}

.msie .sc-view .sc-text-field-view .border {
  border: 0;
}

.mozilla .sc-text-field-view .padding {
  top: 1px;
}

.sc-view .sc-text-field-view.disabled input,
.sc-view .sc-text-field-view.disabled textarea {
  color: #dfdfdf;
}

.sc-text-field-view .sc-hint {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 22px;
}

.mozilla .sc-text-field-view .sc-hint {
  top: -1px;
}