/* SC.ButtonView */

.sc-button-view.sc-static-layout {
  margin: 0 4px;
}

.sc-button-view {
  display: inline-block ;
  vertical-align: middle;
  text-decoration: none ;
  border: 1px #555 solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.sc-button-view .sc-button-inner {
  position: relative;
  display:  block;
  height: 100%;
  text-align: center ;
}

.sc-button-view label {
  position: relative;
  display: block;
  line-height: 21px;
  text-align: center;
}

.sc-button-view img {
  vertical-align: middle ;
  margin-right: 2px;
  position: relative ;
  top: -2px;
  left: -2px;
}
