.sc-view {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 13px;
	line-height: 1.2
}


/* @group SC.Benchmark */

.sc-benchmark-graph
{
  z-index: 100000; 
  background-color: white;  
  position: absolute; 
  top: 0px; 
  left:0px; 
  bottom:0px; 
  overflow: auto;
  right: 0px;
}

.sc-benchmark-title
{
  font-size: 13px; 
  font-weight: bold; 
  position: absolute; 
  left: 0px; 
  top: 5px;  
}

.sc-benchmark-emphasis
{
  font-weight: bold; 
}

.sc-benchmark-top
{
  height:20px;
  left:0px;
  top: 25px;
  background-color: #ccc;
  opacity: 0.4;
  position: relative;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.sc-benchmark-tick
{
  width: 1px; 
  height: 2000px;
  position: absolute; 
  top: 25px; 
  background-color: #ccc;
}

.sc-benchmark-tick-label
{
  width: 40px; 
  position: absolute; 
  top: 27px; 
  font-size: 10px;
  margin-left: 2px;
  white-space: nowrap; 
}

.sc-benchmark-bar
{
  height:16px; 
  position: absolute; 
  font-size: 10px; 
  white-space: nowrap; 
  border: 1px solid #CC6633; 
  background-color: #FFCC33; 
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  line-height: 14px;
/*  -webkit-box-shadow: 1px 1px 2px #333;*/
/*  text-shadow: #fff 1px 1px 1px;*/
}

.sc-benchmark-row
{
  position: absolute;
  left: 0px;
  height: 30px;
}

.sc-benchmark-row.even
{
  opacity: 0.4;
  background-color: #ddd; 
}


/* @end */