/* Common SC.TextFieldView styles - needed to work properly */

.sc-view .sc-text-field-view{
	z-index: 10000;
	overflow: visible;
}

.sc-text-field-view input {
	position:  absolute;
	top: -2px;
	left: -2px;
	width: 100%;
	height: 100%;
  padding: 0px;
}

.sc-text-field-view textarea {
	position:  absolute;
	top: -2px;
	left: -2px;
  width: 100%;
	height: 100%;
  padding: 0px;
  overflow: auto;
  font-family: "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif;
}

.sc-text-field-view .sc-hint {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 3px;
	color: #aaa ;
	font-size: 12px;

}

.sc-text-field-view.focus .sc-hint,
.sc-text-field-view.not-empty .sc-hint {
  display: none ;
}

