/*
  These CSS styles apply to all views.
*/

/* default behaviors for all views: 
 - use "pointer" cursor unless otherwise required 
 - clip overflow
*/
.sc-view {
  cursor:             default;
  overflow:           hidden;
  position:           absolute; /* all views are absolutely positioned. */
  -moz-user-select:   none;
  -khtml-user-select: none;
  user-select:        none;
  margin:             0px;
}

/* Views do not allow text selection unless you set isTextSelectable to YES.*/
.sc-view.allow-select {
  -moz-user-select: text;
  -khtml-user-select: text;
  user-select: text;
  cursor:  text;
}

/* Make sure focus outlines do not appear.  These don't look good. */
.sc-view:focus, a.sc-view:focus,
.sc-view:active, a.sc-view:active {
  outline: none;
}

/* Images by default do not have a border inside of an image */
.sc-view img {
  border: none ;
}

.sc-view.hidden {
  display: none !important;
}

/* This className is useful when aligning buttons to the right */
.sc-view.textAlignRight {
  text-align:right;
}

/*User the following to know what view has the focus in webkit*/
/*.sc-view .focus {
  outline: auto 5px -webkit-focus-ring-color; 
  outline-offset: -2px;
}*/