.sc-alert-panel {
  background: sc_static('standard-white-fade') repeat ;
}


.sc-alert-panel .info {
	position: relative ;
	padding: 20px 12px 58px 74px;
}

.sc-alert-panel .info img.icon {
	position: absolute;
	left: 12px;
	top: 14px;
}

.sc-alert-panel .info h1 {
	background-color: transparent;
	color: black;
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-bottom: 6px;
	font-family: inherit ;
}

.sc-alert-panel .info p {
	padding: 0;
	margin: 6px 0px;
	font-size: 13px;
	margin-right: 20px;
}