/* @override 
*/

/* SC.ButtonView */

.sc-button-view {
	background-color: #d0d0d0;
	border: 1px #666 solid;
	color: black;
	text-decoration: none ;
	font-weight: bold ;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
}

.sc-button-view label {
	line-height: 21px;
	text-align: center;
}

.sc-button-view.disabled,
.sc-button-view.disabled.active {
	background-color: #e0e0e0;
	border: 1px #a0a0a0 solid ;
	color: #a0a0a0;
}

.sc-button-view.active,
.sc-button-view.sel {
	background-color: #333;
	border: 1px #333 solid ;
	color: white;
}
