/* @override http://localhost:4020/static/sproutcore/empty_theme/en/current/source/core.css?1235210511 */

.sc-view {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 13px;
	line-height: 1.2
}
