/* @override http://localhost:4020/static/sproutcore/empty_theme/en/current/source/dialog_pane.css?1235210504 */

/** SC.DialogPane Support */

.sc-pane.sc-dialog-pane {
}

.sc-pane.sc-dialog-pane > .sc-view {
	border: 1px #444 solid;
	background-color: #fafafa ;
}
