
.sc-theme .sc-menu-view {
	border: 1px #666666 solid;
}

/*.sc-theme .sc-menu-view a.sc-menu {
	text-decoration: none ;
	color: black ;
	text-align: center;
}

.sc-theme a.sc-menu:active, a.sc-menu:focus {
	outline: none;
}

.sc-theme a.sc-menu img.icon {
	position: relative;
	vertical-align: middle;
	top: -2px;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}*/

/* @group Layout */

/*.sc-theme .sc-menu-view a.sc-menu {
	display: block;
	top: 0;
	height: 22px;
	line-height: 22px;
	border-right: 2px #cccccc solid;
	text-shadow: #b0b0b0 0px 1px 0px;
}

.sc-theme .sc-menu-view .sc-button-inner {
	display: block;
	min-width: 20px;
	min-height: 22px;
}

.sc-theme .sc-menu-view a.sc-menu.sc-first-segment {
	padding-left: 10px;
}


.sc-theme .sc-menu-view a.sc-menu.sc-first-segment .sc-button-inner {
	padding-right: 10px;
}
.sc-theme .sc-menu-view a.sc-menu.sc-middle-segment .sc-button-inner {
	padding-left: 10px;
	padding-right: 10px;
  
}
.sc-theme .sc-menu-view a.sc-menu.sc-last-segment .sc-button-inner {
	padding-left: 10px;
}

.sc-theme .sc-menu-view a.sc-menu.sc-last-segment {
	padding-right: 10px;
	border:none;
}*/

/* @end */

/* @group Basic Round */

/* NORMAL */

/*.sc-theme .sc-menu-view a.sc-menu .sc-button-inner {
 	background: #DDDDDD;
}*/

/*.sc-theme .sc-menu-view a.sc-menu .sc-button-inner:hover {*/
 	/*background: #0000ff;*/
/*	background: #5A8EC6;
}*/

/*
.sc-theme .sc-menu-view a.sc-menu.sc-middle-segment {
 	background: #DDDDDD;
}

.sc-theme .sc-menu-view a.sc-menu.sc-first-segment {
	background: #DDDDDD;
}
*/

/* SELECTED */
/*.sc-theme .sc-menu-view a.sc-menu.active .sc-button-inner,
.sc-theme .sc-menu-view a.sc-menu.sel .sc-button-inner {
	background: #909090;
	text-shadow: #909090 0px 1px 0px;
}*/
/*
.sc-theme .sc-menu-view a.sc-menu.sc-last-segment.sel,
.sc-theme .sc-menu-view a.sc-menu.sc-last-segment.active {
	background: #999999;
}

.sc-theme .sc-menu-view a.sc-menu.sc-first-segment.sel,
.sc-theme .sc-menu-view a.sc-menu.sc-first-segment.active {
	background: #999999;
}

.sc-theme .sc-menu-view a.sc-menu.sc-middle-segment.sel,
.sc-theme .sc-menu-view a.sc-menu.sc-middle-segment.active {
	background: #999999;
}*/

/* DISABLED */

/*.sc-theme .sc-menu-view a.sc-menu.disabled .sc-button-inner,
.sc-theme .sc-menu-view.disabled a.sc-menu .sc-button-inner {
	background: #FFFFFF;
	color: #999;
}

.sc-theme .sc-menu-view a.sc-menu.sc-last-segment.disabled,
.sc-theme .sc-menu-view.disabled a.sc-menu.sc-last-segment {
	background: #FFFFFF;
}

.sc-theme .sc-menu-view a.sc-menu.sc-first-segment.disabled,
.sc-theme .sc-menu-view.disabled a.sc-menu.sc-first-segment {
	background: #FFFFFF;
}

.sc-theme .sc-menu-view a.sc-menu.sel .sc-button-inner.disabled,
.sc-theme .sc-menu-view.disabled a.sc-menu.sel .sc-button-inner {
	background: #FFFFFF;
}

.sc-theme .sc-menu-view a.sc-menu.sc-last-menu.sel.disabled,
.sc-theme .sc-menu-view.disabled a.sc-menu.sc-last-segment.sel {
	background: #FFFFFF;
}

.sc-theme .sc-menu-view a.sc-menu.sc-first-segment.sel.disabled,
.sc-theme .sc-menu-view.disabled a.sc-menu.sc-first-segment.sel {
	background: #FFFFFF;
}*/


/*added custom css classes
.sc-theme .sc-menu-view #menu{
	margin: 0 0;
	position: relative;	
}

.sc-theme .sc-menu-view #nav{
	padding-top: 2px;
	padding-left: -1px;
	margin: 0 0;
	z-index: 30;
}

.sc-theme .sc-menu-view #nav li a
{ 
	display: block;
	margin: 0 0 0 0;
	padding: 0 0;
	width: 90px;
	color: #000000;
	text-align: center;
	line-height: 29px;
	text-decoration: none;
}

.sc-theme .sc-menu-view #nav li
{ margin: 0;
padding: 0;
list-style: none;
float: left;
}
*/