/* @override 
	http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1227701833/segmented.css
	http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1227702837/segmented.css
*/

.sc-theme .sc-segmented-view {
  display: block;
}

.sc-theme .sc-segmented-view a.sc-segment {
	text-decoration: none ;
	color: black ;
	text-align: center;
}

.sc-theme a.sc-segment:active, a.sc-segment:focus {
	outline: none;
}

.sc-theme a.sc-segment img.icon {
	position: relative;
	vertical-align: middle;
	top: -2px;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}

/* @group Layout */

.sc-theme .sc-segmented-view a.sc-segment {
	display: block;
	top: 0;
	height: 22px;
	line-height: 22px;
	border-right: 1px #555 solid;
	text-shadow: #b0b0b0 0px 1px 0px;
}

.sc-theme .sc-segmented-view .sc-button-inner {
	display: block;
	min-width: 20px;
	min-height: 22px;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-first-segment {
	padding-left: 10px;
}


.sc-theme .sc-segmented-view a.sc-segment.sc-first-segment .sc-button-inner {
	padding-right: 10px;
}
.sc-theme .sc-segmented-view a.sc-segment.sc-middle-segment .sc-button-inner {
	padding-left: 10px;
	padding-right: 10px;
  
}
.sc-theme .sc-segmented-view a.sc-segment.sc-last-segment .sc-button-inner {
	padding-left: 10px;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-last-segment {
	padding-right: 10px;
	border:none;
}

/* @end */

/* @group Basic Round */

/* NORMAL */

.sc-theme .sc-segmented-view a.sc-segment .sc-button-inner {
 	background: #DDDDDD;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-last-segment {
 	background: #DDDDDD;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-first-segment {
	background: #DDDDDD;
}


/* SELECTED */
.sc-theme .sc-segmented-view a.sc-segment.active .sc-button-inner,
.sc-theme .sc-segmented-view a.sc-segment.sel .sc-button-inner {
	background: #999999;
	text-shadow: #909090 0px 1px 0px;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-last-segment.sel,
.sc-theme .sc-segmented-view a.sc-segment.sc-last-segment.active {
	background: #999999;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-first-segment.sel,
.sc-theme .sc-segmented-view a.sc-segment.sc-first-segment.active {
	background: #999999;
}

/* DISABLED */

.sc-theme .sc-segmented-view a.sc-segment.disabled .sc-button-inner,
.sc-theme .sc-segmented-view.disabled a.sc-segment .sc-button-inner {
	background: #FFFFFF;
	color: #999;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-last-segment.disabled,
.sc-theme .sc-segmented-view.disabled a.sc-segment.sc-last-segment {
	background: #FFFFFF;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-first-segment.disabled,
.sc-theme .sc-segmented-view.disabled a.sc-segment.sc-first-segment {
	background: #FFFFFF;
}

.sc-theme .sc-segmented-view a.sc-segment.sel .sc-button-inner.disabled,
.sc-theme .sc-segmented-view.disabled a.sc-segment.sel .sc-button-inner {
	background: #FFFFFF;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-last-segment.sel.disabled,
.sc-theme .sc-segmented-view.disabled a.sc-segment.sc-last-segment.sel {
	background: #FFFFFF;
}

.sc-theme .sc-segmented-view a.sc-segment.sc-first-segment.sel.disabled,
.sc-theme .sc-segmented-view.disabled a.sc-segment.sc-first-segment.sel {
	background: #FFFFFF;
}



/* @end */


