/* SC.TabView */

.sc-tab-view > .sc-container-view {
  border: 1px #888 solid;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: visible;
}

.sc-theme .sc-tab-view .sc-container-view .sc-segmented-view{
  z-index:100;
}