/* Overriding some of the styles on checkbox */

$theme.sc-list-item-view .sc-checkbox-view {
  background-color: transparent;
  border: 0 none;
  margin-top: -9px;
}

$theme.sc-list-item-view $theme.disclosure {
  position: absolute;
  left: -12px;
  top: 50%;
  margin-top: -6px;
  
  width: 18px;
  height: 18px;
}