language: ruby
rvm:
  - 1.9.3

install: true

before_script:
  - ./scripts/run_sc_server_master.sh
  - sleep 5 # give sc-server some time to start

script: phantomjs phantomjs/test_runner.js --no-experimental --exclude-targets=/sproutcore/greenhouse

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/92ce5eab32d974c44c69
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
