.sc-alert-panel {
  background: sc_static('standard-white-fade') repeat ;
}


.sc-alert-panel .info {
	position: relative ;
	min-height: 48px;
	padding: 20px 12px 58px 74px;
}

.sc-alert-panel .info img.icon {
	position: absolute;
	left: 12px;
	top: 14px;
}

.sc-alert-panel .info h1 {
	background-color: transparent;
	color: black;
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-bottom: 6px;
	font-family: inherit ;
}

.sc-alert-panel .info p.description {
	padding: 0;
	margin: 6px 0px;
	font-size: 13px;
	margin-right: 20px;
}

.sc-alert-panel .info p.caption {
	padding: 0;
	margin: 6px 0px;
	font-size: 11px;
	margin-right: 20px;
}

.sc-alert-panel .info .seperator {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0px;
	bottom: 50px;
	background: static_url('images/standard_fade/ffffff.png') repeat-x;
}