.sc-alert {
  background: white;
}

.sc-pane.sc-panel.sc-alert > div > .sc-view {
  overflow: visible;
}

.sc-alert .info {
  position: relative ;
  min-height: 48px;
  padding: 20px 12px 58px 74px;
}

.sc-alert .info.plain {
  padding: 20px 12px 58px 16px;
}

.sc-alert .info img.icon {
  position: absolute;
  left: 12px;
  top: 14px;
}

.sc-alert .info h1 {
  background-color: transparent;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-bottom: 6px;
  font-family: inherit ;
}

.sc-alert .info p.description {
  padding: 0;
  margin: 6px 0px;
  font-size: 12px;
  margin-right: 20px;
}

.sc-alert .info p.caption {
  padding: 0;
  margin: 6px 0px;
  font-size: 11px;
  margin-right: 20px;
}

.sc-alert .info .separator {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 50px;
  background: #eaeaea ;
}