.sc-button-view.sc-menu-item {
  background-color: #ffffff none repeat scroll 0 0;
  border: none;
}

.sc-button-view.sc-menu-item.sc-small-size a span {
  line-height: 11px;
  font-size: 11px;
}

.sc-menu-item.sc-small-size a{
  line-height: 11px;
}

.sc-menu-item a {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  line-height: 22px;
  text-decoration: none ;
  text-align: left;
  color: black;
  outline: none ;
}

.sc-menu-item.disabled a{
  color:#A0A0A0;
}

.sc-menu-item.disabled{
  border:none;
  color:#A0A0A0;
}

.sc-menu-item span.separator{
  display: block;
  height: 1px;
  border-bottom: 1px #cccccc solid;
}

.sc-menu-item img {
  left: 24px;
  top: 3px;
  display: block;
  position: absolute;
}

/*for the shortcut keys*/
.sc-menu-item a span.shortcut {
  position:absolute;
  right:5px;
  margin-right:15px;
  text-align:center;
  font-size: 12px;
}

.sc-menu-item.disabled a:hover {
  background-color: transparent;
  color:#A0A0A0;
}
/* @end */

.sc-menu-item div.checkbox {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  left: 6px;
  top: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.sc-menu-item.focus div.checkbox {
}

.sc-menu-item.disabled.focus div.checkbox {
  background-image: sc_static('icons/mini_454545'); 
}


.sc-menu-item.disabled div.checkbox,
.sc-menu-item div.checkbox.inactive {
  background-image: url(data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==) top left no-repeat; 
  *background-image: sc_static('blank.gif') top left no-repeat; /* IE < 8 */
}

.sc-menu-item span.value {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 5px;
  display: inline-block;
  text-align:left;
  margin-left:25px;
}

.sc-menu-item a.has-icon span.value {
  margin-left: 44px;
}

.sc-menu-item a.shortcutkey span.value {
  right: 55px;
}

