/* @override http://localhost:4020/static/sproutcore/empty_theme/en/current/source/panel.css?1235210504 */

/** SC.Panel Support */

.sc-pane.sc-panel {
}

.sc-pane.sc-panel > .sc-view {
	border: 0px #444 solid;
	border-top: 1px #ddd solid;
	background-color: #fafafa ;
	overflow: visible;
}

.sc-pane.sc-panel > .sc-view .top-right-edge {
	background: static_url('images/panels/top-right-corner.png') no-repeat ;
	width: 5px;
	height: 9px;
}

.sc-pane.sc-panel > .sc-view .top-left-edge {
	background: static_url('images/panels/top-left-corner.png') no-repeat ;
	width: 5px;
	height: 9px;
}

.sc-pane.sc-panel > .sc-view .bottom-left-edge {
	background: static_url('images/panels/bottom-left-corner.png') no-repeat ;
	width: 10px;
	height: 5px;
}

.sc-pane.sc-panel > .sc-view .bottom-right-edge {
	background: static_url('images/panels/bottom-right-corner.png') no-repeat ;
	width: 10px;
	height: 5px;
}

.sc-pane.sc-panel > .sc-view .top-edge {
	background: static_url('images/panels/top-edge.png') repeat-x ;
	height: 4px;
}

.sc-pane.sc-panel > .sc-view .bottom-edge {
	background: static_url('images/panels/bottom-edge.png') repeat-x ;
	height: 5px;
}

.sc-pane.sc-panel > .sc-view .left-edge {
	background: static_url('images/panels/left-edge.png') repeat-y ;
	width: 5px;
}

.sc-pane.sc-panel > .sc-view .right-edge {
	background: static_url('images/panels/right-edge.png') repeat-y ;
	width: 5px;
}

.sc-pane.sc-panel > .sc-view .pointer {
	background: static_url('images/panels/reveal-tabs.png') no-repeat;
	width: 0px;
	height: 0px;
}
