/** SC.PickerPane Support */

.sc-pane.sc-panel.sc-palette.sc-picker {
  overflow: hidden;
}

.sc-pane.sc-panel.sc-picker .top-right-edge {
  background: static_url('images/panels/shadow_corners.png') no-repeat 0px -574px;
  position: absolute;
  width: 30px;
  height: 26px;
  top: -20px;
  right: -21px;
}

.sc-pane.sc-panel.sc-picker .top-left-edge {
  background: static_url('images/panels/shadow_corners.png') no-repeat -10px -494px;
  position: absolute;
  width: 30px;
  height: 26px;
  top: -20px;
  left: -20px;
}

.sc-pane.sc-panel.sc-picker .bottom-left-edge {
  background: static_url('images/panels/shadow_corners.png') no-repeat -10px -520px;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -30px;
  left: -20px;
}

.sc-pane.sc-panel.sc-picker .bottom-right-edge {
  background: static_url('images/panels/shadow_corners.png') no-repeat 0px -600px;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -30px;
  right: -21px;
}

.sc-pane.sc-panel.sc-picker .top-edge {
  background: static_url('images/panels/shadows_repeat_x.png') repeat-x 0px -180px;
  position: absolute;
  height: 20px;
  top: -20px;
  right: 9px;
  left: 10px;
}

.sc-pane.sc-panel.sc-picker .bottom-edge {
  background: static_url('images/panels/shadows_repeat_x.png') repeat-x 0px -210px;
  position: absolute;
  height: 30px;
  bottom: -30px;
  right: 9px;
  left: 10px;
}

.sc-pane.sc-panel.sc-picker .left-edge {
  background: static_url('images/panels/shadows_repeat_y.png') repeat-y -180px 0px;
  position: absolute;
  width: 20px;
  top: 6px;
  bottom: 0px;
  left: -20px;
}

.sc-pane.sc-panel.sc-picker .right-edge {
  background: static_url('images/panels/shadows_repeat_y.png') repeat-y -210px 0px;
  position: absolute;
  width: 20px;
  top: 6px;
  bottom: 0px;
  right: -20px;
}

.sc-pane.sc-panel.sc-picker .perfectRight {
  background: static_url('images/panels/reveal-tabs.png') no-repeat 0px -64px;
  position: absolute;
  width: 25px;
  height: 51px;
  top: 20px;
  left: -25px;
}

.sc-pane.sc-panel.sc-picker .perfectLeft {
  background: static_url('images/panels/reveal-tabs.png') no-repeat -32px -64px;
  position: absolute;
  width: 25px;
  height: 51px;
  top: 20px;
  right: -25px;
}

.sc-pane.sc-panel.sc-picker .perfectTop {
  background: static_url('images/panels/reveal-tabs.png') no-repeat 0px 0px;
  position: absolute;
  width: 51px;
  height: 31px;
  bottom: -41px;
  left: 50%;
  margin-left: -25px;
}

.sc-pane.sc-panel.sc-picker .perfectBottom {
  background: static_url('images/panels/reveal-tabs.png') no-repeat 0px -32px;
  position: absolute;
  width: 51px;
  height: 19px;
  top: -29px;
  left: 50%;
  margin-left: -25px;
}
