/* SC.ProgressView */

.sc-progress-view {
	border: 1px solid #555555;
	background-color: #c8c8c8;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.sc-progress-view.disabled {
	background-color: #e8e8e8;
	border: 1px #9a9a9a solid;
}

.sc-progress-view .sc-inner {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
 	background: #555555;
	border-right: 1px solid #555555;
}

.sc-progress-view.sc-indeterminate .sc-inner {
 	background: #555555;
 	border: 0;
}

.sc-progress-view.sc-empty .sc-inner {
	border: none;
}