.sc-separator-view.sc-layout-horizontal span {
  position: absolute;
  top: 50%;
  height: 1px;
  border-top: 1px #ccc solid;
  background-color: #fefefe;
  left: 0;
  right: 0;
}

.sc-separator-view.sc-layout-vertical span {
  position: absolute;
  left: 50%;
  width: 1px;
  border-left: 1px #ccc solid;
  background-color: #fefefe;
  top: 0;
  bottom: 0;
}
