/* @override http://localhost:4020/static/sproutcore/en/_cache/panes-1206750928.css */

/* @group SC.SplitView */

/*.sc-split-view.horizontal > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 155px;
  right: 0;
}

.sc-split-view.horizontal.thin > div {
  left: 151px;
}

.sc-split-view.horizontal.thick > div {
  left: 159px;
}

.sc-split-view.horizontal > div:first-child {
  left: 0;
  width: 150px;
  right: auto;
}
*/

/*.sc-split-view.horizontal.thin > .sc-split-divider-view {
  left: 150px;
  width: 1px;
}

.sc-split-view.horizontal.thick > .sc-split-divider-view {
  left: 150px;
  width: 7px;
}

.sc-split-view.vertical > div {
  position: absolute;
  top: 155px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sc-split-view.vertical.thin > div {
  top: 151px;
}

.sc-split-view.vertical.thick > div {
  top: 159px;
}

.sc-split-view.vertical > div:first-child {
  top: 0;
  height: 150px;
  bottom: auto;
}
*/
/*.sc-split-view.vertical.thin > .sc-split-divider-view {
  top: 150px;
  height: 1px;
}

.sc-split-view.vertical.thick > .sc-split-divider-view {
  top: 150px;
  height: 7px;
}
*/
/* @end */