
@theme(sc-large-size)

@view(sc-segmented-view) {
  
  /*
    DEFAULT STATE
  */
  .sc-segment {
    height: 30px;
    
    .button-left {
      width: 8px;
      height: 30px;
      background: sprite("segmented_normal.png" [100 8]);
    }
    
    .button-right {
      width: 8px;
      height: 30px;
      background: sprite("segmented_normal.png" [92 8]);
    }
    
    .button-middle {
      height: 30px;
      background: sprite("segmented_normal.png" repeat-x [8, 1]);
    }
    
    .sc-button-label {
      font-size: 13px;
      margin-top: 3px;
    }
  }
  
  .sc-segment.sc-first-segment .button-left {
    background: sprite("segmented_normal.png" [0 8]);  
  }
    
  .sc-segment.sc-last-segment .button-right {
    background: sprite("segmented_normal.png" [-8]);  
  }
  
  
  /* ACTIVE STATE */
  .sc-segment.active {
    .button-left { background: sprite("segmented_active.png" [100 8]); }
    .button-right { background: sprite("segmented_active.png" [92 8]); }
    .button-middle { background: sprite("segmented_active.png" repeat-x [8, 1]); }
  }
  
  .sc-segment.active.sc-first-segment {
    .button-left { background: sprite("segmented_active.png" [0 8]); }  
  }
  
  .sc-segment.active.sc-last-segment {
    .button-right { background: sprite("segmented_active.png" [-8]); }
  }
  
  
  /* SELECTED STATE */
  .sc-segment.sel {
    .button-left { background: sprite("segmented_selected.png" [100 8]); }
    .button-right { background: sprite("segmented_selected.png" [92 8]); }  
    .button-middle { background: sprite("segmented_selected.png" repeat-x [8, 1]); }
  }

  .sc-segment.sel.sc-first-segment .button-left {
    background: sprite("segmented_selected.png" [0 8]);  
  }

  .sc-segment.sel.sc-last-segment .button-right {
    background: sprite("segmented_selected.png" [-8]);
  }
  
  
  /* SELECTED ACTIVE STATE */
  .sc-segment.sel.active {
    .button-left { background: sprite("segmented_selected_active.png" [100 8]); }
    .button-right { background: sprite("segmented_selected_active.png" [92 8]); }  
    .button-middle { background: sprite("segmented_selected_active.png" repeat-x [8, 1]); }
  }

  .sc-segment.sel.active.sc-first-segment .button-left {
    background: sprite("segmented_selected_active.png" [0 8]);  
  }

  .sc-segment.sel.active.sc-last-segment .button-right {
    background: sprite("segmented_selected_active.png" [-8]);
  }

}

@end
