
$theme.sc-text-field-view {

  .webkit &{
    &.focus {
      outline: auto 7px -webkit-focus-ring-color; 
      outline-offset: -2px;
    } 
    .border {
      -webkit-appearance: textfield;
    }
  }

  .firefox &{
    &.focus {
      outline-color:-moz-mac-focusring;
      outline-offset:-5px;
      outline-style:solid;
      outline-width:3px;
    } 
    .border {
      -moz-appearance: textfield;
    }
    textarea.field {
      height: 100%;
    }
  }

  .ie &{
    &.focus {
      outline: 1px dotted;
    }
    .border {
      border:1px inset;
    }
    textarea.field {
      height: 100%;
    }
  }

  .opera &{
    .border {
      border:1px inset;
    }
  }

  .mobile-safari &{
    .border {
      border:1px inset;
    }
  }
}

