/* Track */
@view(sc-scroller-view).sc-horizontal .track {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	bottom: 0;
	background: sprite("track_and_arrows.png" repeat-x [16 0 1 14]);
}

/* Cap */
@view(sc-scroller-view).sc-horizontal .cap {
	position:absolute;
	width: 16;
	height: 14px;
	width: 16px;
	left: 0px;
	background: sprite("track_and_arrows.png" [0 0 16 14]);
}

/* Buttons */
@view(sc-scroller-view).sc-horizontal .button-left {
	position:absolute;
	background: sprite("track_and_arrows.png" [-40 0 26 14]);
	width: 26px;
    height: 14px;
    right: 14px;
}

@view(sc-scroller-view).sc-horizontal .button-right {
	position:absolute;
	background: sprite("track_and_arrows.png" [-15 0 15 14]);
	width: 15px;
    height: 14px;
    right: 0px;
}

/* Active */
@view(sc-scroller-view).sc-horizontal .button-left:active {
	background: sprite("track_and_arrows_active.png" [-40 0 26 14]);
}

@view(sc-scroller-view).sc-horizontal .button-right:active {
	background: sprite("track_and_arrows_active.png" [-15 0 15 14]);
}

/* Thumb */
@view(sc-scroller-view).sc-horizontal .thumb {
	position:absolute;
}

@view(sc-scroller-view).sc-horizontal .thumb-center {
	position: absolute;
	height: 14px;
	left: 10px;
	right: 10px;
	background: sprite("thumb.png" repeat-x [10 0 1 14]);
}

@view(sc-scroller-view).sc-horizontal .thumb-left {
	position: absolute;
	height: 14px;
	left: 0px;
	width: 10px;
	background: sprite("thumb.png" [0 0 10 14]);
}

@view(sc-scroller-view).sc-horizontal .thumb-right {
	position: absolute;
	height: 14px;
	right: 0px;
	width: 10px;
	background: sprite("thumb.png" [-10 0 10 14]);
}