/* @override 
	http://localhost:4020/static/sproutcore/en/_cache/buttons-1207550134.css
	http://localhost:4020/static/sproutcore/en/_cache/buttons-1207585975.css
*/

/* @group Button Core */

a.button:active,
a.button:focus {
	outline: none ;	
}

a.button {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: pointer;
	text-decoration: none ;
	color: black ;
	border: none ;
	padding: 0;
	margin: 0;
}

a.button img {
	border: none ;
}

/* @end */

/* @group regular */

/* @group basic */

a.regular, 
a.back {
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	height: 22px;
	min-width: 32px;
	padding-right: 20px;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px ;
}

a.regular img,
a.back img {
	position: absolute ;
	top: 3px;
	left: 12px;	
}

a.regular span.button-inner {
	display: block ;
	height: 22px;
	position: relative ;
}

a.back span.button-inner {
	display: block ;
	height: 22px;
	position: relative ;
}

a.back span.label,
a.regular span.label {
 	display: block ;
	font-weight: bold;
	text-align: center;
	padding-top: 3px;
	height: 19px;
	margin-left: 20px;
}

a.regular.image span.label,
a.back.image span.label {
	padding-left: 12px;
	margin-right: -2px;
}

a.back span.label {
	margin-left:  24px;
}


/* @end */

/* @group disabled */

.sc-theme.blur a.regular,
.sc-theme.focus a.regular.disabled {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -496px;
}

.sc-theme.blur a.regular span.button-inner,

.sc-theme.focus a.regular.disabled span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -450px;
}

.sc-theme.blur a.regular span.label, 
.sc-theme.focus a.regular.disabled span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -473px;
	color: #999;
}


.sc-theme.blur a.regular.sel, 
.sc-theme.blur a.regular.def, 

.sc-theme.focus a.regular.sel.disabled, 
.sc-theme.focus a.regular.def.disabled {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -289px;
}

.sc-theme.blur a.regular.sel span.button-inner,
.sc-theme.blur a.regular.def span.button-inner,

.sc-theme.focus a.regular.sel.disabled span.button-inner,
.sc-theme.focus a.regular.def.disabled span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -243px;
}

.sc-theme.blur a.regular.def span.label, 
.sc-theme.blur a.regular.sel span.label, 

.sc-theme.focus a.regular.def.disabled span.label, 
.sc-theme.focus a.regular.sel.disabled span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -266px;
	color: #999;
}

/* @end */

/* @group enabled */

a.regular {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -358px;
}

a.regular span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -312px;
}

a.regular span.label {
 	background: transparent static_url('images/buttons-sprite.png') repeat-x left -335px;
}

/* @end */

/* @group sel - def */

a.regular.sel, 
a.regular.def {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -151px;
}

a.regular.sel span.button-inner, 
a.regular.def span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -105px;
}

a.regular.sel span.label, 
a.regular.def span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -128px;
}

/* @end */

/* @group sel.active - def.active */

a.regular.sel.active, 
a.regular.def.active {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -220px;
}

a.regular.sel.active span.button-inner, 
a.regular.def.active span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -174px;
}

a.regular.sel.active span.label, 
a.regular.def.active span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -197px;
}

/* @end */

/* @group active */

a.regular.active {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -427px;
}

a.regular.active span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -381px;
}

a.regular.active span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -404px;
}

/* @end */


/* @end */

/* @group segments */

a.regular.segment.segment-inner,
a.regular.segment.segment-left,
a.regular.segment.segment-right span.button-inner,
a.regular.segment.segment-inner span.button-inner {
	background: none;
	padding-right: 0;
	padding-left: 0;
}

a.regular.segment.segment-inner,
a.regular.segment.segment-left {
	margin-right: 0;	
}

a.regular.segment.segment-inner,
a.regular.segment.segment-right,
a.regular.segment.segment-inner span.label,
a.regular.segment.segment-right span.label {
	margin-left: 0;	
}

a.regular.segment.segment-inner span.label,
a.regular.segment.segment-left span.label {
	padding-right: 12px;
}

a.regular.segment.segment-inner span.label,
a.regular.segment.segment-right span.label {
	padding-left: 12px;
}

a.regular.segment.segment-left span.label {
	margin-left: 16px;
}

a.regular.segment.segment-right {
	padding-right: 16px;
}

a.regular.segment.segment-right {
	padding
}

a.regular.segment.segment-inner,
a.regular.segment.segment-left {
	border-right: 1px #888 solid ;
}

a.segment span.label {
	font-weight: normal; 
}

/* @end */

/* @group checkbox */

/* @group basic */

a.checkbox {
	margin-right: 4px;
	margin-left: 4px;
}

a.checkbox img.button {
	width: 16px;
	height: 16px;
	vertical-align: middle ;
	position: relative ;
	top: -1px;
	background: static_url('images/buttons-sprite.png') no-repeat -32px -728px;
} 

a.checkbox.sel img.button {
	background: static_url('images/buttons-sprite.png') no-repeat 0px -728px;
}

a.checkbox.mixed img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -16px -744px;
}



/* @end */

/* @group disabled */

a.checkbox.disabled {
	color: #999;
}

a.checkbox.disabled img.button {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -760px;
} 

a.checkbox.sel.disabled img.button {
	background: static_url('images/buttons-sprite.png') no-repeat 0px -760px;
}

a.checkbox.mixed.disabled img.button {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -760px;
}



/* @end */

/* @group active */

a.checkbox.active img.button {
	background: static_url('images/buttons-sprite.png') no-repeat 0px -744px;
} 

a.checkbox.sel.active img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -16px -728px;
}

a.checkbox.mixed.active img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -32px -744px;
}



/* @end */

/* @end */

/* @group radio */

/* @group basic */

a.radio {
	margin-right: 4px;
	margin-left: 4px;
}

a.radio img.button {
	width: 16px;
	height: 16px;
	vertical-align: middle ;
	position: relative ;
	top: -1px;
	background: static_url('images/buttons-sprite.png') no-repeat 0px -776px;
} 

a.radio.sel img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -16px -760px;
}

a.radio.mixed img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -32px -776px;
}



/* @end */

/* @group disabled */

a.radio.disabled {
	color: #999;
}

a.radio.disabled img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -16px -792px;
} 

a.radio.sel.disabled img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -16px -792px;
}

a.radio.mixed.disabled img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -16px -792px;
}



/* @end */

/* @group active */

a.radio.active img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -16px -776px;
} 

a.radio.sel.active img.button {
	background: static_url('images/buttons-sprite.png') no-repeat -32px -760px;
}

a.radio.mixed.active img.button {
	background: static_url('images/buttons-sprite.png') no-repeat 0px -792px;
}


/* @end */

/* @end */

/* @group square - back */

/* @group basic */

a.square {
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	height: 22px;
	text-align: center;
	margin: 0;
}

a.square span.button-inner {
	display: block ;
	padding: 0;
}

a.square span.label {
 	background: transparent static_url('images/buttons-sprite.png') repeat-x 0px -335px;
 	display: block ;
	//font-weight: bold;
	text-align: center;
	padding-top: 3px;
	height: 19px;
	padding-left: 8px;
	padding-right: 8px;
	border-left: 1px #888 solid ;
	border-right: 1px #888 solid ;
}

/* @end */

/* @group sel - def */

a.square.sel span.label, 
a.square.def span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -128px;
}

/* @end */

/* @group disabled */

a.square.disabled span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -473px;
	color: #999;
}

a.square.def.disabled span.label, 
a.square.sel.disabled span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -266px;
	color: #999;
}

/* @end */

/* @group sel.active - def.active */

a.square.sel.active span.label, 
a.square.def.active span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -197px;
}

/* @end */

/* @group active */

a.square.active span.label {
	background: static_url('images/buttons-sprite.png') repeat-x 0 -404px;
}

/* @end */


/* @end */

/* @group popup - dropdown */

/* @group basic */

a.popup, 
a.dropdown {
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	height: 22px;
	min-width: 32px;
	padding-right: 32px;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px ;
}

a.dropdown {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -565px;
}

a.popup {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -565px;
}


a.dropdown span.button-inner,
a.popup span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -519px;
	display: block ;
	height: 22px;
}

a.dropdown span.label,
a.popup span.label {
 	background: transparent static_url('images/buttons-sprite.png') repeat-x 0px -542px;
 	display: block ;
	font-weight: normal;
	text-align: left;
	padding-top: 3px;
	height: 19px;
	margin-left: 13px;
}



/* @end */

/* @group active */

a.dropdown.active {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -634px;
}

a.popup.active {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -634px;
}

a.dropdown.active span.button-inner,
a.popup.active span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -588px;
}

a.dropdown.active span.label,
a.popup.active span.label {
 	background: transparent static_url('images/buttons-sprite.png') repeat-x left -611px;
}

/* @end */

/* @group disabled */

a.dropdown.disabled {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -703px;
}

a.popup.disabled {
	background: transparent static_url('images/buttons-sprite.png') no-repeat scroll right -703px;
}

a.dropdown.disabled span.button-inner,
a.popup.disabled span.button-inner {
	background: static_url('images/buttons-sprite.png') no-repeat 0 -657px;
}

a.dropdown.disabled span.label,
a.popup.disabled span.label {
 	background: transparent static_url('images/buttons-sprite.png') repeat-x left -680px;
 	color: #999;
}

/* @end */

/* @end */



