/* @override http://localhost:4020/static/sproutcore/en/_cache/buttons-1208588621.css */

/* @group Button Core */

a.sc-button-view:active,
a.sc-button-view:focus {
	outline: none ;	
}

a.sc-button-view {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
  cursor: default;
	text-decoration: none ;
	color: black ;
	border: none ;
	padding: 0;
	margin: 0;
}

a.sc-button-view img {
	border: none ;
}

/* @end */

/* @group regular */

/* @group basic */

a.regular {
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	height: 22px;
	min-width: 32px;
	padding-right: 20px;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px ;
}

a.regular img {
	position: absolute ;
	top: 3px;
	left: 12px;	
}

a.regular span.button-inner {
	display: block ;
	height: 22px;
	position: relative ;
	max-height: 22px;
}

a.regular span.label {
 	display: block ;
	text-align: center;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
	margin-left: 20px;
	text-shadow: #f0f0f0 0px 1px 0px;
}

a.regular.image span.label {
	padding-left: 12px;
	margin-right: -2px;
}

/* @end */

/* @group disabled */

.sc-theme.blur a.regular,
.sc-theme.focus a.regular.disabled {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -496px;
}

.sc-theme.blur a.regular span.button-inner,
.sc-theme.focus a.regular.disabled span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -450px;
}

.sc-theme.blur a.regular span.label, 
.sc-theme.focus a.regular.disabled span.label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -473px;
	color: #999;
	text-shadow: none ;
}


.sc-theme.blur a.regular.sel, 
.sc-theme.blur a.regular.def, 

.sc-theme.focus a.regular.sel.disabled, 
.sc-theme.focus a.regular.def.disabled {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -289px;
}

.sc-theme.blur a.regular.sel span.button-inner,
.sc-theme.blur a.regular.def span.button-inner,

.sc-theme.focus a.regular.sel.disabled span.button-inner,
.sc-theme.focus a.regular.def.disabled span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -243px;
}

.sc-theme.blur a.regular.def span.label, 
.sc-theme.blur a.regular.sel span.label, 

.sc-theme.focus a.regular.def.disabled span.label, 
.sc-theme.focus a.regular.sel.disabled span.label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -266px;
	color: #999;
	text-shadow: none ;
}

/* @end */

/* @group enabled */

.sc-theme a.regular {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -358px;
}

.sc-theme a.regular span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -312px;
}

.sc-theme a.regular span.label {
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x left -335px;
}

/* @end */

/* @group sel - def */

.sc-theme a.regular.sel, 
.sc-theme a.regular.def {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -151px;
}

.sc-theme a.regular.sel span.button-inner, 
.sc-theme a.regular.def span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -105px;
}

.sc-theme a.regular.sel span.label, 
.sc-theme a.regular.def span.label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -128px;
	text-shadow: #dabec6 0px 1px 0px;
}

/* @end */

/* @group sel.active - def.active */

.sc-theme a.regular.sel.active, 
.sc-theme a.regular.def.active {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -220px;
}

.sc-theme a.regular.sel.active span.button-inner, 
.sc-theme a.regular.def.active span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -174px;
}

.sc-theme a.regular.sel.active span.label, 
.sc-theme a.regular.def.active span.label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -197px;
	text-shadow: #b884a4 0px 1px 0px;
}

/* @end */

/* @group active */

.sc-theme a.regular.active {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -427px;
}

.sc-theme a.regular.active span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -381px;
}

.sc-theme a.regular.active span.label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -404px;
	text-shadow: #b8b8b8 0px 1px 0px;
}

/* @end */

/* @group square theme */

.sc-theme .sc-square-theme a.regular,
.sc-theme .sc-square-theme a.regular.def {
 	background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -1150px;
} 

.sc-theme .sc-square-theme a.regular span.button-inner,
.sc-theme .sc-square-theme a.regular.def span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat left -1104px; 
} 

.sc-theme .sc-square-theme a.regular span.label,
.sc-theme .sc-square-theme a.regular.def span.label {
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x 0px -1127px;
	text-shadow: #dabec6 0px 1px 0px;
}

.sc-theme .sc-square-theme a.regular.sel,
.sc-theme .sc-square-theme a.regular.active {
 	background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -1219px;
} 

.sc-theme .sc-square-theme a.regular.sel span.button-inner,
.sc-theme .sc-square-theme a.regular.active span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat left -1173px; 
} 

.sc-theme .sc-square-theme a.regular.sel span.label,
.sc-theme .sc-square-theme a.regular.active span.label {
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x 0px -1196px;
	text-shadow: #b884a4 0px 1px 0px;
}

.sc-theme.blur .sc-square-theme a.regular,
.sc-theme .sc-square-theme a.regular.disabled {
 	background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -1288px;
} 

.sc-theme.blur .sc-square-theme a.regular span.button-inner,
.sc-theme .sc-square-theme a.regular.disabled span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat left -1242px; 
} 

.sc-theme.blur .sc-square-theme a.regular span.label,
.sc-theme .sc-square-theme a.regular.disabled span.label {
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x 0px -1265px;
	text-shadow: none ;
}

/* @end */


/* @end */

/* @group segments */

.sc-theme a.regular.segment.segment-inner,
.sc-theme a.regular.segment.segment-left,
.sc-theme a.regular.segment.segment-right span.button-inner,
.sc-theme a.regular.segment.segment-inner span.button-inner {
	background: none;
	padding-right: 0;
	padding-left: 0;
}

.sc-theme a.regular.segment.segment-inner,
.sc-theme a.regular.segment.segment-left {
	margin-right: 0;	
}

.sc-theme a.regular.segment.segment-inner,
.sc-theme a.regular.segment.segment-right,
.sc-theme a.regular.segment.segment-inner span.label,
.sc-theme a.regular.segment.segment-right span.label {
	margin-left: 0;	
}

.sc-theme a.regular.segment.segment-inner span.label,
.sc-theme a.regular.segment.segment-left span.label {
	padding-right: 12px;
}

.sc-theme a.regular.segment.segment-inner span.label,
.sc-theme a.regular.segment.segment-right span.label {
	padding-left: 12px;
}

.sc-theme a.regular.segment.segment-left span.label {
	margin-left: 16px;
}

.sc-theme a.regular.segment.segment-right {
	padding-right: 16px;
}

.sc-theme a.regular.segment.segment-inner,
.sc-theme a.regular.segment.segment-left {
	border-right: 1px #888 solid ;
	height: 21px;
}

.sc-theme .sc-square-theme a.regular.segment.segment-inner,
.sc-theme .sc-square-theme a.regular.segment.segment-left {
	border-right: 1px solid #625560;
	height: 21px;
}

.sc-theme .sc-square-theme a.regular.segment.segment-inner.disabled,
.sc-theme .sc-square-theme a.regular.segment.segment-left.disabled {
	border-right: 1px solid #888;
	height: 21px;
}

.sc-theme a.segment span.label {
	font-weight: normal; 
}

/* @end */

/* @group checkbox */

/* @group basic */

.sc-theme a.checkbox {
	margin-right: 4px;
	margin-left: 4px;
}

.sc-theme a.checkbox img.button {
	width: 16px;
	height: 16px;
	vertical-align: middle ;
	position: relative ;
	top: -1px;
	background: static_url('images/sc-theme-sprite.png') no-repeat -32px -728px;
} 

.sc-theme a.checkbox.sel img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0px -728px;
}

.sc-theme a.checkbox.mixed img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -16px -744px;
}



/* @end */

/* @group disabled */

.sc-theme a.checkbox.disabled {
	color: #999;
}

.sc-theme a.checkbox.disabled img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -760px;
} 

.sc-theme a.checkbox.sel.disabled img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0px -760px;
}

.sc-theme a.checkbox.mixed.disabled img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -760px;
}



/* @end */

/* @group active */

.sc-theme a.checkbox.active img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0px -744px;
} 

.sc-theme a.checkbox.sel.active img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -16px -728px;
}

.sc-theme a.checkbox.mixed.active img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -32px -744px;
}



/* @end */

/* @end */

/* @group radio */

/* @group basic */

.sc-theme a.radio {
	margin-right: 4px;
	margin-left: 4px;
}

.sc-theme a.radio img.button {
	width: 16px;
	height: 16px;
	vertical-align: middle ;
	position: relative ;
	top: -1px;
	background: static_url('images/sc-theme-sprite.png') no-repeat 0px -776px;
} 

.sc-theme a.radio.sel img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -16px -760px;
}

.sc-theme a.radio.mixed img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -32px -776px;
}



/* @end */

/* @group disabled */

.sc-theme a.radio.disabled {
	color: #999;
}

.sc-theme a.radio.disabled img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -16px -792px;
} 

.sc-theme a.radio.sel.disabled img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -16px -792px;
}

.sc-theme a.radio.mixed.disabled img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -16px -792px;
}



/* @end */

/* @group active */

.sc-theme a.radio.active img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -16px -776px;
} 

.sc-theme a.radio.sel.active img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat -32px -760px;
}

.sc-theme a.radio.mixed.active img.button {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0px -792px;
}


/* @end */

/* @end */

/* @group square */

/* @group basic */

.sc-theme a.square {
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	height: 23px;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px ;
	background: static_url('images/sc-theme-sprite.png') no-repeat left -1104px;
 	padding-left: 8px;
}

.sc-theme a.square span.button-inner {
	display: block ;
	padding-right: 8px;
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x right -1150px;
 	margin-right: -2px;
}

.sc-theme a.square span.label {
 	background: transparent static_url('images/sc-theme-sprite.png') no-repeat 0px -1127px;
 	display: block ;
	text-align: center;
	padding-top: 3px;
	height: 19px;
}

/* @end */

/* @group sel - def */

.sc-theme a.square.sel, 
.sc-theme a.square.active {
	background: static_url('images/sc-theme-sprite.png') repeat-x left -1173px;
}

.sc-theme a.square.sel span.button-inner, 
.sc-theme a.square.active span.button-inner {
	background: static_url('images/sc-theme-sprite.png') repeat-x right -1219px;
}

.sc-theme a.square.sel span.label, 
.sc-theme a.square.active span.label {
	background: static_url('images/sc-theme-sprite.png') repeat-x right -1196px;
}

/* @end */

/* @group disabled */

.sc-theme a.square.disabled {
	background: static_url('images/sc-theme-sprite.png') repeat-x left -1242px;
	color: #999;
}

.sc-theme a.square.disabled span.button-inner {
	background: static_url('images/sc-theme-sprite.png') repeat-x right -1288px;
}

.sc-theme a.square.disabled span.label {
	background: static_url('images/sc-theme-sprite.png') repeat-x right -1265px;
}

/* @end */


/* @end */

/* @group popup - dropdown */

/* @group basic */

.sc-theme a.popup, 
.sc-theme a.dropdown {
	display: -moz-inline-box;
	display: inline-block;
	font-size: 13px;
	height: 22px;
	min-width: 32px;
	padding-right: 32px;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px ;
}

.sc-theme a.dropdown {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -565px;
}

.sc-theme a.popup {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -565px;
}


.sc-theme a.dropdown span.button-inner,
.sc-theme a.popup span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -519px;
	display: block ;
	height: 22px;
}

.sc-theme a.dropdown span.label,
.sc-theme a.popup span.label {
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x 0px -542px;
 	display: block ;
	font-weight: normal;
	text-align: left;
	padding-top: 3px;
	height: 19px;
	margin-left: 13px;
}



/* @end */

/* @group active */

.sc-theme a.dropdown.active {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -634px;
}

.sc-theme a.popup.active {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -634px;
}

.sc-theme a.dropdown.active span.button-inner,
.sc-theme a.popup.active span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -588px;
}

.sc-theme a.dropdown.active span.label,
.sc-theme a.popup.active span.label {
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x left -611px;
}

/* @end */

/* @group disabled */

.sc-theme a.dropdown.disabled,
.sc-theme.blur a.dropdown {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -703px;
}

.sc-theme.blur a.popup,
.sc-theme a.popup.disabled {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -703px;
}

.sc-theme.blur a.dropdown span.button-inner,
.sc-theme.blur a.popup span.button-inner,
.sc-theme a.dropdown.disabled span.button-inner,
.sc-theme a.popup.disabled span.button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -657px;
}

.sc-theme.blur a.dropdown span.label,
.sc-theme.blur a.popup span.label,
.sc-theme a.dropdown.disabled span.label,
.sc-theme a.popup.disabled span.label {
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x left -680px;
 	color: #999;
}

/* @end */

/* @end */

/* @group disclosure */

/* @group basic */

.sc-theme a.disclosure {
	margin-right: 4px;
	margin-left: 4px;
}

.sc-theme a.disclosure img.button {
	width: 12px;
	height: 12px;
	vertical-align: middle ;
	position: relative ;
	top: -2px;
	background-image: static_url('images/sc-theme-sprite.png') ;
} 

.sc-theme a.disclosure .label {
	padding-left: 2px;
}

.sc-theme a.disclosure.sel img.button {
	background-position: 0px -1008px ;
}

.sc-theme a.disclosure img.button {
	background-position: -16px -1025px ;
}



/* @end */

/* @group disabled */

.sc-theme a.disclosure.sel.disabled img.button {
	background-position: 0px -1024px ;
}

.sc-theme a.disclosure.disabled img.button {
	background-position: -16px -1041px ;
}

/* @end */

/* @group active */

.sc-theme a.disclosure.sel.active img.button {
	background-position: -16px -1008px ;
}

.sc-theme a.disclosure.active img.button {
	background-position: -0px -1041px ;
}

/* @end */



/* @end */



