/* @override 
	http://localhost:4020/static/sproutcore/en/_cache/core-1207528979.css
	http://localhost:4020/static/sproutcore/en/_cache/core-1207680408.css
*/

/* =============================================
   Core Styles
   
   These styles are required by various views.  You should keep these in your views even if you write your own theme.
*/

/* @group SC.Drag */

.sc-ghost-view {
  	position: absolute;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	opacity: 0.45;
	-moz-opacity: .45 ;
	z-index: 1000000;
	cursor: default ;
}

/* @end */

/* @group SC.ScrollView */

.sc-scroll-view {
	overflow:  hidden;
	position: relative;
}

.sc-scroll-view.sc-scroll-vertical {
	overflow-y: auto ;
}

.sc-scroll-view.sc-scroll-horizontal {
	overflow-x: auto ;
}

/* Always absolutely position children of a scroll view since the scroll view will lay them out. */
.sc-scroll-view > * {
	position: absolute ;
}

/* @end */


/* @group SC.CollectionView */

.sc-collection-view .sc-collection-item {
	cursor: pointer ;
	position: absolute ;
}

/* @end */

/* @group SC.ListItemView */

.sc-list-item-view .sc-icon {
	width: 16px;
	height: 16px;
	vertical-align: middle ;
	position: relative ;
	top:  -1px;
	margin-right: 5px;
}

.sc-list-item-view .sc-count {
	position: absolute  ;
	right: 3px ;
	margin-right: 2px;
}

.sc-list-item-view .sc-branch {
	position: absolute;
	display:  block;
	right: 0;
	width: 14px;
	top: 0;
}

.sc-list-item-view.sc-has-branch .sc-count {
	right: 14px;
}

/* @end */

/* @group SC.SourceListView */

.sc-source-list-group .sc-source-list-label.no-disclosure img {
	display:  none ;
}

/* @end */



