

/* @group Core */

.menu-pane {
	position: absolute ;
	top:  0 ;
	left:  0;
	width: 100%;
	height: 100%;
}

.menu-pane .pane-root {
	position: relative ;
}

.sc-theme .pane.menu-pane .shadow {
	background: white ;
	background: rgba(255,255,255,.80) ;
	position: absolute ;
}

.menu-pane ul.menu {
	list-style-type: none ;
	margin: 0;
	padding: 4px 0;
	background-color: transparent;
	position: relative ;
}

.menu-pane li.menu-item {
	margin:  0;
	padding:  1px 0 ;
	position:  relative ;
	display: block ;
}

.menu-pane li.menu-item a:active,
.menu-pane li.menu-item a:focus {
	outline: none ;
}

.menu-pane li.menu-item a {
	display: block ;
	text-decoration: none ;
	color:  black ;
	margin: 0;
	position: relative ;
}

.menu-pane li.menu-item.active a {
	background: static_url('images/sc-theme-sprite.png') repeat-x left -67px;
	color:  white ;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
}

.menu-pane li.menu-item.disabled a,
.menu-pane li.menu-item.disabled:hover a {
	color: #888;
	color: rgba(127,127,127,0.64);
	background: transparent;
}
 
.menu-pane li.menu-item .inner {
	display: block ;
	line-height: 1;
	padding: 4px 0px 3px 24px;
	margin: 0;
}

.menu-pane li.menu-item a img {
	border: none ;
	vertical-align: middle ;
	position: relative ;
	top: -1px;
	width: 16px;
	height: 16px;
	margin: -2px 0 ;
	padding-right: 4px;
}

.menu-pane li.menu-item.disabled a img {
	opacity: .50;
	-moz-opacity: .50 ;
	filter: alpha(opacity=50);
}

.menu-pane li.menu-item .shortcut {
	position: absolute ;
	right: 0;
	top:  0;
	padding: 3px 16px;
	padding-left: 16px;
	text-align: right ;
}

.menu-pane li.menu-item a span.sel,
.menu-pane li.menu-item a span.mixed {
	position: absolute ;
	left: 0;
	top:  0;
	padding: 3px 6px;
	padding-right: 0 ;
	display: none ;
	text-align: center ;
	width: 8px;
	font-size: 13px ;
}

.menu-pane li.menu-item a span.mixed {
	font-weight: bold ;
	padding-top: 1px;
}

.menu-pane li.menu-item.sel a span.sel,
.menu-pane li.menu-item.mixed a span.mixed {
	display: block ;
}

/* @end */

