
/* @group Segmented Tab View */

.tab.segmented {
	border-top: 1px #aaa solid ;
	margin-top: 20px;
	padding-top:  6px;
}

.tab.segmented .segments {
	position: relative ;
	top: -18px;
	height: 10px;
	text-align: center;
}

.tab.segmented .root {
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 10px;
}

/* @end */