
/* @group TEST RESULTS */

.testlog {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  background: #fefefe static_url('panels/bottom-edge') repeat-x left bottom;
  
}

.testlog .logsummary {
  text-align: center ;
  font-size: 20px;
  padding: 4px ;
  padding-top: 6px;
  background-color: #fefefe;
  border-top: 1px #ccc solid ;
}

.testlog table {
  width: 95%;
  border: none ;
  border-spacing: 0;
  border-collapse: collapse ;
  margin: 10px;
  margin-top: 0;
  margin-left: auto ;  
  margin-right:  auto ;
  border: 1px #aaa solid ;
}

.testlog table th {
	border-bottom: 1px #aaa solid ;
	background-color: #f5f5f5;
}

.testlog table td {
  background-color: white ;
  border: none ;
  margin: 0;
  padding: 4px;
}

.testlog table .passed td {
  color: #445e3c;
	background-color: #e0ffe4;
}

.testlog table .failed td {
  color: #fefff8;
	background-color: #d30000;
}

.testlog .error td {
  color: #b10000;
  background-color: #f9aca2;
}

/* @end */