/* @override 
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207528191.css
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207529450.css
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207531983.css
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207534439.css
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207535807.css
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207552236.css
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207567613.css
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207985766.css
	http://localhost:4020/static/sproutcore/en/_cache/theme-1207989881.css
*/

/* =========================================
   SproutCore UI Theme
   
   All of the rules in this CSS file will be 
   applied only if you use the SproutCore theme.
   =========================================
*/

/* @group sc-theme */

body.sc-theme {
	font: 13px/18px Helvetica, Verdana, sans-serif;
	background-color: #f0f0f0 ;
	padding: 0px;
}

.sc-theme h1 {
	margin: 0;
	padding: 0 ;
	margin-bottom: 10px;
}

.sc-theme label {
	font-weight: bold ;
}

/* @end */

/* @group SC.ScrollView */

.sc-theme .sc-scroll-view {
	border: 1px #aaa solid;
}

/* @end */

/* @group SC.CollectionView */

.sc-theme .sc-collection-view {
	text-decoration: none ;
	color: #000;
	border-top: 1px white solid;
}

.sc-theme .sc-collection-view .sc-collection-item {
	border-top: 1px solid white;
}

.sc-theme .sc-collection-view .sel {
	background-color: #ddd;
	border-top: 1px solid #eee;
}

.sc-theme.focus .sc-collection-view.focus .sel {
	background-color: #40007e;
	color: white ;
	border-top: 1px solid #84788f;
}

/* @end */

/* @group SC.ListView */

.sc-theme .sc-list-view {
	background-color: white ;
}

.sc-theme .sc-list-view .text-cell {
	display: block ;
	padding: 0 6px;
	line-height: 22px;
}

.sc-theme .list-insertion-point {
	border: 1px #4e4977 solid;
	position: absolute ;
	z-index: 1000;
}

.sc-theme .list-insertion-point .anchor {
	position: absolute ;
	width: 7px;
	height: 7px;
	left: -6px;
	top: -4px;
	background: static_url('images/buttons-sprite.png') no-repeat 0px -931px;
}

/* @end */

/* @group SC.GridView */

.sc-theme .sc-grid-view {
	background-color: white ;
}

.sc-theme .grid-insertion-point {
	border: 1px #4e4977 solid;
	position: absolute ;
	z-index: 1000;
}

.sc-theme .grid-insertion-point .anchor {
	position: absolute ;
	width: 7px;
	height: 7px;
	left: -4px;
	top: -6px;
	background: static_url('images/buttons-sprite.png') no-repeat 0px -931px;
}

/* @end */

/* @group SC.SourceListView */

.sc-theme .sc-source-list-view {
	background-color: #f0f0f0 ;
	border:  none ;
	color: #363636;
}

.sc-theme.focus .sc-source-list-view {
	background-color: #e6e3ef;
	color: black ;
}

.sc-theme .sc-collection-view.sc-source-list-view .sc-collection-item {
	border-top: 1px solid #f0f0f0;
	font-size: 12px;
}

.sc-theme.focus .sc-collection-view.sc-source-list-view .sc-collection-item {
	border-top: 1px solid #e6e3ef;
}

.sc-theme .sc-collection-view.sc-source-list-view .sel {
	background-color: #ddd;
	border-top: 1px solid #eee;
	font-weight: bold ;
}

.sc-theme.focus .sc-collection-view.sc-source-list-view .sel {
	background: url('/static/sproutcore/_src/english.lproj/images/buttons-sprite.png') 0 -940px;
	color: white ;
	border-top: 1px solid #5a3f62;
}

.sc-theme .sc-source-list-view .sc-collection-item {
	padding: 0 4px 0 16px;
	line-height: 31px;
}

.sc-theme .sc-source-list-group {
  position: absolute;
}

.sc-theme .sc-source-list-group .sc-source-list-label {
	line-height: 32px;
	padding-left: 8px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold ;
}

.sc-theme.focus .sc-source-list-group .sc-source-list-label {
	color: #241d38;
}

/* @end */

/* @group SC.ListItemView */

.sc-theme .sc-count {
	height: 18px;
	display: block;
	top: 6px;
	padding-left: 9px;
	background: no-repeat static_url('images/buttons-sprite.png') left -993px;
}

.sc-theme .sc-count .inner {
	display: block ;
	padding-right: 9px;
	background: no-repeat static_url('images/buttons-sprite.png') right -974px;
	min-width: 10px ;
	text-align: center ;
	font-weight: bold ;
	font-size: 11px;
	line-height: 19px;
	vertical-align: middle ;
	height: 18px;
	max-height: 18px;
	color: #241d38;
}

.sc-theme .sel .sc-count .inner {
	color:  white ;
}

/* @end */

/* @group Root Form */

input.show-hint {
	color: #888;
}

.radio.vertical,
.radio.vertical .button.radio {
	display: block ;	
}

.radio.horizontal,
.radio.horizontal .button.radio {
	display: inline ;
}

.radio.vertical {
  text-align: left ;
}

/* @end */

/* @group sc-theme Form */

.sc-theme .invalid {
	border: 2px red solid ;
}

.sc-theme ul.errors {
	color:  red ;
	list-style-type: none ;
	font-size: 11px;
}

.sc-theme form ul.errors {
	margin:  0;
	padding: 0; 
	color: red ;
}

.sc-theme input {
	font-size: 12px; 
}

/* @end */

/* @group My Group */



/* @end */



