/* @override 
*/

/* @group Button Core */

.sc-theme .sc-button-view {
  text-decoration: none ;
  color: black ;
  border: none ;
  padding: 0;
  display: inline-block ;
}

.sc-theme .sc-button-view.icon img.icon {
  position: relative;
  vertical-align: middle;
  top: -2px;
  margin-right: 2px;
  height: 16px;
  width: 16px;
}


/* @end */

/* @group regular */

/* @group basic */

.sc-theme .sc-button-view.regular {
  font-size: 13px;
  height: 22px;
  min-width: 32px;
  text-align: center;
}

.sc-theme .sc-button-view.regular .sc-button-inner {
  display: block ;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.sc-theme .sc-button-view.regular .sc-button-label {
  display: block ;
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
  text-shadow: #f0f0f0 0px 1px 0px;
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  right: 12px;
}

/* @end */

/* @group disabled */

.sc-theme.blur .sc-button-view.regular,
.sc-theme.focus .sc-button-view.regular.disabled {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -496px;
}

.sc-theme.blur .sc-button-view.regular .sc-button-inner,
.sc-theme.focus .sc-button-view.regular.disabled .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat 0 -450px;
}

.sc-theme.blur .sc-button-view.regular .sc-button-label, 
.sc-theme.focus .sc-button-view.regular.disabled .sc-button-label {
  background: static_url('images/sc-theme-sprite.png') repeat-x 0 -473px;
  color: #999;
  text-shadow: none ;
}


.sc-theme.blur .sc-button-view.regular.sel, 
.sc-theme.blur .sc-button-view.regular.def, 

.sc-theme.focus .sc-button-view.regular.sel.disabled, 
.sc-theme.focus .sc-button-view.regular.def.disabled {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -289px;
}

.sc-theme.blur .sc-button-view.regular.sel .sc-button-inner,
.sc-theme.blur .sc-button-view.regular.def .sc-button-inner,

.sc-theme.focus .sc-button-view.regular.sel.disabled .sc-button-inner,
.sc-theme.focus .sc-button-view.regular.def.disabled .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat 0 -243px;
}

.sc-theme.blur .sc-button-view.regular.def .sc-button-label, 
.sc-theme.blur .sc-button-view.regular.sel .sc-button-label, 

.sc-theme.focus .sc-button-view.regular.def.disabled .sc-button-label, 
.sc-theme.focus .sc-button-view.regular.sel.disabled .sc-button-label {
  background: static_url('images/sc-theme-sprite.png') repeat-x 0 -266px;
  color: #999;
  text-shadow: none ;
}

/* @end */

/* @group enabled */

.sc-theme .sc-button-view.regular {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -358px;
}

.sc-theme .sc-button-view.regular .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat 0 -312px;
}

.sc-theme .sc-button-view.regular .sc-button-label {
   background: transparent static_url('images/sc-theme-sprite.png') repeat-x left -335px;
}

/* @end */

/* @group sel - def */

.sc-theme .sc-button-view.regular.sel, 
.sc-theme .sc-button-view.regular.def {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -151px;
}

.sc-theme .sc-button-view.regular.sel .sc-button-inner, 
.sc-theme .sc-button-view.regular.def .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat 0 -105px;
}

.sc-theme .sc-button-view.regular.sel .sc-button-label, 
.sc-theme .sc-button-view.regular.def .sc-button-label {
  background: static_url('images/sc-theme-sprite.png') repeat-x 0 -128px;
  text-shadow: #dabec6 0px 1px 0px;
}

/* @end */

/* @group sel.active - def.active */

.sc-theme .sc-button-view.regular.sel.active, 
.sc-theme .sc-button-view.regular.def.active {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -220px;
}

.sc-theme .sc-button-view.regular.sel.active .sc-button-inner, 
.sc-theme .sc-button-view.regular.def.active .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat 0 -174px;
}

.sc-theme .sc-button-view.regular.sel.active .sc-button-label, 
.sc-theme .sc-button-view.regular.def.active .sc-button-label {
  background: static_url('images/sc-theme-sprite.png') repeat-x 0 -197px;
  text-shadow: #b884a4 0px 1px 0px;
}

/* @end */

/* @group active */

.sc-theme .sc-button-view.regular.active {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -427px;
}

.sc-theme .sc-button-view.regular.active .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat 0 -381px;
}

.sc-theme .sc-button-view.regular.active .sc-button-label {
  background: static_url('images/sc-theme-sprite.png') repeat-x 0 -404px;
  text-shadow: #b8b8b8 0px 1px 0px;
}

/* @end */

/* @group square theme */

.sc-theme .sc-square-theme .sc-button-view.regular,
.sc-theme .sc-square-theme .sc-button-view.regular.def {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -1150px;
  text-shadow: #f0f0f0 0px 1px 0px;
} 

.sc-theme .sc-square-theme .sc-button-view.regular .sc-button-inner,
.sc-theme .sc-square-theme .sc-button-view.regular.def .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat left -1104px; 
} 

.sc-theme .sc-square-theme .sc-button-view.regular .sc-button-label,
.sc-theme .sc-square-theme .sc-button-view.regular.def .sc-button-label {
  background: transparent static_url('images/sc-theme-sprite.png') repeat-x 0px -1127px;
  text-shadow: #dabec6 0px 1px 0px;
}

.sc-theme .sc-square-theme .sc-button-view.regular.sel,
.sc-theme .sc-square-theme .sc-button-view.regular.active {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -1219px;
} 

.sc-theme .sc-square-theme .sc-button-view.regular.sel .sc-button-inner,
.sc-theme .sc-square-theme .sc-button-view.regular.active .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat left -1173px; 
} 

.sc-theme .sc-square-theme .sc-button-view.regular.sel .sc-button-label,
.sc-theme .sc-square-theme .sc-button-view.regular.active .sc-button-label {
  background: transparent static_url('images/sc-theme-sprite.png') repeat-x 0px -1196px;
  text-shadow: #b884a4 0px 1px 0px;
}

.sc-theme.blur .sc-square-theme .sc-button-view.regular,
.sc-theme .sc-square-theme .sc-button-view.regular.disabled {
  background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -1288px;
} 

.sc-theme.blur .sc-square-theme .sc-button-view.regular .sc-button-inner,
.sc-theme .sc-square-theme .sc-button-view.regular.disabled .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat left -1242px; 
} 

.sc-theme.blur .sc-square-theme .sc-button-view.regular .sc-button-label,
.sc-theme .sc-square-theme .sc-button-view.regular.disabled .sc-button-label {
  background: transparent static_url('images/sc-theme-sprite.png') repeat-x 0px -1265px;
  text-shadow: none ;
}

/* @end */


/* @end */

/* @group square */

/* @group basic */

.sc-theme .sc-square-theme .sc-button-view.regular,
.sc-theme .sc-square-theme .sc-button-view.regular.def,
.sc-theme .sc-button-view.square {
  font-size: 13px;
  height: 21px;
  text-shadow: #c0c0c0 0px 1px 0px;
  text-align: center;
  background: static_url('images/sc-theme-sprite.png') repeat-x left -1397px;
  border: 1px solid #625560;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.sc-theme .sc-square-theme .sc-button-view.regular .sc-button-inner,
.sc-theme .sc-square-theme .sc-button-view.regular.def .sc-button-inner,
.sc-theme .sc-button-view.square .sc-button-inner {
  display: block ;
  height: 21px;
  max-height: 21px;
}

.sc-theme .sc-square-theme .sc-button-view.regular .sc-button-label,
.sc-theme .sc-square-theme .sc-button-view.regular.def .sc-button-label,
.sc-theme .sc-button-view.square .sc-button-label {
  display: block ;
  text-align: center;
  padding: 0px 0px 7px 0px;
  height: 14px;
  margin-left: 8px;
  margin-right: 8px;  
  line-height: 22px;  
}

/* @end */

/* @group sel - def */

.sc-theme .sc-square-theme .sc-button-view.regular.sel,
.sc-theme .sc-square-theme .sc-button-view.regular.active,
.sc-theme .sc-button-view.square.sel, 
.sc-theme .sc-button-view.square.active {
  background: static_url('images/sc-theme-sprite.png') no-repeat left -1489px;
  text-shadow: #a0a0a0 0px 1px 0px;
}

.sc-theme .sc-square-theme .sc-button-view.regular.sel .sc-button-inner,
.sc-theme .sc-square-theme .sc-button-view.regular.active .sc-button-inner,
.sc-theme .sc-button-view.square.sel .sc-button-inner, 
.sc-theme .sc-button-view.square.active .sc-button-inner {
  background: static_url('images/sc-theme-sprite.png') no-repeat right -1535px;
}

.sc-theme .sc-square-theme .sc-button-view.regular.sel .sc-button-label,
.sc-theme .sc-square-theme .sc-button-view.regular.active .sc-button-label,
.sc-theme .sc-button-view.square.sel .sc-button-label, 
.sc-theme .sc-button-view.square.active .sc-button-label {
  background: static_url('images/sc-theme-sprite.png') repeat-x right -1512px;
}

/* @end */

/* @group disabled */

.sc-theme.blur .sc-square-theme .sc-button-view.regular,
.sc-theme .sc-square-theme .sc-button-view.regular.disabled,
.sc-theme .sc-button-view.square.disabled {
  background: static_url('images/sc-theme-sprite.png') repeat-x left -1420px;
  color: #999;
  text-shadow: none ;
  border: 1px #999 solid;
}

.sc-theme.blur .sc-square-theme .sc-button-view.regular .sc-button-inner,
.sc-theme .sc-square-theme .sc-button-view.regular.disabled .sc-button-inner ,
.sc-theme .sc-button-view.square.disabled .sc-button-inner {
  background: none ;
}

.sc-theme.blur .sc-square-theme .sc-button-view.regular .sc-button-label,
.sc-theme .sc-square-theme .sc-button-view.regular.disabled .sc-button-label,
.sc-theme .sc-button-view.square.disabled .sc-button-label {
  background: none ;
}

/* @end */


/* @end */

/* @group basic : capsule */

.sc-theme .sc-button-view.capsule {
  font-size: 13px;
  height: 21px;
  text-shadow: #c0c0c0 0px 1px 0px;
  text-align: center;
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat right -358px;
}

.sc-theme .sc-button-view.capsule .sc-button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -312px;
  display: block ;
  height: 21px;
  max-height: 21px;
}

.sc-theme .sc-button-view.capsule .sc-button-label {
 	background: transparent static_url('images/sc-theme-sprite.png') repeat-x left -335px;
  display: block ;
  text-align: center;
  padding: 0px 0px 7px 0px;
  height: 14px;
  margin-left: 8px;
  margin-right: 8px;  
  line-height: 22px;  
}

/* @end */

/* @group sel - def */

.sc-theme .sc-button-view.capsule.sel,
.sc-theme .sc-button-view.capsule.def {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -151px;
}

.sc-theme .sc-button-view.capsule.sel .sc-button-inner,
.sc-theme .sc-button-view.capsule.def .sc-button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -105px;
}

.sc-theme .sc-button-view.capsule.sel .sc-button-label,
.sc-theme .sc-button-view.capsule.def .sc-button-label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -128px;
	text-shadow: #dabec6 0px 1px 0px;
}

/* @end */

/* @group disabled */

.sc-theme .sc-button-view.capsule.disabled {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -496px;
}

.sc-theme .sc-button-view.capsule.disabled .sc-button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -450px;
}

.sc-theme .sc-button-view.capsule.disabled .sc-button-label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -473px;
	color: #999;
	text-shadow: none ;
}

/* @end */

/* @group sel.disabled - def.disabled*/

.sc-theme .sc-button-view.capsule.sel.disabled,
.sc-theme .sc-button-view.capsule.def.disabled {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -289px;
}

.sc-theme .sc-button-view.capsule.sel.disabled .sc-button-inner,
.sc-theme .sc-button-view.capsule.def.disabled .sc-button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -243px;
}

.sc-theme .sc-button-view.capsule.sel.disabled .sc-button-label,
.sc-theme .sc-button-view.capsule.def.disabled .sc-button-label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -266px;
	color: #999;
	text-shadow: none ;
}

/* @end */

/* @group sel.active - def.active */

.sc-theme .sc-button-view.capsule.sel.active,
.sc-theme .sc-button-view.capsule.def.active {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -220px;
}

.sc-theme .sc-button-view.capsule.sel.active .sc-button-inner,
.sc-theme .sc-button-view.capsule.def.active .sc-button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -174px;
}

.sc-theme .sc-button-view.capsule.sel.active .sc-button-label,
.sc-theme .sc-button-view.capsule.def.active .sc-button-label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -197px;
	text-shadow: #b884a4 0px 1px 0px;
}

/* @end */

/* @group active */

.sc-theme .sc-button-view.capsule.active {
	background: transparent static_url('images/sc-theme-sprite.png') no-repeat scroll right -427px;
}

.sc-theme .sc-button-view.capsule.active .sc-button-inner {
	background: static_url('images/sc-theme-sprite.png') no-repeat 0 -381px;
}

.sc-theme .sc-button-view.capsule.active .sc-button-label {
	background: static_url('images/sc-theme-sprite.png') repeat-x 0 -404px;
	text-shadow: #b8b8b8 0px 1px 0px;
}

/* @end */

