/* 
  This is the main SproutCore theme.  If you would prefer not to use this 
  theme, just set the theme option in your sc-config to another theme name.
*/

/* Always use Helvetica and this background color. */
body.sc-theme {
	font: 13px/18px Helvetica, Verdana, sans-serif;
	background-color: #f0f0f0 ;
	padding: 0px;
}


body.sc-theme .sc-view.invalid {
  outline: 2px red solid;
}

/* @group Border Styles */

body.sc-theme .sc-view.sc-bezel-border {
  border-left:   1px #999 solid;
  border-top:    1px #666 solid;
  border-bottom: 1px #fff solid;
  border-right:  1px #fff solid;
}

body.sc-theme .sc-view.sc-black-border {
  border: 1px black solid; 
}

body.sc-theme .sc-view.sc-gray-border {
  border: 1px #888 solid; 
}

body.sc-theme .sc-view.sc-bottom-border {
  border-bottom: 1px #888 solid; 
}

body.sc-theme .sc-view.sc-top-border {
  border-top: 1px #888 solid; 
}

/* @end */

.sc-theme div.sc-web-view {
  background-color: white;
}