/* @override http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1227685866/label.css */

/* SC.LabelView - sc-theme support */

.sc-theme .sc-label-view.sc-large-size {
	font-size: 18px;
	line-height: 24px;
}

.sc-theme .sc-label-view.sc-regular-size {
	font-size: 13px;
	line-height: 19px;
}

.sc-theme .sc-label-view.sc-small-size {
	font-size: 11px;
	line-height: 14px;
}

.sc-theme .sc-label-view.sc-tiny-size {
	font-size: 9px;
	line-height: 12px;
}

.sc-theme .sc-label-view.disabled {
	color: #999;
}

.sc-theme .sc-label-view img.icon {
	position: relative;
	vertical-align: middle;
	top: -2px;
	margin-left: 2px;
	margin-right: 4px;
	height: 16px;
	width: 16px;
}
