/* SC.TabView */

.sc-theme .sc-tab-view > .sc-container-view {
  border: 1px #333 solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #8991a2;
  background-color: rgba(205,205,205,0.25);
  overflow: hidden;
}

/* only first tab view should color background */
.sc-theme .sc-tab-view .sc-tab-view {
  background-color: transparent;
}

.sc-theme .sc-tab-view > .sc-segmented-view{
  z-index: 100;
}