
$theme.sc-popup-button-view {

  &:after {
    position: absolute;
    font-family: FontAwesome;
    top: 3px;
    right: 8px;
    font-size: 13px;
    line-height: 18px;
    color: $button-text-color;
    content: "\f0d7";
  }

  .sc-button-label {
    margin-left: 2px;
    text-align: left;
    margin-right: 15px;
    vertical-align: top;
  }

  &.sc-static-layout .sc-button-label {
    display: inline-block;
    margin-left: 0px;
    margin-right: 20px;
  }
  
}