/* Track */
@view(sc-touch-scroller-view).sc-vertical .track {
  background: none;
  display: none;
}

/* Cap */
@view(sc-touch-scroller-view).sc-vertical .cap,
@view(sc-touch-scroller-view).sc-vertical .endcap {
  background: none;
  display: none;
}

/* Buttons */
@view(sc-touch-scroller-view).sc-vertical .button-top {
  background: none;
  display: none;
}

@view(sc-touch-scroller-view).sc-vertical .button-bottom {
  background: none;
  display: none;
}

/* Active */
@view(sc-touch-scroller-view).sc-vertical .button-top:active {
  background: none;
  display: none;
}

@view(sc-touch-scroller-view).sc-vertical .button-bottom:active {
  background: none;
  display: none;
}

/* Thumb */
@view(sc-touch-scroller-view).sc-vertical .thumb {
  position: absolute;
  opacity: 0.5;
  -webkit-transform: translateZ(0px);
  width: 16px;
  height: 1044px;
  overflow: hidden;
}



@view(sc-touch-scroller-view).sc-vertical .thumb-top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  position: absolute;
  width: 5px;
  top: 0px;
  left: 5px;
  height: 10px;
  background: black;
}

@view(sc-touch-scroller-view).sc-vertical .thumb-clip {
  position: absolute;
  overflow:hidden;
  height: 1034px;
  width: 5px;
  top: 10px;
  left: 5px;
}

@view(sc-touch-scroller-view).sc-vertical .thumb-inner {
  -webkit-transform: translate3d(0px,0px,0px);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5px;
  height: 1034px;
}

@view(sc-touch-scroller-view).sc-vertical .thumb-center {
  position: absolute;
  width: 5px;
  left: 0px;
  top: 0px;
  height: 1024px;
  background: black;
}

@view(sc-touch-scroller-view).sc-vertical .thumb-bottom {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  position: absolute;
  width: 5px;
  top: 1024px;
  left: 0px;
  height: 10px;
  background: black;
}
