@view(sc-segmented-view) .sc-segment {
  background: none;
  border: 0px none;
  color: #555;
  height: 25px;
  text-shadow: 0px 1px 1px white;
  overflow: visible;
  display:inline-block;
  zoom: 1;
}

@view(sc-segmented-view) .sc-segment .button-left {
  display: inline-block;
  width: 8px;
  height: 25px;
  background: sprite("segmented_normal.png" [100 8]);
  zoom: 1;
}

@view(sc-segmented-view) .sc-segment .button-right {
  display: inline-block;
  width: 8px;
  height: 25px;
  background: sprite("segmented_normal.png" [92 8]);
  zoom: 1;
}

@view(sc-segmented-view) .sc-segment .button-middle {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top:1px;
  height: 25px;
  vertical-align:top;
  background: sprite("segmented_normal.png" repeat-x [8, 1]);
  zoom: 1;
}

@view(sc-segmented-view) .sc-segment.sc-first-segment .button-left {
  background: sprite("segmented_normal.png" [0 8]);  
}

@view(sc-segmented-view) .sc-segment.sc-last-segment .button-right {
  background: sprite("segmented_normal.png" [-8]);  
}

@view(sc-segmented-view) .sc-segment .sc-button-label {
  
}

/* Active */
@view(sc-segmented-view) .sc-segment.active {
  color: #333;
  text-shadow: 0px 1px 1px white;
}

@view(sc-segmented-view) .sc-segment.active .button-left {
  background: sprite("segmented_active.png" [100 8]);
}

@view(sc-segmented-view) .sc-segment.active .button-right {
  background: sprite("segmented_active.png" [92 8]);
}

@view(sc-segmented-view) .sc-segment.active .button-middle {
  background: sprite("segmented_active.png" repeat-x [8, 1]);
}

@view(sc-segmented-view) .sc-segment.active.sc-first-segment .button-left {
  background: sprite("segmented_active.png" [0 8]);  
}

@view(sc-segmented-view) .sc-segment.active.sc-last-segment .button-right {
  background: sprite("segmented_active.png" [-8]);
}

/* Selected */
@view(sc-segmented-view) .sc-segment.sel {
  background:none;
  color: #fff;
  font-weight:200;
  text-shadow: 0px -1px 1px rgba(0,0,0,.5);
}

@view(sc-segmented-view) .sc-segment.sel .button-left {
  background: sprite("segmented_selected.png" [100 8]);
}

@view(sc-segmented-view) .sc-segment.sel .button-right {
  background: sprite("segmented_selected.png" [92 8]);
}

@view(sc-segmented-view) .sc-segment.sel .button-middle {
  background: sprite("segmented_selected.png" repeat-x [8, 1]);
}

@view(sc-segmented-view) .sc-segment.sel.sc-first-segment .button-left {
  background: sprite("segmented_selected.png" [0 8]);  
}

@view(sc-segmented-view) .sc-segment.sel.sc-last-segment .button-right {
  background: sprite("segmented_selected.png" [-8]);
}