<% content_for('final') do %>
<script>

Test.context("A SC.TextFieldView", {
  
  "Should allow text navigation keys when focused": function()
  {
    this.field.becomeFirstResponder();
    this.field.get('isFirstResponder').shouldEqual(true);
    
    var keynames = $w('backspace delete home end left right up down');
    for (var i=0, n=keynames.length; i < n; i++)
    {
      // var event = SC.Mock.KeyEvent.create({ 
      //         type: 'keydown', 
      //         keyCode: SC.KEY_CODES[ keynames[i] ] 
      //       });
      SC.window._onkeydown(event).shouldEqual(true);
      event.stopped.shouldEqual(false);
    }
  },

  setup: function()
  {
    this.field = SC.TextFieldView.create();
    SC.window.appendChild(this.field);
  },
  teardown: function()
  {
    SC.window.removeChild(this.field);
    delete this.field;
  }

});

</script>
<% end %>