.sc-theme .sc-view.ace.light.sc-toolbar-view {
  background: static_url("images/1.png") repeat-x 0 0;
  color: #555555;
  text-shadow: 0px 1px 1px white;
  border-bottom: 1px solid #999999;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroll-view {
  background: rgba(251, 251, 251, 0.92);
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item {
  background: transparent;
  border: 0px none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item a span.value {
  margin-left: 20px;
  line-height: 20px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-button-view.focus a {
  color: white;
  background: static_url("images/1.png") repeat-x 0 -663px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
}
.sc-menu-item a:hover {
  color: white;
  background: static_url("images/1.png") repeat-x 0 -663px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-button-view.disabled.focus a {
  color: white;
  background: transparent;
}
.sc-menu-item.disabled a:hover {
  color: white;
  background: transparent;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item .checkbox {
  top: 3px;
  width: 12px;
  height: 12px;
  background: static_url("images/1.png") no-repeat -14px -1657px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item.focus .checkbox {
  top: 4px;
  background: static_url("images/1.png") no-repeat -14px -1683px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item:hover .checkbox {
  top: 4px;
  background: static_url("images/1.png") no-repeat -14px -1683px;
}
.sc-menu-item span.separator {
  margin-left: 0px;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 2px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c8c8c8;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view { background: transparent; }
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view .arrowUp {
  position: absolute;
  left: 50%;
  top: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: static_url("images/1.png") no-repeat 0 -2009px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view .arrowDown {
  position: absolute;
  left: 50%;
  bottom: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: static_url("images/1.png") no-repeat 0 -1959px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-left-edge {
  background: static_url("images/1.png") no-repeat 0 -933px;
  left: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-right-edge {
  background: static_url("images/1.png") no-repeat 0 -958px;
  right: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-left-edge {
  background: static_url("images/1.png") no-repeat 0 -1008px;
  left: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-right-edge {
  background: static_url("images/1.png") no-repeat 0 -983px;
  right: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-edge {
  background: static_url("images/1.png") repeat-x 0 -397px;
  left: 9px;
  right: 9px;
  bottom: -25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-edge {
  background: static_url("images/1.png") repeat-x 0 -447px;
  left: 9px;
  right: 9px;
  top: -25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .left-edge {
  background: static_url("images/2.png") repeat-y 0 0;
  top: 0px;
  bottom: 0px;
  left: -16px;
  width: 16px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .right-edge {
  background: static_url("images/2.png") repeat-y -16px 0;
  top: 0px;
  bottom: 0px;
  right: -16px;
  width: 16px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel { background: rgba(251, 251, 251, 0.92); }
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-left-edge {
  left: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -885px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-edge {
  top: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: static_url("images/1.png") repeat-x 0 -775px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-right-edge {
  right: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -1033px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-left-edge {
  left: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -1049px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-edge {
  bottom: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: static_url("images/1.png") repeat-x 0 -791px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-right-edge {
  right: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -1065px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .left-edge {
  top: 0px;
  left: -16px;
  bottom: 0px;
  width: 16px;
  background: static_url("images/2.png") repeat-y -32px 0;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .right-edge {
  top: 0px;
  right: -16px;
  bottom: 0px;
  width: 16px;
  background: static_url("images/2.png") repeat-y -48px 0;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.sc-regular-size .button-left { background: static_url("images/1.png") no-repeat -14px -1959px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.sc-regular-size .button-right {
  right: 0px;
  width: 25px;
  background: static_url("images/1.png") no-repeat right -860px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.sc-regular-size .button-middle {
  background: static_url("images/1.png") repeat-x 0 -422px;
  right: 25px;
  left: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.sc-regular-size .sc-button-label {
  text-align: left;
  right: 25px;
  vertical-align: top;
  color: #333333;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.sc-regular-size.active .button-left { background: static_url("images/1.png") no-repeat -14px -1984px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.sc-regular-size.active .button-right { background: static_url("images/1.png") no-repeat right -835px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.sc-regular-size.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -472px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.ace.light.sc-segmented-view { overflow: visible; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment {
  background: none;
  border: 0px none;
  color: #555555;
  height: 25px;
  text-shadow: 0px 1px 1px white;
  display: inline-block;
  zoom: 1;
  height: 25px;
  overflow: hidden;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-left {
  display: inline-block;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -14px -2009px;
  zoom: 1;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-right {
  display: inline-block;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -14px -1934px;
  zoom: 1;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-middle {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top: 1px;
  height: 25px;
  vertical-align: top;
  background: static_url("images/1.png") repeat-x 0 -497px;
  zoom: 1;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -14px -1909px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -14px -1884px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active {
  color: #333333;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -14px -2034px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -14px -1709px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/1.png") repeat-x 0 -522px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -14px -1859px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -14px -1734px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel {
  background: none;
  color: #ffffff;
  font-weight: 200;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -14px -1759px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -14px -1784px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -372px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -14px -1809px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -14px -1834px; }
.sc-theme .sc-view.ace.light.sc-segmented-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .track {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: static_url("images/2.png") repeat-y -64px 0;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .cap {
  position: absolute;
  height: 16;
  width: 14px;
  height: 16px;
  top: 0px;
  background: static_url("images/1.png") no-repeat 0 -1709px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-top {
  position: absolute;
  background: static_url("images/1.png") no-repeat 0 -1683px;
  height: 26px;
  width: 14px;
  bottom: 16px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-bottom {
  position: absolute;
  background: static_url("images/1.png") no-repeat 0 -1734px;
  height: 16px;
  width: 14px;
  bottom: 0px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-top:active { background: static_url("images/1.png") no-repeat 0 -1657px; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-bottom:active { background: static_url("images/1.png") no-repeat 0 -1759px; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb { position: absolute; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-center {
  position: absolute;
  width: 14px;
  top: 10px;
  bottom: 10px;
  background: static_url("images/2.png") repeat-y -78px 0;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-top {
  position: absolute;
  width: 14px;
  top: 0px;
  height: 10px;
  background: static_url("images/1.png") no-repeat 0 -2083px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-bottom {
  position: absolute;
  width: 14px;
  bottom: 0px;
  height: 10px;
  background: static_url("images/1.png") no-repeat 0 -2107px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .track {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  background: static_url("images/1.png") repeat-x 0 -821px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .cap {
  position: absolute;
  width: 16;
  height: 14px;
  width: 16px;
  left: 0px;
  background: static_url("images/1.png") no-repeat 0 -1567px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-left {
  position: absolute;
  background: static_url("images/1.png") no-repeat 0 -919px;
  width: 26px;
  height: 14px;
  right: 14px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-right {
  position: absolute;
  background: static_url("images/1.png") no-repeat 0 -1627px;
  width: 15px;
  height: 14px;
  right: 0px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-left:active { background: static_url("images/1.png") no-repeat 0 -905px; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-right:active { background: static_url("images/1.png") no-repeat 0 -1597px; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb { position: absolute; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-center {
  position: absolute;
  height: 14px;
  left: 10px;
  right: 10px;
  background: static_url("images/1.png") repeat-x 0 -807px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-left {
  position: absolute;
  height: 14px;
  left: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -16px -1033px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-right {
  position: absolute;
  height: 14px;
  right: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -16px -1049px;
}
.sc-theme .sc-view.ace.light.sc-radio-view {
  line-height: 18px;
  vertical-align: middle;
}
.sc-theme .sc-view.ace.light.sc-radio-view .sc-radio-button {
  position: relative;
  display: block;
  height: 18px;
  padding-left: 18px;
  margin-bottom: 3px;
}
.sc-theme .sc-view.ace.light.sc-radio-view .sc-button-label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}
.sc-theme .sc-view.ace.light.sc-radio-view span.button {
  background: static_url("images/1.png") no-repeat 0 -1197px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}
.sc-theme .sc-view.ace.light.sc-radio-view input { visibility: hidden; }
.sc-theme .sc-view.ace.light.sc-radio-view .sel span.button { background: static_url("images/1.png") no-repeat 0 -1153px; }
.sc-theme .sc-view.ace.light.sc-radio-view .mixed span.button { background: static_url("images/1.png") no-repeat 0 -1109px; }
.sc-theme .sc-view.ace.light.sc-radio-view .active span.button { background: static_url("images/1.png") no-repeat 0 -1329px; }
.sc-theme .sc-view.ace.light.sc-radio-view .sel.active span.button { background: static_url("images/1.png") no-repeat 0 -1241px; }
.sc-theme .sc-view.ace.light.sc-radio-view .mixed.active span.button { background: static_url("images/1.png") no-repeat 0 -1285px; }
.sc-theme .sc-view.ace.light.sc-radio-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-progress-view {
  background: static_url("images/1.png") no-repeat -16px -2155px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-outer-head {
  left: 8px;
  right: 8px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") repeat-x 0 -643px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-outer-tail {
  right: 0px;
  width: 8px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") no-repeat 0 -2199px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner {
  background: static_url("images/1.png") no-repeat 0 -2179px;
  z-index: 1;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner-head {
  left: 8px;
  right: 0px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") no-repeat right -885px;
  z-index: 1;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner-tail {
  left: 8px;
  right: 8px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") repeat-x 0 -683px;
  z-index: 1;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-regular-size {
  color: black;
  text-shadow: white 0px 1px 1px;
  line-height: 18px;
  vertical-align: middle;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size .label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size span.button {
  background: static_url("images/1.png") no-repeat 0 -1373px;
  width: 16px;
  height: 16px;
  position: absolute;
  margin-right: 8px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size input {
  visibility: hidden;
  z-index: 1;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-regular-size.sel {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.sel span.button { background: static_url("images/1.png") no-repeat 0 -1537px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.mixed span.button { background: static_url("images/1.png") no-repeat 0 -1447px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-regular-size.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.active span.button { background: static_url("images/1.png") no-repeat 0 -1477px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.sel.active span.button { background: static_url("images/1.png") no-repeat 0 -1417px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.mixed.active span.button { background: static_url("images/1.png") no-repeat 0 -1507px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-small-size {
  color: black;
  text-shadow: white 0px 1px 1px;
  line-height: 16px;
  vertical-align: middle;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size .label {
  position: absolute;
  left: 20px;
  line-height: 16px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size span.button {
  background: static_url("images/1.png") no-repeat 0 -1834px;
  width: 14px;
  height: 14px;
  position: absolute;
  margin-right: 8px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size input {
  visibility: hidden;
  z-index: 1;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-small-size.sel {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.sel span.button { background: static_url("images/1.png") no-repeat 0 -2059px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.mixed span.button { background: static_url("images/1.png") no-repeat 0 -1909px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-small-size.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.active span.button { background: static_url("images/1.png") no-repeat 0 -1859px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.sel.active span.button { background: static_url("images/1.png") no-repeat 0 -1784px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.mixed.active span.button { background: static_url("images/1.png") no-repeat 0 -1984px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view .sc-button-label { left: 18px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.sel {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.sel.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view img {
  position: absolute;
  top: 3px;
  background: static_url("images/1.png") no-repeat 0 -2034px;
  width: 14px;
  height: 14px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.sel img { background: static_url("images/1.png") no-repeat 0 -1809px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.active img { background: static_url("images/1.png") no-repeat 0 -1884px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.sel.active img { background: static_url("images/1.png") no-repeat 0 -1934px; }
img.disclosure.button {
  width: 14px;
  height: 14px;
}
img.disclosure.button.open { background: static_url("images/1.png") no-repeat 0 -1809px; }
img.disclosure.button.open.active { background: static_url("images/1.png") no-repeat 0 -1934px; }
img.disclosure.button.closed { background: static_url("images/1.png") no-repeat 0 -2034px; }
img.disclosure.button.closed.active { background: static_url("images/1.png") no-repeat 0 -1884px; }
.sc-theme .sc-view.ace.light.sc-button-view {
  border: 0px none;
  color: #555555;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.light.sc-button-view .button-left {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view .button-right {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view .button-middle {
  position: absolute;
  top: 50%;
  left: 8px;
  right: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view .sc-button-label {
  position: absolute;
  top: 50%;
  left: 8px;
  right: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view.active {
  color: #333333;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.light.sc-button-view.sel {
  color: #ffffff;
  font-weight: 200;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.sc-theme .sc-view.ace.light.sc-button-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view .button-left {
  margin-top: -22px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -16px -1285px;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view .button-right {
  margin-top: -22px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -16px -1241px;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view .button-middle {
  margin-top: -22px;
  height: 44px;
  background: static_url("images/1.png") repeat-x 0 -132px;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view .sc-button-label {
  margin-top: -10px;
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #777777;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -16px -1197px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -16px -1153px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -176px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -16px -1329px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -16px -1373px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -44px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel .sc-button-label {
  color: white;
  text-shadow: 0px -1px 1px black;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -16px -1065px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -16px -1109px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -88px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view .button-left {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -15px -1627px;
}
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view .button-right {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -15px -1597px;
}
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view .button-middle {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/1.png") repeat-x 0 -342px;
}
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view .sc-button-label {
  margin-top: -11px;
  height: 30px;
  font-size: 13px;
}
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -16px -1567px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -16px -1417px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -312px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -16px -1537px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -16px -1507px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -252px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -16px -1477px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -16px -1447px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -282px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view .button-left {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -8px -2131px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view .button-right {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -16px -2131px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view .button-middle {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") repeat-x 0 -547px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat 0 -2155px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -8px -2155px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -619px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat 0 -2131px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -14px -2107px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -571px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -14px -2059px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -14px -2083px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -595px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view .button-left {
  margin-top: -9px;
  height: 18px;
  background: static_url("images/1.png") no-repeat 0 -2219px;
}
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view .button-right {
  margin-top: -9px;
  height: 18px;
  background: static_url("images/1.png") no-repeat -16px -2199px;
}
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view .button-middle {
  margin-top: -9px;
  height: 18px;
  background: static_url("images/1.png") repeat-x 0 -757px;
}
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view .sc-button-label {
  font-size: 11px;
  margin-top: -13px;
  height: 18px;
  padding-top: 2px;
}
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -8px -2199px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -8px -2219px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -739px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -16px -2219px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat 0 -2237px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -721px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -8px -2237px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -16px -2237px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -703px; }
.sc-theme .sc-view.ace.light.sc-split-divider-view {
  background: #555555;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list { background: #d0dae3; }
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .sc-collection-item.sel {
  background: static_url("images/1.png") repeat-x 0 -220px;
  border-top: 1px solid #43638d;
  border-bottom: 1px solid #43638d;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;
}
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .sc-collection-item.sc-group-item {
  font-weight: bold;
  color: #4a4a4a;
  text-shadow: 0px 1px 1px white;
  font-size: 12px;
}
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .disclosure {
  position: absolute;
  left: -12px;
  top: 9px;
}
.sc-main {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  height: 100%;
  font-family: Helvetica, sans-serif;
}
.sc-view { font-family: Helvetica, sans-serif; }
