.sc-theme .sc-view.sc-toolbar-view {
  background: static_url("images/1.png") repeat-x 0 0;
  color: #555;
  text-shadow: 0px 1px 1px white;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
  z-index: 10;
}/* */
.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-scroll-view {
  background:  rgba(251,251,251,.92);
  border: 0px none;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-item {
  background: transparent;
  border: 0px none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-item a span.value {
  margin-left: 10px;
  line-height: 20px; /* You want it slightly high for characters with descenders */
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-button-view.focus a,
.sc-menu-item a:hover {
  color: white;
  background: static_url("images/1.png") repeat-x 0 -279px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .6);
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-button-view.disabled.focus a,
.sc-menu-item.disabled a:hover {
  color: white;
  background: transparent;
}

/* Checkboxes */
.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-item .checkbox {
  top: 3px;
  width: 12px; height: 12px;
  background: static_url("images/1.png") no-repeat -14px -949px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-item.focus .checkbox, 
.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-item:hover .checkbox {
  top: 4px; /* NOTE THE SLIGHT DIFFERENCE */
  background: static_url("images/1.png") no-repeat -14px -923px;
}

/* Separators */
.sc-menu-item span.separator {
  margin-left: 0px;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 2px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(200, 200, 200);
}

/* Up and Down, like a trampoline */
.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view {
  background: transparent;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view .arrowUp {
  position:absolute;
  left: 50%;
  top: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: static_url("images/1.png") no-repeat 0 -1091px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view .arrowDown {
  position:absolute;
  left: 50%;
  bottom: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: static_url("images/1.png") no-repeat 0 -1049px;
}

/* Corners */
.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .top-left-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") no-repeat 0 -457px;
  left: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .top-right-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") no-repeat 0 -482px;
  right: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .bottom-left-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") no-repeat 0 -507px;
  left: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .bottom-right-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") no-repeat 0 -532px;
  right: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}


/* Edges */
.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .bottom-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") repeat-x 0 -114px;
  left: 9px;
  right: 9px;
  bottom: -25px;
  height: 25px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .top-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") repeat-x 0 -89px;
  left: 9px;
  right: 9px;
  top: -25px;
  height: 25px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .left-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/2.png") repeat-y 0 0;
  top: 0px;
  bottom: 0px;
  left: -16px;
  width: 16px;
}

.sc-theme .sc-view.sc-panel.sc-picker.sc-menu .right-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/2.png") repeat-y -16px 0;
  top: 0px;
  bottom: 0px;
  right: -16px;
  width: 16px;
}.sc-theme .sc-view.sc-pane.sc-panel {
  background: rgba(251, 251, 251, .92);
}

/* Top */
.sc-theme .sc-view.sc-pane.sc-panel .top-left-edge {
  left: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -573px;
}

.sc-theme .sc-view.sc-pane.sc-panel .top-edge {
  top: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: static_url("images/1.png") repeat-x 0 -315px;
}

.sc-theme .sc-view.sc-pane.sc-panel .top-right-edge {
  right: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -557px;
}

/* Bottom */
.sc-theme .sc-view.sc-pane.sc-panel .bottom-left-edge {
  left: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -409px;
}

.sc-theme .sc-view.sc-pane.sc-panel .bottom-edge {
  bottom: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: static_url("images/1.png") repeat-x 0 -299px;
}

.sc-theme .sc-view.sc-pane.sc-panel .bottom-right-edge {
  right: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -589px;
}

/* Sides */
.sc-theme .sc-view.sc-pane.sc-panel .left-edge {
  top: 0px;
  left: -16px;
  bottom: 0px;
  width: 16px;
  background: static_url("images/2.png") repeat-y -32px 0;
}

.sc-theme .sc-view.sc-pane.sc-panel .right-edge {
  top: 0px;
  right: -16px;
  bottom: 0px;
  width: 16px;
  background: static_url("images/2.png") repeat-y -48px 0;
}
.sc-theme .sc-view.sc-button-view.sc-select-view .button-left {
  background: static_url("images/1.png") no-repeat -16px -764px;
}

.sc-theme .sc-view.sc-button-view.sc-select-view .button-right {
  right: 0px;
  width: 25px;
  background: static_url("images/1.png") no-repeat right -384px;
}

.sc-theme .sc-view.sc-button-view.sc-select-view .button-middle {
  background: static_url("images/1.png") repeat-x 0 -164px;
  right:25px;
  left:8px;
}

.sc-theme .sc-view.sc-button-view.sc-select-view .sc-button-label {
  text-align: left;
  right: 25px;
  vertical-align:top;
  color: #333;
}

.sc-theme .sc-view.sc-button-view.sc-select-view.active .button-left {
  background: static_url("images/1.png") no-repeat -16px -639px;
}

.sc-theme .sc-view.sc-button-view.sc-select-view.active .button-right {
  background: static_url("images/1.png") no-repeat right -359px;
}

.sc-theme .sc-view.sc-button-view.sc-select-view.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -189px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);
}


.sc-select-view .sc-menu-item span.value { margin-left: 10px; }/* Track */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .track {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	background: static_url("images/2.png") repeat-y -64px 0;
}

/* Cap */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .cap {
	position:absolute;
	height: 16;
	width: 14px;
	height: 16px;
	top: 0px;
	background: static_url("images/1.png") no-repeat 0 -975px;
}

/* Buttons */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-top {
	position:absolute;
	background: static_url("images/1.png") no-repeat 0 -923px;
	height: 26px;
    width: 14px;
    bottom: 14px;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-bottom {
	position:absolute;
	background: static_url("images/1.png") no-repeat 0 -1006px;
	height: 15px;
    width: 14px;
    bottom: 0px;
}

/* Active */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-top:active {
	background: static_url("images/1.png") no-repeat 0 -949px;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-bottom:active {
	background: static_url("images/1.png") no-repeat 0 -991px;
}

/* Thumb */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .thumb {
	position:absolute;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .thumb-center {
	position: absolute;
	width: 14px;
	top: 10px;
	bottom: 10px;
	background: static_url("images/2.png") repeat-y -78px 0;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .thumb-top {
	position: absolute;
	width: 14px;
	top: 0px;
	height: 10px;
	background: static_url("images/1.png") no-repeat 0 -1115px;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .thumb-bottom {
	position: absolute;
	width: 14px;
	bottom: 0px;
	height: 10px;
	background: static_url("images/1.png") no-repeat 0 -1105px;
}/* Track */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .track {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	bottom: 0;
	background: static_url("images/1.png") repeat-x 0 -345px;
}

/* Cap */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .cap {
	position:absolute;
	width: 16;
	height: 14px;
	width: 16px;
	left: 0px;
	background: static_url("images/1.png") no-repeat 0 -881px;
}

/* Buttons */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-left {
	position:absolute;
	background: static_url("images/1.png") no-repeat 0 -429px;
	width: 26px;
    height: 14px;
    right: 14px;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-right {
	position:absolute;
	background: static_url("images/1.png") no-repeat 0 -895px;
	width: 15px;
    height: 14px;
    right: 0px;
}

/* Active */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-left:active {
	background: static_url("images/1.png") no-repeat 0 -443px;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-right:active {
	background: static_url("images/1.png") no-repeat 0 -909px;
}

/* Thumb */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .thumb {
	position:absolute;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .thumb-center {
	position: absolute;
	height: 14px;
	left: 10px;
	right: 10px;
	background: static_url("images/1.png") repeat-x 0 -331px;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .thumb-left {
	position: absolute;
	height: 14px;
	left: 0px;
	width: 10px;
	background: static_url("images/1.png") no-repeat -16px -573px;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .thumb-right {
	position: absolute;
	height: 14px;
	right: 0px;
	width: 10px;
	background: static_url("images/1.png") no-repeat -16px -557px;
}.sc-theme .sc-view.sc-radio-view {
  line-height: 18px;
  vertical-align: middle;
}

.sc-theme .sc-view.sc-radio-view .sc-radio-button {
  position: relative;
  display:block;
  padding-left: 18px;
  margin-bottom:3px;
}

.sc-theme .sc-view.sc-radio-view .sc-button-label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}

/* Unchecked */
.sc-theme .sc-view.sc-radio-view span.button {
  background: static_url("images/1.png") no-repeat 0 -764px;
  width: 16px;
  height:16px;
  vertical-align:middle;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}

.sc-theme .sc-view.sc-radio-view input {
  visibility: hidden;
}

/* Checked */
.sc-theme .sc-view.sc-radio-view .sel span.button {
  background: static_url("images/1.png") no-repeat 0 -739px;
}

.sc-theme .sc-view.sc-radio-view .mixed span.button {
  background: static_url("images/1.png") no-repeat 0 -714px;
}

/* Active */
.sc-theme .sc-view.sc-radio-view .active span.button {
  background: static_url("images/1.png") no-repeat 0 -664px;
}

.sc-theme .sc-view.sc-radio-view .sel.active span.button {
  background: static_url("images/1.png") no-repeat 0 -639px;
}

.sc-theme .sc-view.sc-radio-view .mixed.active span.button {
  background: static_url("images/1.png") no-repeat 0 -614px;
}

/* Disabled */
.sc-theme .sc-view.sc-radio-view.disabled {
  opacity: .5;
}/* 
Syntax Notes: 
.sc-theme .sc-view.view-name is replaced with .sc-view.view-name.theme-name

theme-name is specified as an argument when building.

[8] means a rectangle starting at x=8, the whole height, to the right edge.
[8, 1] means rectangle starting at x=8, width 1px, whole height
[8, 2, 1, 1] means a 1x1 rectangle at 8, 2.
*/

/* Track */
.sc-theme .sc-view.sc-progress-view {
  /* anchor right so noise won't show below rounded corners of right piece */
  background: static_url("images/1.png") no-repeat -16px -789px;
  z-index:0;
  border:0px none;
}

.sc-theme .sc-view.sc-progress-view .sc-outer-head {
  left: 8px;
  right: 8px;
  position:absolute;
  height:20px;
  background: static_url("images/1.png") repeat-x 0 -259px;
  z-index:0;
  border:0px none;
}

.sc-theme .sc-view.sc-progress-view .sc-outer-tail {
  right: 0px;
  width: 8px;
  position:absolute;
  height:20px;
  background: static_url("images/1.png") no-repeat -16px -809px;
  z-index:0;
  border:0px none;
}



/* Inner */
.sc-theme .sc-view.sc-progress-view .sc-inner {
  background: static_url("images/1.png") no-repeat -16px -829px;
  z-index:1;
  border:0px none;
}

.sc-theme .sc-view.sc-progress-view .sc-inner-head {
  left: 8px;
  right: 0px;
  position:absolute;
  height:20px;
  background: static_url("images/1.png") no-repeat right -409px;
  z-index:1;
  border:0px none;
}

.sc-theme .sc-view.sc-progress-view .sc-inner-tail {
  left: 8px;
  right: 8px;
  position:absolute;
  height:20px;
  background: static_url("images/1.png") repeat-x 0 -239px;
  z-index:1;
  border:0px none;
}

/* Disabled */
.sc-theme .sc-view.sc-progress-view.disabled {
  opacity:.5;
}
.sc-theme .sc-view.sc-checkbox-view {
  line-height: 18px;
  vertical-align: middle;
}

.sc-theme .sc-view.sc-checkbox-view .label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}

/* Unchecked */
.sc-theme .sc-view.sc-checkbox-view span.button {
  background: static_url("images/1.png") no-repeat 0 -689px;
  width: 16px;
  height:16px;
  position:absolute;
  margin-right: 8px;
}

.sc-theme .sc-view.sc-checkbox-view input {
  visibility: hidden;
  z-index: 1;
}

/* Checked */
.sc-theme .sc-view.sc-checkbox-view.sel span.button {
  background: static_url("images/1.png") no-repeat 0 -865px;
}

.sc-theme .sc-view.sc-checkbox-view.mixed span.button {
  background: static_url("images/1.png") no-repeat 0 -789px;
}

/* Active */
.sc-theme .sc-view.sc-checkbox-view.active span.button {
  background: static_url("images/1.png") no-repeat 0 -809px;
}

.sc-theme .sc-view.sc-checkbox-view.sel.active span.button {
  background: static_url("images/1.png") no-repeat 0 -849px;
}

.sc-theme .sc-view.sc-checkbox-view.mixed.active span.button {
  background: static_url("images/1.png") no-repeat 0 -829px;
}

/* Disabled */
.sc-theme .sc-view.sc-checkbox-view.disabled {
  opacity: .5;
}/* Main */
.disclosure.button {
  width: 14px;
  height: 14px;
}

.disclosure.button.open {
  background:static_url("images/1.png") no-repeat 0 -1035px;
}

.disclosure.button.open.active {
  background:static_url("images/1.png") no-repeat 0 -1063px;
}

.disclosure.button.closed {
  background:static_url("images/1.png") no-repeat 0 -1077px;
}

.disclosure.button.closed.active {
  background:static_url("images/1.png") no-repeat 0 -1021px;
}.sc-theme .sc-view.sc-button-view {
  border: 0px none;
  color: #555;
  text-shadow: 0px 1px 1px white;
  overflow: visible;
}

.sc-theme .sc-view.sc-button-view .button-left {
  position: absolute;
  left: 0px;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -16px -739px;
}

.sc-theme .sc-view.sc-button-view .button-right {
  position:absolute;
  right: 0px;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -16px -664px;
}

.sc-theme .sc-view.sc-button-view .button-middle {
  position: absolute;
  left: 8px; right: 8px;
  height: 25px;
  background: static_url("images/1.png") repeat-x 0 -214px;
  
}

.sc-theme .sc-view.sc-button-view .sc-button-label {
  position:absolute;
  left: 8px;
  right: 8px;
  height: 24px;
  padding-top:1px;
}

/* Selected */
.sc-theme .sc-view.sc-button-view.sel {
  color: #d5dde9;
  font-weight:200;
  text-shadow: 0px -1px 1px rgba(0,0,0,.7);
}

.sc-theme .sc-view.sc-button-view.sel .button-left {
  background: static_url("images/1.png") no-repeat -16px -614px;
}

.sc-theme .sc-view.sc-button-view.sel .button-right {
  background: static_url("images/1.png") no-repeat -16px -689px;
}

.sc-theme .sc-view.sc-button-view.sel .button-middle {
  background: static_url("images/1.png") repeat-x 0 -139px;
}

/* Disabled */
.sc-theme .sc-view.sc-button-view.disabled {
  opacity: .5;
}

/* Active */
.sc-theme .sc-view.sc-button-view.active {
  color: #333;
  text-shadow: 0px 1px 1px white;
}

.sc-theme .sc-view.sc-button-view.active .button-left {
  background: static_url("images/1.png") no-repeat -16px -714px;
}

.sc-theme .sc-view.sc-button-view.active .button-right {
  background: static_url("images/1.png") no-repeat -16px -589px;
}

.sc-theme .sc-view.sc-button-view.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -64px;
}.sc-theme .sc-view.sc-split-divider-view {
  background: #555;
  border: 0px none;
}.sc-theme .sc-view.sc-collection-view.sc-source-list {
  background: #d0dae3;
}

.sc-theme .sc-view.sc-collection-view.sc-source-list .sc-collection-item.sel {
  background: static_url("images/1.png") repeat-x 0 -32px;
  border-top: 1px solid #43638d;
  border-bottom: 1px solid #43638d;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;
}

.sc-theme .sc-view.sc-collection-view.sc-source-list .sc-collection-item.sc-group-item {
  font-weight: bold;
  color: #4a4a4a;
  text-shadow: 0px 1px 1px white;
  font-size:12px;
}

.sc-theme .sc-view.sc-collection-view.sc-source-list .disclosure {
  position: absolute;
  left: -12px;
  top: 9px;
}.sc-main {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  height: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
}