.sc-theme .sc-view.ace.light.sc-toolbar-view {
  background: static_url("images/1.png") repeat-x 0 0;
  color: #555;
  text-shadow: 0px 1px 1px white;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
  z-index: 10;
}/* */
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroll-view {
  background:  rgba(251,251,251,.92);
  border: 0px none;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item {
  background: transparent;
  border: 0px none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item a span.value {
  margin-left: 10px;
  line-height: 20px; /* You want it slightly high for characters with descenders */
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-button-view.focus a,
.sc-menu-item a:hover {
  color: white;
  background: static_url("images/1.png") repeat-x 0 -352px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .6);
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-button-view.disabled.focus a,
.sc-menu-item.disabled a:hover {
  color: white;
  background: transparent;
}

/* Checkboxes */
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item .checkbox {
  top: 3px;
  width: 12px; height: 12px;
  background: static_url("images/1.png") no-repeat -14px -1084px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item.focus .checkbox, 
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item:hover .checkbox {
  top: 4px; /* NOTE THE SLIGHT DIFFERENCE */
  background: static_url("images/1.png") no-repeat -14px -1058px;
}

/* Separators */
.sc-menu-item span.separator {
  margin-left: 0px;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 2px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(200, 200, 200);
}

/* Up and Down, like a trampoline */
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view {
  background: transparent;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view .arrowUp {
  position:absolute;
  left: 50%;
  top: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: static_url("images/1.png") no-repeat 0 -1280px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view .arrowDown {
  position:absolute;
  left: 50%;
  bottom: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: static_url("images/1.png") no-repeat 0 -1182px;
}

/* Corners */
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-left-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") no-repeat 0 -530px;
  left: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-right-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") no-repeat 0 -555px;
  right: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-left-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") no-repeat 0 -580px;
  left: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-right-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") no-repeat 0 -605px;
  right: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}


/* Edges */
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") repeat-x 0 -139px;
  left: 9px;
  right: 9px;
  bottom: -25px;
  height: 25px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/1.png") repeat-x 0 -89px;
  left: 9px;
  right: 9px;
  top: -25px;
  height: 25px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .left-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/2.png") repeat-y 0 0;
  top: 0px;
  bottom: 0px;
  left: -16px;
  width: 16px;
}

.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .right-edge {
  /* I suppose we'll have to replace these with images... */
  background: static_url("images/2.png") repeat-y -16px 0;
  top: 0px;
  bottom: 0px;
  right: -16px;
  width: 16px;
}.sc-theme .sc-view.ace.light.sc-pane.sc-panel {
  background: rgba(251, 251, 251, .92);
}

/* Top */
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-left-edge {
  left: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -687px;
}

.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-edge {
  top: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: static_url("images/1.png") repeat-x 0 -388px;
}

.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-right-edge {
  right: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -712px;
}

/* Bottom */
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-left-edge {
  left: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -646px;
}

.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-edge {
  bottom: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: static_url("images/1.png") repeat-x 0 -372px;
}

.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-right-edge {
  right: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -662px;
}

/* Sides */
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .left-edge {
  top: 0px;
  left: -16px;
  bottom: 0px;
  width: 16px;
  background: static_url("images/2.png") repeat-y -32px 0;
}

.sc-theme .sc-view.ace.light.sc-pane.sc-panel .right-edge {
  top: 0px;
  right: -16px;
  bottom: 0px;
  width: 16px;
  background: static_url("images/2.png") repeat-y -48px 0;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view .button-left {
  background: static_url("images/1.png") no-repeat -16px -787px;
}

.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view .button-right {
  right: 0px;
  width: 25px;
  background: static_url("images/1.png") no-repeat right -457px;
}

.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view .button-middle {
  background: static_url("images/1.png") repeat-x 0 -164px;
  right:25px;
  left:8px;
}

.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view .sc-button-label {
  text-align: left;
  right: 25px;
  vertical-align:top;
  color: #333;
}

.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.active .button-left {
  background: static_url("images/1.png") no-repeat -16px -812px;
}

.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.active .button-right {
  background: static_url("images/1.png") no-repeat right -432px;
}

.sc-theme .sc-view.ace.light.sc-button-view.sc-select-view.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -239px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);
}


.sc-select-view .sc-menu-item span.value { margin-left: 10px; }.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment {
  background: none;
  border: 0px none;
  color: #555;
  height: 25px;
  text-shadow: 0px 1px 1px white;
  overflow: visible;
  display:inline-block;
  zoom: 1;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-left {
  display: inline-block;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -16px -837px;
  zoom: 1;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-right {
  display: inline-block;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -16px -862px;
  zoom: 1;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-middle {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top:1px;
  height: 25px;
  vertical-align:top;
  background: static_url("images/1.png") repeat-x 0 -214px;
  zoom: 1;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sc-first-segment .button-left {
  background: static_url("images/1.png") no-repeat -16px -887px;  
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sc-last-segment .button-right {
  background: static_url("images/1.png") no-repeat -16px -912px;  
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .sc-button-label {
  
}

/* Active */
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active {
  color: #333;
  text-shadow: 0px 1px 1px white;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-left {
  background: static_url("images/1.png") no-repeat -16px -986px;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-right {
  background: static_url("images/1.png") no-repeat -16px -962px;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -264px;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active.sc-first-segment .button-left {
  background: static_url("images/1.png") no-repeat -14px -1134px;  
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active.sc-last-segment .button-right {
  background: static_url("images/1.png") no-repeat -14px -1182px;
}

/* Selected */
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel {
  background:none;
  color: #fff;
  font-weight:200;
  text-shadow: 0px -1px 1px rgba(0,0,0,.5);
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-left {
  background: static_url("images/1.png") no-repeat -14px -1158px;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-right {
  background: static_url("images/1.png") no-repeat -14px -1110px;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-middle {
  background: static_url("images/1.png") repeat-x 0 -288px;
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left {
  background: static_url("images/1.png") no-repeat -15px -1034px;  
}

.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right {
  background: static_url("images/1.png") no-repeat -15px -1010px;
}/* Track */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .track {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	background: static_url("images/2.png") repeat-y -64px 0;
}

/* Cap */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .cap {
	position:absolute;
	height: 16;
	width: 14px;
	height: 16px;
	top: 0px;
	background: static_url("images/1.png") no-repeat 0 -1110px;
}

/* Buttons */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-top {
	position:absolute;
	background: static_url("images/1.png") no-repeat 0 -1058px;
	height: 26px;
    width: 14px;
    bottom: 14px;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-bottom {
	position:absolute;
	background: static_url("images/1.png") no-repeat 0 -1158px;
	height: 15px;
    width: 14px;
    bottom: 0px;
}

/* Active */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-top:active {
	background: static_url("images/1.png") no-repeat 0 -1084px;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-bottom:active {
	background: static_url("images/1.png") no-repeat 0 -1134px;
}

/* Thumb */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb {
	position:absolute;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-center {
	position: absolute;
	width: 14px;
	top: 10px;
	bottom: 10px;
	background: static_url("images/2.png") repeat-y -78px 0;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-top {
	position: absolute;
	width: 14px;
	top: 0px;
	height: 10px;
	background: static_url("images/1.png") no-repeat 0 -1304px;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-bottom {
	position: absolute;
	width: 14px;
	bottom: 0px;
	height: 10px;
	background: static_url("images/1.png") no-repeat 0 -1294px;
}/* Track */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .track {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	bottom: 0;
	background: static_url("images/1.png") repeat-x 0 -418px;
}

/* Cap */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .cap {
	position:absolute;
	width: 16;
	height: 14px;
	width: 16px;
	left: 0px;
	background: static_url("images/1.png") no-repeat 0 -986px;
}

/* Buttons */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-left {
	position:absolute;
	background: static_url("images/1.png") no-repeat 0 -516px;
	width: 26px;
    height: 14px;
    right: 14px;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-right {
	position:absolute;
	background: static_url("images/1.png") no-repeat 0 -1010px;
	width: 15px;
    height: 14px;
    right: 0px;
}

/* Active */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-left:active {
	background: static_url("images/1.png") no-repeat 0 -502px;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-right:active {
	background: static_url("images/1.png") no-repeat 0 -1034px;
}

/* Thumb */
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb {
	position:absolute;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-center {
	position: absolute;
	height: 14px;
	left: 10px;
	right: 10px;
	background: static_url("images/1.png") repeat-x 0 -404px;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-left {
	position: absolute;
	height: 14px;
	left: 0px;
	width: 10px;
	background: static_url("images/1.png") no-repeat -16px -630px;
}

.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-right {
	position: absolute;
	height: 14px;
	right: 0px;
	width: 10px;
	background: static_url("images/1.png") no-repeat -16px -646px;
}.sc-theme .sc-view.ace.light.sc-radio-view {
  line-height: 18px;
  vertical-align: middle;
}

.sc-theme .sc-view.ace.light.sc-radio-view .sc-radio-button {
  position: relative;
  display:block;
  padding-left: 18px;
  margin-bottom:3px;
}

.sc-theme .sc-view.ace.light.sc-radio-view .sc-button-label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}

/* Unchecked */
.sc-theme .sc-view.ace.light.sc-radio-view span.button {
  background: static_url("images/1.png") no-repeat 0 -762px;
  width: 16px;
  height:16px;
  vertical-align:middle;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}

.sc-theme .sc-view.ace.light.sc-radio-view input {
  visibility: hidden;
}

/* Checked */
.sc-theme .sc-view.ace.light.sc-radio-view .sel span.button {
  background: static_url("images/1.png") no-repeat 0 -630px;
}

.sc-theme .sc-view.ace.light.sc-radio-view .mixed span.button {
  background: static_url("images/1.png") no-repeat 0 -482px;
}

/* Active */
.sc-theme .sc-view.ace.light.sc-radio-view .active span.button {
  background: static_url("images/1.png") no-repeat 0 -737px;
}

.sc-theme .sc-view.ace.light.sc-radio-view .sel.active span.button {
  background: static_url("images/1.png") no-repeat 0 -862px;
}

.sc-theme .sc-view.ace.light.sc-radio-view .mixed.active span.button {
  background: static_url("images/1.png") no-repeat 0 -937px;
}

/* Disabled */
.sc-theme .sc-view.ace.light.sc-radio-view.disabled {
  opacity: .5;
}/* 
Syntax Notes: 
.sc-theme .sc-view.ace.light.view-name is replaced with .sc-view.view-name.theme-name

theme-name is specified as an argument when building.

[8] means a rectangle starting at x=8, the whole height, to the right edge.
[8, 1] means rectangle starting at x=8, width 1px, whole height
[8, 2, 1, 1] means a 1x1 rectangle at 8, 2.
*/

/* Track */
.sc-theme .sc-view.ace.light.sc-progress-view {
  /* anchor right so noise won't show below rounded corners of right piece */
  background: static_url("images/1.png") no-repeat -14px -1206px;
  z-index:0;
  border:0px none;
}

.sc-theme .sc-view.ace.light.sc-progress-view .sc-outer-head {
  left: 8px;
  right: 8px;
  position:absolute;
  height:20px;
  background: static_url("images/1.png") repeat-x 0 -332px;
  z-index:0;
  border:0px none;
}

.sc-theme .sc-view.ace.light.sc-progress-view .sc-outer-tail {
  right: 0px;
  width: 8px;
  position:absolute;
  height:20px;
  background: static_url("images/1.png") no-repeat -14px -1226px;
  z-index:0;
  border:0px none;
}



/* Inner */
.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner {
  background: static_url("images/1.png") no-repeat -14px -1246px;
  z-index:1;
  border:0px none;
}

.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner-head {
  left: 8px;
  right: 0px;
  position:absolute;
  height:20px;
  background: static_url("images/1.png") no-repeat right -482px;
  z-index:1;
  border:0px none;
}

.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner-tail {
  left: 8px;
  right: 8px;
  position:absolute;
  height:20px;
  background: static_url("images/1.png") repeat-x 0 -312px;
  z-index:1;
  border:0px none;
}

/* Disabled */
.sc-theme .sc-view.ace.light.sc-progress-view.disabled {
  opacity:.5;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view {
  line-height: 18px;
  vertical-align: middle;
}

.sc-theme .sc-view.ace.light.sc-checkbox-view .label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}

/* Unchecked */
.sc-theme .sc-view.ace.light.sc-checkbox-view span.button {
  background: static_url("images/1.png") no-repeat 0 -912px;
  width: 16px;
  height:16px;
  position:absolute;
  margin-right: 8px;
}

.sc-theme .sc-view.ace.light.sc-checkbox-view input {
  visibility: hidden;
  z-index: 1;
}

/* Checked */
.sc-theme .sc-view.ace.light.sc-checkbox-view.sel span.button {
  background: static_url("images/1.png") no-repeat 0 -887px;
}

.sc-theme .sc-view.ace.light.sc-checkbox-view.mixed span.button {
  background: static_url("images/1.png") no-repeat 0 -962px;
}

/* Active */
.sc-theme .sc-view.ace.light.sc-checkbox-view.active span.button {
  background: static_url("images/1.png") no-repeat 0 -837px;
}

.sc-theme .sc-view.ace.light.sc-checkbox-view.sel.active span.button {
  background: static_url("images/1.png") no-repeat 0 -812px;
}

.sc-theme .sc-view.ace.light.sc-checkbox-view.mixed.active span.button {
  background: static_url("images/1.png") no-repeat 0 -787px;
}

/* Disabled */
.sc-theme .sc-view.ace.light.sc-checkbox-view.disabled {
  opacity: .5;
}/* Main */
.disclosure.button {
  width: 14px;
  height: 14px;
}

.disclosure.button.open {
  background:static_url("images/1.png") no-repeat 0 -1266px;
}

.disclosure.button.open.active {
  background:static_url("images/1.png") no-repeat 0 -1246px;
}

.disclosure.button.closed {
  background:static_url("images/1.png") no-repeat 0 -1206px;
}

.disclosure.button.closed.active {
  background:static_url("images/1.png") no-repeat 0 -1226px;
}.sc-theme .sc-view.ace.light.sc-button-view {
  border: 0px none;
  color: #555;
  text-shadow: 0px 1px 1px white;
  overflow: visible;
}

.sc-theme .sc-view.ace.light.sc-button-view .button-left {
  position: absolute;
  left: 0px;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -16px -662px;
}

.sc-theme .sc-view.ace.light.sc-button-view .button-right {
  position:absolute;
  right: 0px;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -16px -687px;
}

.sc-theme .sc-view.ace.light.sc-button-view .button-middle {
  position: absolute;
  left: 8px; right: 8px;
  height: 25px;
  background: static_url("images/1.png") repeat-x 0 -189px;
  
}

.sc-theme .sc-view.ace.light.sc-button-view .sc-button-label {
  position:absolute;
  left: 8px;
  right: 8px;
  height: 24px;
  padding-top:2px;
}

/* Selected */
.sc-theme .sc-view.ace.light.sc-button-view.sel {
  color: #fff;
  font-weight:200;
  text-shadow: 0px -1px 1px rgba(0,0,0,.5);
}

.sc-theme .sc-view.ace.light.sc-button-view.sel .button-left {
  background: static_url("images/1.png") no-repeat -16px -712px;
}

.sc-theme .sc-view.ace.light.sc-button-view.sel .button-right {
  background: static_url("images/1.png") no-repeat -16px -737px;
}

.sc-theme .sc-view.ace.light.sc-button-view.sel .button-middle {
  background: static_url("images/1.png") repeat-x 0 -64px;
}

/* Disabled */
.sc-theme .sc-view.ace.light.sc-button-view.disabled {
  opacity: .5;
}

/* Active */
.sc-theme .sc-view.ace.light.sc-button-view.active {
  color: #333;
  text-shadow: 0px 1px 1px white;
}

.sc-theme .sc-view.ace.light.sc-button-view.active .button-left {
  background: static_url("images/1.png") no-repeat -16px -762px;
}

.sc-theme .sc-view.ace.light.sc-button-view.active .button-right {
  background: static_url("images/1.png") no-repeat -16px -937px;
}

.sc-theme .sc-view.ace.light.sc-button-view.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -114px;
}.sc-theme .sc-view.ace.light.sc-split-divider-view {
  background: #555;
  border: 0px none;
}.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list {
  background: #d0dae3;
}

.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .sc-collection-item.sel {
  background: static_url("images/1.png") repeat-x 0 -32px;
  border-top: 1px solid #43638d;
  border-bottom: 1px solid #43638d;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;
}

.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .sc-collection-item.sc-group-item {
  font-weight: bold;
  color: #4a4a4a;
  text-shadow: 0px 1px 1px white;
  font-size:12px;
}

.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .disclosure {
  position: absolute;
  left: -12px;
  top: 9px;
}.sc-main {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  height: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
}