@view(sc-segmented-view) {
  overflow: visible;

  /*
    DEFAULT STATE
  */
  .sc-segment {
    background: none;
    border: 0px none;
    color: #555;
    text-shadow: 0px 1px 1px white;
    display:inline-block;
    zoom: 1;
    overflow:hidden;
    position: relative;
    
    .button-left {
      display: inline-block;
      zoom: 1;
    }
    
    .button-right {
      display: inline-block;
      zoom: 1;
    }
    
    .button-middle {
      display: inline-block;
      margin: 0px;
      padding: 0px;
      padding-top:1px;
      vertical-align:top;
      zoom: 1;      
    }
    
    .sc-button-label {
      display: block;
    }
  }
  
  /* 
    DEFAULT STATE w/ FIXED WIDTH SEGMENTS
  */
  .sc-segment.fixed {
    .button-left {
      position: absolute;
      left: 0px;
    }
    
    .button-right {
      position: absolute;
      right: 0px;
    }
    
    .button-middle {
      position: absolute;
      left: 8px;
      right: 8px;
    }
  }
  
  /* ACTIVE STATE */
  .sc-segment.active {
    color: #333;
    text-shadow: 0px 1px 1px white;    
  }
  
  /* SELECTED STATE */
  .sc-segment.sel {
    background:none;
    color: #fff;
    font-weight:200;
    text-shadow: 0px -1px 1px rgba(0,0,0,.5);
  }
  
  /* SELECTED ACTIVE STATE */
  .sc-segment.sel.active {
    background:none;
    color: #fff;
    font-weight:200;
    text-shadow: 0px -1px 1px rgba(0,0,0,.5);
  }
  
  img {
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: -2px;
    margin-right:2px;
  }
}

@view(sc-segmented-view).disabled {
  opacity: 0.5;
}
