@view(sc-button-view) {
  border: 0px none;
  color: #555;
  text-shadow: 0px 1px 1px white;
  overflow: visible;
}

@view(sc-button-view) .button-left {
  position: absolute;
  left: 0px;
  width: 8px;
  height: 25px;
  background: sprite("normal_button.png" [0 8]);
}

@view(sc-button-view) .button-right {
  position:absolute;
  right: 0px;
  width: 8px;
  height: 25px;
  background: sprite("normal_button.png" [-8]);
}

@view(sc-button-view) .button-middle {
  position: absolute;
  left: 8px; right: 8px;
  height: 25px;
  background: sprite("normal_button.png" repeat-x [8, 1]);
  
}

@view(sc-button-view) .sc-button-label {
  position:absolute;
  left: 8px;
  right: 8px;
  height: 24px;
  padding-top:1px;
}

/* Selected */
@view(sc-button-view).sel {
  color: #d5dde9;
  font-weight:200;
  text-shadow: 0px -1px 1px rgba(0,0,0,.7);
}

@view(sc-button-view).sel .button-left {
  background: sprite("selected_button.png" [0 8]);
}

@view(sc-button-view).sel .button-right {
  background: sprite("selected_button.png" [-8]);
}

@view(sc-button-view).sel .button-middle {
  background: sprite("selected_button.png" repeat-x [8, 1]);
}

/* Disabled */
@view(sc-button-view).disabled {
  opacity: .5;
}

/* Active */
@view(sc-button-view).active {
  color: #333;
  text-shadow: 0px 1px 1px white;
}

@view(sc-button-view).active .button-left {
  background: sprite("active_button.png" [0 8]);
}

@view(sc-button-view).active .button-right {
  background: sprite("active_button.png" [-8]);
}

@view(sc-button-view).active .button-middle {
  background: sprite("active_button.png" repeat-x [8, 1]);
}