/* Main */
$theme.disclosure {
  
  border: 0px none;
  color: black;
  text-shadow: white 0px 1px 1px;
  
  .sc-button-label {
    left: 18px;
  }
  
  img.disclosure.button {
    width: 16px;
    height: 16px;
    &.open    { @include slice("disclosure_open.png"); }
    &.closed  { @include slice("disclosure_closed.png"); }
    
    &.active {
      &.open    { @include slice("disclosure_open_active.png"); }
      &.closed  { @include slice("disclosure_closed_active.png"); }
    }
  }
}

.sc-list-item-view $theme.disclosure {
  position: absolute;
  left: -12px;
  top: 50%;
  margin-top: -6px;
  
  width: 18px;
  height: 18px;
}