<% # ========================================================================
   # SC.LabelItemView Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>

Test.context("SC.ImageCellView",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true) ;
  }

}) ;

</script>

<% end %>