<% # ========================================================================
   # SC.ListView Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>

Test.context("SC.ListView",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true) ;
  }

}) ;


</script>

<% end %>