<% # ========================================================================
   # SC.SliderView Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>

Test.context("SC.SliderView",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true) ;
  }

}) ;

if (window.main && (appMain = main)) main = null ; 
</script>

<% end %>