@view(sc-button-view).sc-regular-size .button-left {
  margin-top:-12px;
  height: 24px;
  background: sprite("normal_button.png" [0 8]);
}

@view(sc-button-view).sc-regular-size .button-right {
  margin-top:-12px;
  height: 24px;
  background: sprite("normal_button.png" [-8]);
}

@view(sc-button-view).sc-regular-size .button-middle {
  margin-top:-12px;
  height: 24px;
  background: sprite("normal_button.png" repeat-x [8, 1]);
  
}

@view(sc-button-view).sc-regular-size .sc-button-label {
  margin-top:-12px;
  height: 24px;
  padding-top:2px;
}

/* Active */
@view(sc-button-view).sc-regular-size.active .button-left {
  background: sprite("active_button.png" [0 8]);
}

@view(sc-button-view).sc-regular-size.active .button-right {
  background: sprite("active_button.png" [-8]);
}

@view(sc-button-view).sc-regular-size.active .button-middle {
  background: sprite("active_button.png" repeat-x [8, 1]);
}

/* Selected */
@view(sc-button-view).sc-regular-size.sel .button-left {
  background: sprite("selected_button.png" [0 8]);
}

@view(sc-button-view).sc-regular-size.sel .button-right {
  background: sprite("selected_button.png" [-8]);
}

@view(sc-button-view).sc-regular-size.sel .button-middle {
  background: sprite("selected_button.png" repeat-x [8, 1]);
}

/* Selected and Active */
@view(sc-button-view).sc-regular-size.sel.active .button-left {
  background: sprite("selected_active_button.png" [0 8]);
}

@view(sc-button-view).sc-regular-size.sel.active .button-right {
  background: sprite("selected_active_button.png" [-8]);
}

@view(sc-button-view).sc-regular-size.sel.active .button-middle {
  background: sprite("selected_active_button.png" repeat-x [8, 1]);
}

/* Disabled */
@view(sc-button-view).sc-regular-size.disabled {
  opacity: .5;
}
