
@theme(sc-jumbo-size) {

  $theme.slider {
    .track {
      height: 6px; margin-top: -2px;
      border-radius: 3px;
    }

    .sc-slider-step-mark {
      height: 8px;
      margin-top: 9px;
    }

    .sc-handle {
      width: 20px; height: 20px; margin-top: -10px; margin-left: -10px;
      border-radius: 20px;
    }
  }
}
