
@theme(sc-regular-size) {

  $theme.slider {
    .track {
      height: 5px; margin-top: -2px;
      border-radius: 3px;
    }

    .sc-slider-step-mark {
      height: 5px;
      margin-top: 8px;
    }

    .sc-handle {
      width: 14px; height: 14px; margin-top: -7px; margin-left: -7px;
      border-radius: 14px;
    }
  }
}

