@theme(sc-jumbo-size)

@view(sc-button-view) {
  
  /* NORMAL STATE */
  .button-left {
    margin-top:-22px;
    height: 44px;
    background: sprite("normal_button.png" [0 8]);
  }
  
  .button-right {
    margin-top:-22px;
    height: 44px;
    background: sprite("normal_button.png" [-8]);
  }
  
  .button-middle {
    margin-top:-22px;
    height: 44px;
    background: sprite("normal_button.png" repeat-x [8, 1]);
  }
  
  .sc-button-label {
    margin-top:-10px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    color:#777;
    text-shadow: 0px 1px 1px white;
  }
}

@view(sc-button-view).active {
  .button-left { background: sprite("active_button.png" [0 8]); }
  .button-right { background: sprite("active_button.png" [-8]); }
  .button-middle { background: sprite("active_button.png" [8 1] repeat-x); }
}

@view(sc-button-view).sel, @view(sc-button-view).def {
  .button-left { background: sprite("selected_button.png" [0 8]); }
  .button-right { background: sprite("selected_button.png" [-8]); }
  .button-middle { background: sprite("selected_button.png" [8 1] repeat-x); }
  
  .sc-button-label {
    color:white;
    text-shadow: 0px -1px 1px black;
  }
}

@view(sc-button-view).sel.active, @view(sc-button-view).def.active {
  .button-left { background: sprite("selected_active_button.png" [0 8]); }
  .button-right { background: sprite("selected_active_button.png" [-8]); }
  .button-middle { background: sprite("selected_active_button.png" [8 1] repeat-x); }
}

@end