<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"  >
    <meta http-equiv="Content-Script-Type" content="text/javascript"  >
    <meta name="apple-mobile-web-app-capable" content="yes"  >
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"  >


    
  </head>
  <body>
    <% app.scripts.forEach(s => { %>
      <script src="<%= s %>"></script>
    <% }) %>
    <% app.styles.forEach(s => { %>
      <link rel="stylesheet" href="<%= s %>">
    <% }) %>
  </body>
</html>