
/* Overrides of the themed vertical scroller to take it back to a basic black transparent OS X style overlay. */
$theme.sc-overlay-scroller-view.sc-vertical {

  /* Track */
  .track,
  .cap, 
  .endcap,
  .button-top, 
  .button-bottom, 
  .button-top:hover, 
  .button-top:active {
    background: none;
  }

  /* Thumb */
  .thumb, 
  .thumb:hover, 
  .thumb:active {
    background: none;
    border: none;
    box-shadow: none;
    width: 12px;
  }

  .thumb-top, 
  .thumb-center, 
  .thumb-bottom {
    background-color: $scroller-thumb-bg;
    width: 5px;
  }

}
