@theme(sc-regular-size)

@view(sc-button-view.sc-select-view) {
  .button-left {
    background: sprite("normal_select.png" clear [0 8]);
  }
  
  .button-right {
    right: 0px;
    width: 25px;
    background: sprite("normal_select.png" anchor-right [-25]);
  }
  
  .button-middle {
    background: sprite("normal_select.png" repeat-x [8 1]);
    right:25px;
    left:8px;
  }
  
  .sc-button-label {
    text-align: left;
    right: 25px;
    vertical-align:top;
    color: #333;
  }
}

@view(sc-button-view.sc-select-view).sel.active {
  .button-left {
    background: sprite("active_select.png" clear [0 8]);
  }

  .button-right {
    background: sprite("active_select.png" anchor-right [-25]);
  }
  
  .button-middle {
    background: sprite("active_select.png" repeat-x [8 1]);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, .6);
  }
}

@end