@view(sc-radio-view) {
  line-height: 18px;
  vertical-align: middle;
}

@view(sc-radio-view) .sc-radio-button {
  position: relative;
  display:block;
  padding-left: 18px;
  margin-bottom:3px;
}

@view(sc-radio-view) .sc-button-label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}

/* Unchecked */
@view(sc-radio-view) span.button {
  background: sprite("radio_unselected.png");
  width: 16px;
  height:16px;
  vertical-align:middle;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}

@view(sc-radio-view) input {
  visibility: hidden;
}

/* Checked */
@view(sc-radio-view) .sel span.button {
  background: sprite("radio_selected.png");
}

@view(sc-radio-view) .mixed span.button {
  background: sprite("radio_mixed.png");
}

/* Active */
@view(sc-radio-view) .active span.button {
  background: sprite("radio_active.png");
}

@view(sc-radio-view) .sel.active span.button {
  background: sprite("radio_selected_active.png");
}

@view(sc-radio-view) .mixed.active span.button {
  background: sprite("radio_mixed_active.png");
}

/* Disabled */
@view(sc-radio-view).disabled {
  opacity: .5;
}