.sc-source-list-background,
@view(sc-scroll-view).sc-source-list-background .sc-container-view {
  background: #d0dae3;
}

@view(sc-collection-view).sc-source-list {
  background: #d0dae3;
}


@view(sc-collection-view).sc-source-list .sc-list-item-view label {
  top: 50%;
  margin-top: -9px;
  font-size:14px;
}

@view(sc-collection-view).sc-source-list .sc-collection-item.sel {
  background: sprite("selection.png" repeat-x [0, 48, 1, 32]);
  border-top: 1px solid #43638d;
  border-bottom: 1px solid #43638d;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;
}

@view(sc-collection-view).sc-source-list .sc-collection-item.sc-group-item {
  font-weight: bold;
  color: #4a4a4a;
  text-shadow: 0px 1px 1px white;
  font-size:12px;
}

@view(sc-collection-view).sc-source-list .disclosure {
  position: absolute;
  left: -12px;
  top: 9px;
}
