$theme.toolbar {
  @include slice(toolbar.png, $width: 1, $repeat: repeat-x);
  color: #555;
  text-shadow: 0px 1px 1px white;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
  z-index: 10;
}