/* @override 
	http://localhost:4020/static/sproutcore/empty_theme/en/current/source/list_item.css?1235948873
	http://localhost:4020/static/sproutcore/empty_theme/en/current/source/list_item.css?1235950291
*/

/* SC.ListItemView */

.sc-list-item-view.sc-regular-size {
  font-size: 11px;
}

.sc-list-item-view.sel {
	background-color: #888; 
	color: white ;
}

.sc-list-item-view.active {
	background-color: #333 ;
	color: white ;
}

/* @group Label */

.sc-list-item-view label {
	top: 50%;
	height: 18px;
	display: block;
	position: absolute; 
	margin-top: -9px;
	line-height: 18px;
	left:  4px;
	right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.sc-list-item-view .sc-outline {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.sc-list-item-view.has-icon label,
.sc-list-item-view.has-checkbox label {
	left: 24px;
}

.sc-list-item-view.has-checkbox.has-icon label {
	left: 44px;
}

/* @end */



/* @group Icon */

.sc-list-item-view img.icon {
	position: absolute ;
	left: 5px;
	top: 50%;
	margin-top: -9px;
}

.sc-list-item-view.has-checkbox img.icon {
	left: 25px;
}

/* @end */

/* @group Checkbox */

.sc-list-item-view .sc-checkbox-view {
	position: absolute;
	display: block;
	border: 1px #888 solid;
	width: 12px;
	height: 12px;
	left: 5px;
	top:  50%;
	margin-top: -8px;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #d0d0d0 ;
}

.sc-list-item-view.sel .sc-checkbox-view {
	border: 1px #333 solid;
}


.sc-list-item-view .sc-checkbox-view.active {
	background-color: #333;
	border-color: black;
}

/* @end */

/* @group Count */

.sc-list-item-view .count {
	position: absolute;
	display: block;
	right: 4px;
	top:  50%;
	margin-top: -7px;
	height: 12px;
	background-color: #888;
	text-align: center;
	padding-left: 7px;
	padding-right: 8px;
	line-height: 11px;
	color: white ;
	font-weight: bold;
	border: 1px #888 solid;
	letter-spacing: -1px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.sc-list-item-view.sel .count {
	background-color:  #333;
	border: 1px #333 solid;
}

.sc-list-item-view.active .count {
	background-color:  #000;
	border: 1px #000 solid;
}

.sc-list-item-view.has-branch .count {
	right: 16px;
}

/* @end */

/* @group Branch */

.sc-list-item-view .branch {
	position: absolute;
	width: 16px;
	height: 16px;
	display: block;
	right: 1px;
	top: 50%;
	margin-top: -8px;
}

/* @end */





