/** SC.Panel Support */

.sc-pane.sc-panel {
  overflow: visible;
  z-index: 100;
}

.sc-pane.sc-modal.for-sc-panel {
  background: black;
  opacity: 0.3;
  -moz-opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}

.sc-pane.sc-panel > .sc-view {
  border: 0px #444 solid;
  background-color: #eaeaea ;
}

.sc-pane.sc-panel > .top-right-edge {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .top-left-edge {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  left: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .bottom-left-edge {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -20px;
  left: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .bottom-right-edge {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .top-edge {
  position: absolute;
  height: 20px;
  top: -20px;
  right: 20px;
  left: 20px;
  z-index: -1;
}

.sc-pane.sc-panel > .bottom-edge {
  position: absolute;
  height: 20px;
  bottom: -20px;
  right: 20px;
  left: 20px;
  z-index: -1;
}

.sc-pane.sc-panel > .left-edge {
  position: absolute;
  width: 20px;
  top: 20px;
  bottom: 20px;
  left: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .right-edge {
  position: absolute;
  width: 20px;
  top: 20px;
  bottom: 20px;
  right: -20px;
  z-index: -1;
}