/* Track */
.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .track {
  background: none;
  display: none;
}

/* Cap */
.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .cap,
.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .endcap {
  background: none;
  display: none;
}

/* Buttons */
.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .button-top {
  background: none;
  display: none;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .button-bottom {
  background: none;
  display: none;
}

/* Active */
.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .button-top:active {
  background: none;
  display: none;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .button-bottom:active {
  background: none;
  display: none;
}

/* Thumb */
.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .thumb {
  position: absolute;
  opacity: 0.5;
  -webkit-transform: translateZ(0px);
  width: 16px;
  height: 1044px;
  overflow: hidden;
}



.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .thumb-top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  position: absolute;
  width: 5px;
  top: 0px;
  left: 5px;
  height: 10px;
  background: black;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .thumb-clip {
  position: absolute;
  overflow:hidden;
  height: 1034px;
  width: 5px;
  top: 10px;
  left: 5px;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .thumb-inner {
  -webkit-transform: translate3d(0px,0px,0px);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5px;
  height: 1034px;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .thumb-center {
  position: absolute;
  width: 5px;
  left: 0px;
  top: 0px;
  height: 1024px;
  background: black;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-vertical .thumb-bottom {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  position: absolute;
  width: 5px;
  top: 1024px;
  left: 0px;
  height: 10px;
  background: black;
}





/* Track */
.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .track {
  background: none;
  display: none;
}

/* Cap */
.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .cap,
.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .endcap {
  background: none;
  display: none;
}

/* Buttons */
.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .button-top {
  background: none;
  display: none;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .button-bottom {
  background: none;
  display: none;
}

/* Active */
.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .button-top:active {
  background: none;
  display: none;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .button-bottom:active {
  background: none;
  display: none;
}

/* Thumb */
.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .thumb {
  position: absolute;
  opacity: 0.5;
  -webkit-transform: translateZ(0px);
  height: 16px;
  width: 1044px;
  overflow: hidden;
}



.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .thumb-top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  position: absolute;
  width: 10px;
  top: 5px;
  left: 0px;
  height: 5px;
  background: black;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .thumb-clip {
  position: absolute;
  overflow:hidden;
  width: 1034px;
  height: 5px;
  left: 10px;
  top: 5px;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .thumb-inner {
  -webkit-transform: translate3d(0px,0px,0px);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 5px;
  width: 1034px;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .thumb-center {
  position: absolute;
  height: 5px;
  top: 0px;
  left: 0px;
  width: 1024px;
  background: black;
}

.sc-theme .sc-view.sc-touch-scroller-view.sc-horizontal .thumb-bottom {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  position: absolute;
  height: 5px;
  left: 1024px;
  top: 0px;
  width: 10px;
  background: black;
}

