@view(sc-slider-view) {
  overflow:visible;
  .sc-track {
    position: absolute;
    top: 50%; height: 5px; left: 0px; right: 0px;
    margin-top: -2px;
    
    .sc-left {
      left: 0px; width: 4px; top: 0px; height: 5px;
      display: block; position: absolute;
      background: sprite("track.png" [0 4]);
    }
    
    .sc-middle {
      left: 4px; right: 4px; top: 0px; height: 5px;
      display: block; position: absolute;
      background: sprite("track.png" repeat-x [4 1]);
    }
    
    .sc-right {
      right: 4px; width: 4px; top: 0px; height: 5px;
      display: block; position: absolute;
      background: sprite("track.png" [-4]);
    }
  }
  
  .sc-handle {
    display: block; position: absolute;
    width: 16px; height: 18px; top: 50%; margin-top: -8px;
    background: sprite("knob.png");
  }
  
}

@view(sc-slider-view).active {
  .sc-handle {
    background: sprite("knob_active.png");    
  }
}