@view(sc-master-detail-view) {
  background: #333;
}

@view(sc-master-detail-view) > .sc-view {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
}

@view(sc-master-detail-view) .sc-workspace-view .sc-toolbar-view {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-raidus-topright: 5px;
}