@view(sc-master-detail-view) {
  background: #333;
}

@view(sc-master-detail-view) .sc-workspace-view.rounded-corners .sc-toolbar-view {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-raidus-topright: 5px;
}