@theme(popover)

/* Popovers are not themed. Well, they are--but their PickerPane part is not. */
@view(sc-pane.sc-panel.sc-palette.sc-picker) {
  background: none;
}

/* First, we do change toolbars. They are rendered by the workspace part */
@view(sc-toolbar-view) {
  background: none;
  color: white;
  text-shadow: none;
  border-bottom: 0px none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
/* Now, said "workspace part" */

/*************** BASIC ****************/
@view(sc-workspace-view) {
  overflow: visible;
  background: none;
  
  /* z-index can't go at top--it would interrupt events */
  
  .sc-workspace-overlay {
    position: absolute; left: 0; top: 0; bottom: 0; right: 0;
    /* TOP */
    .top-left-edge {
      z-index: 5;
      position: absolute;
      left: -25px; top: -25px; width: 40px; height: 30px;
      background: sprite("popover_notoolbar.png" [0 0 40 30]);
    }
    
    .top-right-edge {
      z-index: 5;
      position: absolute;
      right: -25px; top: -25px; width: 40px; height: 30px;
      background: sprite("popover_notoolbar.png" [-40 0 40 30]);
    }
    
    .top-edge {
      z-index: 5;
      position: absolute;
      left: 15px; right: 15px; top: -25px; height: 30px;
      background: sprite("popover_notoolbar.png" [40 0 1 30] repeat-x);
    }
    
    /* BOTTOM */
    .bottom-left-edge {
      z-index: 5;
      position: absolute;
      left: -25px; bottom: -25px; width: 40px; height: 30px;
      background: sprite("popover_notoolbar.png" [0 -30 40 30]);
    }
    
    .bottom-right-edge {
      z-index: 5;
      position: absolute;
      right: -25px; bottom: -25px; width: 40px; height: 30px;
      background: sprite("popover_notoolbar.png" [-40 -30 40 30]);
    }
    
    .bottom-edge {
      z-index: 5;
      position: absolute;
      left: 15px; right: 15px; bottom: -25px; height: 30px;
      background: sprite("popover_notoolbar.png" [40 -30 1 30] repeat-x);
    }
    
    /* LEFT AND RIGHT SIDES */
    .left-edge {
      z-index: 5;
      position: absolute;
      left: -25px; top: 5px; bottom: 5px; width: 30px;
      background: sprite("popover_notoolbar.png" [0 40 30 1] repeat-y);
    }
    
    .right-edge {
      z-index: 5;
      position: absolute;
      right: -25px; top: 5px; bottom: 5px; width: 30px;
      background: sprite("popover_notoolbar.png" [-30 40 30 1] repeat-y);
    }
    
    .sc-pointer {
      z-index:6;
    }
  }
  
}


@theme(solid)
@view(sc-workspace-view) {
  overflow: visible;
  background: none;
  
  /* z-index can't go at top--it would interrupt events */
  
  .sc-workspace-overlay {
    opacity: 0.9; /* This is below content, so we can indeed make it transparent */
    
    /* TOP */
    .top-left-edge {
      z-index: auto;
      height: 70px;
      background: sprite("popover_empty.png" [0 0 40 70]);
    }
    
    .top-right-edge {
      z-index: auto;
      height: 70px;
      background: sprite("popover_empty.png" [-40 0 40 70]);
    }
    
    .top-edge {
      z-index: auto;
      height: 70px;
      background: sprite("popover_empty.png" [40 0 1 70] repeat-x);
    }
    
    /* BOTTOM */
    .bottom-left-edge {
      z-index: auto;
      background: sprite("popover_empty.png" [0 -30 40 30]);
    }
    
    .bottom-right-edge {
      z-index: auto;
      background: sprite("popover_empty.png" [-40 -30 40 30]);
    }
    
    .bottom-edge {
      z-index: auto;
      background: sprite("popover_empty.png" [40 -30 1 30] repeat-x);
    }
    
    
    /* LEFT AND RIGHT SIDES */
    .left-edge {
      z-index: auto;
      top: 45px;
      width: 30px;
    }
    
    .right-edge {
      z-index: auto;
      top: 45px;
      right: -25px;
      width: 30px;
    }
    
    .middle {
      background: rgb(0,0,0);
      position: absolute;
      top: 45px; right: 0px; bottom: 0px; left: 0px;
    }
    
    .sc-pointer {
      z-index:6;
    }
  }
  
}


@end


/* TOOLBARS */
@view(sc-workspace-view).top-toolbar {
  .sc-workspace-overlay {
    
    /* TOP */
    .top-left-edge {
      top: -20px; height: 75px;
      background: sprite("popover.png" [0 0 40 75]);
    }
    
    .top-right-edge {
      top: -20px; height: 75px;
      background: sprite("popover.png" [-40 0 40 75]);
    }
    
    .top-edge {
      top: -20px; height: 75px;
      background: sprite("popover.png" [40 0 1 75] repeat-x);
    }
    .left-edge { top: 55px; }
    .right-edge { top: 55px; }
  }
}

@view(sc-workspace-view).bottom-toolbar {
  .sc-workspace-overlay {
    
    /* TOP */
    .bottom-left-edge {
      bottom: -20px; height: 75px;
      background: sprite("popover.png" [0 -75 40 75]);
    }
    
    .bottom-right-edge {
      bottom: -20px; height: 75px;
      background: sprite("popover.png" [-40 -75 40 75]);
    }
    
    .bottom-edge {
      bottom: -20px; height: 75px;
      background: sprite("popover.png" [40 -75 1 75] repeat-x);
    }
    .left-edge { bottom: 55px; }
    .right-edge { bottom: 55px; }
  }
}


/* TOP POINTERS (for bottom-alignment) */
@view(sc-picker).perfectBottom {
  .sc-pointer {
    position: absolute; width: 50px; height: 25px; margin-left: -25px; left: 50%; top: -25px;
    background: sprite("popover_pointers_notoolbar.png" [155 0 50 25]);
  }
}

/* Special case where you theme the workspace rather than the picker */
@view(sc-picker).perfectBottom .solid .sc-pointer,
@view(sc-picker).solid.perfectBottom .sc-pointer {
    top: -25px;
    background: sprite("popover_pointers.png" [155 0 50 25]);
}


@view(sc-picker).perfectBottom .top-toolbar {
  .sc-pointer { top: -20px;background: sprite("popover_pointers.png" [155 0 50 25]); }
}

@view(sc-picker).perfectBottom.extra-left {
  .sc-pointer { left: 45px; }
}

/* BOTTOM POINTERS (for top-alignment) */
@view(sc-picker).perfectTop {
  .sc-pointer {
    position: absolute; width: 50px; height: 23px; margin-left: -25px; left: 50%; bottom: -25px;
    background: sprite("popover_pointers.png" [155 -23 50 23]);
  }
}

@view(sc-picker).perfectTop .bottom-toolbar {
  .sc-pointer { bottom: -20px; }
}

@view(sc-picker).perfectTop.extra-left {
  .sc-pointer { left: 45px; }
}

@end