
.sc-media-controls .stop {
  @include slice("controls.png", $left: 8, $top: 4);
  height: 20px;
  width: 22px;
}

.sc-media-controls .play {
  @include slice("controls.png", $left: -7, $top: 4);
  height: 20px;
  width: 22px;
}

.sc-media-controls .theater {
  @include slice("controls.png", $left: 24, $top: 4);
  height: 20px;
  width: 18px;
}

.sc-media-controls .minus {
  @include slice("controls.png", $left: 45, $top: 3);
  height: 20px;
  width: 20px;
}

.sc-media-controls .plus {
  @include slice("controls.png", $left: 60, $top: 3);
  height: 20px;
  width: 20px;
}

.sc-media-controls .time{
  font-size: 10px !important;
  line-height: 20px !important;
}

.sc-media-controls{
  background: black;
  opacity:0.8;
}

.sc-media-controls .sc-view.sc-slider-view {
  overflow:visible;
}

.sc-media-controls .sc-view.sc-slider-view .sc-inner{
  height:2px;
  top:9px;
  right:0px;
  left:0px;
}

.sc-media-controls .sc-view.sc-slider-view .sc-track{
  background:white;
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  z-index:1;
}

.sc-media-controls .sc-view.sc-slider-view .sc-loaded-ranges{
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  z-index:2;
}

.sc-media-controls .sc-view.sc-slider-view .sc-loaded-range,
.sc-media-controls .sc-view.sc-slider-view .sc-loaded-range-inner{
  position:absolute;
  /*left defined by js*/
  /*width defined by js*/
  top:0px;
  bottom:0px;
  overflow:hidden;
}

.sc-media-controls .sc-view.sc-slider-view .sc-inner .sc-loaded-range-inner .sc-track,
.sc-media-controls .sc-view.sc-slider-view .sc-inner .sc-loaded-range-inner .sc-leftcap,
.sc-media-controls .sc-view.sc-slider-view .sc-inner .sc-loaded-range-inner .sc-rightcap{
  background:green;
}

.sc-media-controls .sc-view.sc-slider-view .sc-inner .sc-leftcap{
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background:white;
  z-index:1;
}

.sc-media-controls .sc-view.sc-slider-view .sc-inner .sc-rightcap{
  position:absolute;
  right:0px;
  top:0px;
  width:0px;
  height:0px;
  background:white;
  z-index:1;
}

.sc-media-controls .sc-view.sc-slider-view .sc-handle{
  background:white;
  height: 10px;
  width:10px;
  top:-4px;
  margin-left:0px;
  z-index:10;
}