/* Track */
@view(sc-scroller-view).sc-vertical .track {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	background: sprite("track_and_arrows.png" repeat-y [0 16 14 1]);
}

/* Cap */
@view(sc-scroller-view).sc-vertical .cap {
	position:absolute;
	height: 16;
	width: 14px;
	height: 16px;
	top: 0px;
	background: sprite("track_and_arrows.png" [0 0 14 16]);
}

/* Buttons */
@view(sc-scroller-view).sc-vertical .button-top {
	position:absolute;
	background: sprite("track_and_arrows.png" [0 -40 14 26]);
	height: 26px;
    width: 14px;
    bottom: 16px;
}

@view(sc-scroller-view).sc-vertical .button-bottom {
	position:absolute;
	background: sprite("track_and_arrows.png" [0 -15 14 15]);
	height: 16px;
    width: 14px;
    bottom: 0px;
}

/* Active */
@view(sc-scroller-view).sc-vertical .button-top:active {
	background: sprite("track_and_arrows_active.png" [0 -40 14 26]);
}

@view(sc-scroller-view).sc-vertical .button-bottom:active {
	background: sprite("track_and_arrows_active.png" [0 -15 14 15]);
}

/* Thumb */
@view(sc-scroller-view).sc-vertical .thumb {
	position:absolute;
}

@view(sc-scroller-view).sc-vertical .thumb-center {
	position: absolute;
	width: 14px;
	top: 10px;
	bottom: 10px;
	background: sprite("thumb.png" repeat-y [0 10 14 1]);
}

@view(sc-scroller-view).sc-vertical .thumb-top {
	position: absolute;
	width: 14px;
	top: 0px;
	height: 10px;
	background: sprite("thumb.png" [0 0 14 10]);
}

@view(sc-scroller-view).sc-vertical .thumb-bottom {
	position: absolute;
	width: 14px;
	bottom: 0px;
	height: 10px;
	background: sprite("thumb.png" [0 -10 14 10]);
}