/*
==========================================================================
 Project: Greenhouse - Docked Panels
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/

/* Docked Panel
---------------------------------------------- */

.anchored {
  border-left: 1px solid #000;
  background: #222;
  box-shadow: inset 2px 0px 6px rgba(0,0,0,0.7);
  -moz-box-shadow: inset 2px 0px 6px rgba(0,0,0,0.7);
  -webkit-box-shadow: inset 2px 0px 6px rgba(0,0,0,0.7);  
}

/* List Styling */
.anchored .sc-list-view {
  background: #ebebeb;
  border: none;
}

.sc-theme .anchored .sc-collection-view .sc-collection-item.sel,
.sc-theme.focus .anchored .sc-collection-view.focus .sc-collection-item.sel {
  background: #A4BE49;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

/* Customize Scrollbar */
.anchored .sc-scroller-view.sc-vertical .track,
.anchored .sc-scroller-view.sc-vertical .cap,
.anchored .sc-scroller-view.sc-vertical .button-bottom,
.anchored .sc-scroller-view.sc-vertical .button-top {
  display: none;
}

/* Library
---------------------------------------------- */

.anchored .library-docked {
  border-bottom: 1px solid #000;
}

.anchored .library-docked .content .library-list {
  border: 1px solid #000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.7);
  -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,0.7);
  -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.7);
  background:rgba(205, 205, 205, 0.25);
}

.anchored .library-docked .content .sc-list-view {
  background: none;
  color: #fff;
}

/* Inspector
---------------------------------------------- */

.anchored .inspector-docked {
  border-top: 1px solid #333;
}

.anchored .sc-label-view {
  color: #fff;
}

.anchored .sc-label-view.title {
  top: 12px !important;
}

.anchored .prop-control {
  bottom: 3px !important;
}

.anchored .sc-tab-view > .sc-container-view {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.7);
  -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,0.7);
  -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.7);
}

