/*
==========================================================================
 Project: Greenhouse - General Styling
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/

/* Custom Fonts
---------------------------------------------- */

@font-face {
	font-family: 'MuseoSans500';
	src: url('fonts/museosans_500.eot');
	src: local('Museo Sans'), local('MuseoSans-500'), url('fonts/museosans_500.woff') format('woff'), url('fonts/museosans_500.otf') format('opentype');
}

@font-face {
	font-family: 'MuseoSans500Italic';
	src: url('fonts/museosans_500_italic.eot');
	src: local('Museo Sans'), local('fonts/MuseoSans-500Italic'), url('fonts/museosans_500_italic.woff') format('woff'), url('fonts/museosans_500_italic.otf') format('opentype');
}

/* General Styles
---------------------------------------------- */

body.sc-theme > .sc-pane.sc-main{ 
  overflow: hidden;
  background: static_url('images/main-bg.png');
}

.sc-view {
	font: 12px/1.5 MuseoSans500, "Helvetica Neue", Helvetica, sans-serif;
}

.sc-view select, .sc-view input, .sc-view textarea, .sc-view button {
  font: 12px/1.5 MuseoSans500, "Helvetica Neue", Helvetica, sans-serif !important;
}

/* Footer / Loading Bar
---------------------------------------------- */


.footer,
.sc-label-view.sc-regular-size.footer {
  border-top: 1px solid #494949;
  background: #1d1d1d;
  color: #b3d93b;
  line-height: 30px;
  text-shadow: 0 1px 0 #000;
  font-size: 12px;
}