/*
==========================================================================
 Project: Greenhouse - Modal Panel Styling
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/


.sc-modal.for-sc-panel {
  background: #000;
  opacity: 0.3;  
}

.sc-modal.for-sc-panel + .sc-panel {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #555;
  box-shadow: 0 4px 14px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 4px 14px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 4px 14px rgba(0,0,0,0.8);
  background: #333;
  color: #fff;
}

.sc-modal.for-sc-panel + .sc-panel > .sc-view {
  background: none;
}

/* Hide superfluous divs (css3 baby!) */
.greenhouse.panel .panel-background .top-left,
.greenhouse.panel .panel-background .top,
.greenhouse.panel .panel-background .top-right,
.greenhouse.panel .panel-background .left,
.greenhouse.panel .panel-background .middle,
.greenhouse.panel .panel-background .right,
.greenhouse.panel .panel-background .bottom-left,
.greenhouse.panel .panel-background .bottom,
.greenhouse.panel .panel-background .bottom-right {
  display: none;
}