

/* @group Core */

 
.picker-pane {
	position: absolute ;
	top:  0;
	left:  0;
	width: 100%;
	height: 100%;	
}

/* @end */

/* @group Theme */

.sc-theme .picker-pane .pane-wrapper {
	padding: 11px 16px;
}

/* @end */