@theme(dark) {

  $theme.button {
    color: #ddd;
    text-shadow: 0px -1px 0px black;
    
    &.active {
      color: #bbb;
      text-shadow: 0px -1px 0px black;
    }
    
    &.sel.active, &.def.active {
      color: #ddd;
      text-shadow: 0px -1px 0px black;      
    }
  }
}
