
$theme.sc-menu {
  .sc-menu-scroll-view { background: transparent; }

  .panel-background {
    background-color: $menu-bg;
    border: 1px solid $menu-border-color;
    box-shadow: $menu-box-shadow;
    border-radius: $menu-border-radius;
  }

  /* may want to make some of this control size dependent... */

  .sc-menu-item {
    background: transparent;
    border: 0 none;

    .value {
      margin-left: 20px;
      line-height: 20px;
    }

    &:first-child {
      border-top-left-radius: $menu-border-radius;
      border-top-right-radius: $menu-border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $menu-border-radius;
      border-bottom-right-radius: $menu-border-radius;
    }

    .has-icon .value {
      margin-left: 42px;
    }

    &.sel {
      span { color: $hover-menu-item-text-color; }
      background-color: $hover-menu-item-bg;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, .6);
    }

    &.disabled.sel {
      span { color: $disable-menu-item-text-color; }
      text-shadow: none;
      border: none;
      background: transparent;
    }

    .icon {
      left: 20px;
    }

    /* CHECKBOXES */
    .checkbox {
      position: absolute;
      left: 3px;

      &:after {
        position: absolute;
        font-family: FontAwesome;
        font-size: 13px;
        color: $menu-item-text-color;
        content: "\f00c";
      }
    }

    &.sel .checkbox {
      &:after {
        color: $hover-menu-item-text-color;
      }
    }

    /* SEPARATORS */
    span.separator {
      margin-left: 0;
      position: absolute;
      top: 2px;
      left: 1px;
      right: 1px;
      border-top: 1px solid rgb(255, 255, 255);
      border-bottom: 1px solid rgb(200, 200, 200);
    }
  }

  /* ARROWS */
  .sc-menu-scroller-view { background: transparent; }

  .arrowUp {
    position: absolute;
    left: 50%; top: 0px; margin-left: -7px;
    height: 14px; width: 14px;

    &:after {
      position: absolute;
      font-family: FontAwesome;
      font-size: 13px;
      color: $menu-item-text-color;
      content: "\f0d8";
    }
  }

  .arrowDown {
    position: absolute;
    left: 50%; bottom: 0px; margin-left: -7px;
    height: 14px; width: 14px;

    &:after {
      position: absolute;
      font-family: FontAwesome;
      font-size: 13px;
      color: $menu-item-text-color;
      content: "\f0d7";
    }
  }

}
