.sc-toolbar-view {
  background: sc_static('images/sc-theme-repeat-x') repeat-x 0px -650px; 
  border: none;
  border-top: 1px solid #4d5567; /* #818ea4; */
  -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.3);
}
