/* */
@view(sc-panel.sc-picker.sc-menu) .sc-menu-scroll-view {
  background:  rgba(251,251,251,.92);
  border: 0px none;
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-item {
  background: transparent;
  border: 0px none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-item a span.value {
  margin-left: 20px;
  line-height: 20px; /* You want it slightly high for characters with descenders */
}

@view(sc-panel.sc-picker.sc-menu) .sc-button-view.focus a,
.sc-menu-item a:hover {
  color: white;
  background: sprite(menu_item.png repeat-x [0 1]);
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .6);
}

@view(sc-panel.sc-picker.sc-menu) .sc-button-view.disabled.focus a,
.sc-menu-item.disabled a:hover {
  text-shadow: none;
  background: transparent;
}

/* Checkboxes */
@view(sc-panel.sc-picker.sc-menu) .sc-menu-item .checkbox {
  top: 3px;
  width: 12px; height: 12px;
  background: sprite(checkmark.png);
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-item.focus .checkbox, 
@view(sc-panel.sc-picker.sc-menu) .sc-menu-item:hover .checkbox {
  top: 4px; /* NOTE THE SLIGHT DIFFERENCE */
  background: sprite(checkmark_active.png);
}

/* Separators */
.sc-menu-item span.separator {
  margin-left: 0px;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 2px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(200, 200, 200);
}

/* Up and Down, like a trampoline */
@view(sc-panel.sc-picker.sc-menu) .sc-menu-scroller-view {
  background: transparent;
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-scroller-view .arrowUp {
  position:absolute;
  left: 50%;
  top: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: sprite(up.png);
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-scroller-view .arrowDown {
  position:absolute;
  left: 50%;
  bottom: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: sprite(down.png);
}

/* Corners */
@view(sc-panel.sc-picker.sc-menu) .top-left-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" [0 0 25 25]);
  left: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}

@view(sc-panel.sc-picker.sc-menu) .top-right-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" [-25 0 25 25]);
  right: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}

@view(sc-panel.sc-picker.sc-menu) .bottom-left-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" [0 -25 25 25]);
  left: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}

@view(sc-panel.sc-picker.sc-menu) .bottom-right-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" [-25 -25 25 25]);
  right: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}


/* Edges */
@view(sc-panel.sc-picker.sc-menu) .bottom-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" repeat-x [25 -25 1 25]);
  left: 9px;
  right: 9px;
  bottom: -25px;
  height: 25px;
}

@view(sc-panel.sc-picker.sc-menu) .top-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" repeat-x [25 0 1 25]);
  left: 9px;
  right: 9px;
  top: -25px;
  height: 25px;
}

@view(sc-panel.sc-picker.sc-menu) .left-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" repeat-y [0 25 16 1]);
  top: 0px;
  bottom: 0px;
  left: -16px;
  width: 16px;
}

@view(sc-panel.sc-picker.sc-menu) .right-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" repeat-y [-16 25 16 1]);
  top: 0px;
  bottom: 0px;
  right: -16px;
  width: 16px;
}