.app-header {
  background: transparent static_url('sc.theme/images/sc-theme-sprite') repeat-x scroll left -1062px;
  z-index: 10;
}

.app-footer {
  background: transparent static_url('sc.theme/images/sc-theme-sprite') repeat-x scroll left -1057px;
  z-index: 10;
}

.sc-large-size {
  font-size: 15px;
}

.app-label {
  text-shadow: 0 1px 0 white;
}