/* 
Syntax Notes: 
@view(view-name) is replaced with .sc-view.view-name.theme-name

theme-name is specified as an argument when building.

[8] means a rectangle starting at x=8, the whole height, to the right edge.
[8, 1] means rectangle starting at x=8, width 1px, whole height
[8, 2, 1, 1] means a 1x1 rectangle at 8, 2.
*/

/* Track */
@view(sc-progress-view) {
  /* anchor right so noise won't show below rounded corners of right piece */
  background: sprite("progress_view_track.png" clear [0, 8]);
  z-index:0;
  border:0px none;
}

@view(sc-progress-view) .sc-outer-head {
  left: 8px;
  right: 8px;
  position:absolute;
  height:20px;
  background: sprite("progress_view_track.png" repeat-x [8, 1]);
  z-index:0;
  border:0px none;
}

@view(sc-progress-view) .sc-outer-tail {
  right: 0px;
  width: 8px;
  position:absolute;
  height:20px;
  background: sprite("progress_view_track.png" [-8]);
  z-index:0;
  border:0px none;
}



/* Inner */
@view(sc-progress-view) .sc-inner {
  background: sprite("progress_view_content.png" clear [0, 4]);
  z-index:1;
  border:0px none;
}

@view(sc-progress-view) .sc-inner-head {
  width: 4px;
  right: 0px;
  position:absolute;
  height:20px;
  background: sprite("progress_view_content.png" anchor-right [-4]);
  border:0px none;
}

@view(sc-progress-view) .sc-inner-tail {
  left: 4px;
  right: 4px;
  position:absolute;
  height:20px;
  background: sprite("progress_view_content.png" repeat-x [8, 1]);
  border:0px none;
}

/* Disabled */
@view(sc-progress-view).disabled {
  opacity:.5;
}
