
$theme.radio-group {
  line-height: 18px;
  vertical-align: middle;
}

$theme.radio {
  position: relative;
  display:block;
  height:18px;
  padding-left: 20px;
  margin-bottom:3px;

  .sc-button-label {
    line-height: 18px;
  }

  .button {
    background-color: $radio-bg;
    border: 1px solid $radio-border-color;
    box-shadow: $radio-box-shadow;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    vertical-align:middle;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      background-color: $radio-bg;
    }
  }

  &.active .button {
    background-color: $radio-bg-active;
    border: 1px solid $active-radio-border-color;
  }

  &.sel .button {
    background-color: $sel-radio-bg;
    border: 1px solid $sel-radio-border-color;
  }

  &.mixed .button {
    background-color: $sel-radio-bg;
    border: 1px solid $sel-radio-border-color;

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 3px;
      width: 10px;
      height: 4px;
      border-radius: 1px;
      background-color: $radio-bg;
    }
  }

  &.sel.active .button {
    background-color: $sel-active-radio-bg;
    border: 1px solid $sel-active-radio-border-color;
  }

  &.mixed.active .button {
    background-color: $sel-active-radio-bg;
    border: 1px solid $sel-active-radio-border-color;
  }

  &.disabled {
    opacity: .5;
  }
}

$theme.radio-group.sc-layout-horizontal $theme.radio, $theme.radio.sc-layout-horizontal {
  display: inline-block;
  margin-right: 14px;
}
