.sc-theme .sc-view.ace.light.sc-toolbar-view {
  background: static_url("images/2.png") repeat-x 0 -140px;
  color: #555555;
  text-shadow: 0px 1px 1px white;
  border-bottom: 1px solid #999999;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.sc-theme .sc-view.ace.light.popover.sc-pane.sc-panel.sc-palette.sc-picker { background: none; }
.sc-theme .sc-view.ace.light.popover.sc-toolbar-view {
  background: none;
  color: white;
  text-shadow: none;
  border-bottom: 0px none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view {
  overflow: visible;
  background: none;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .top-left-edge {
  z-index: 5;
  position: absolute;
  left: -25px;
  top: -25px;
  width: 40px;
  height: 30px;
  background: static_url("images/1.png") no-repeat 0 -378px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .top-right-edge {
  z-index: 5;
  position: absolute;
  right: -25px;
  top: -25px;
  width: 40px;
  height: 30px;
  background: static_url("images/1.png") no-repeat 0 -510px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .top-edge {
  z-index: 5;
  position: absolute;
  left: 15px;
  right: 15px;
  top: -25px;
  height: 30px;
  background: static_url("images/2.png") repeat-x 0 -392px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .bottom-left-edge {
  z-index: 5;
  position: absolute;
  left: -25px;
  bottom: -25px;
  width: 40px;
  height: 30px;
  background: static_url("images/1.png") no-repeat 0 -466px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .bottom-right-edge {
  z-index: 5;
  position: absolute;
  right: -25px;
  bottom: -25px;
  width: 40px;
  height: 30px;
  background: static_url("images/1.png") no-repeat 0 -422px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .bottom-edge {
  z-index: 5;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -25px;
  height: 30px;
  background: static_url("images/2.png") repeat-x 0 -512px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .left-edge {
  z-index: 5;
  position: absolute;
  left: -25px;
  top: 5px;
  bottom: 5px;
  width: 30px;
  background: static_url("images/3.png") repeat-y -40px 0;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .right-edge {
  z-index: 5;
  position: absolute;
  right: -25px;
  top: 5px;
  bottom: 5px;
  width: 30px;
  background: static_url("images/3.png") repeat-y 0 0;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view .sc-workspace-overlay .sc-pointer { z-index: 6; }
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.top-toolbar .sc-workspace-overlay .top-left-edge {
  top: -20px;
  height: 70px;
  background: static_url("images/1.png") no-repeat 0 -238px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.top-toolbar .sc-workspace-overlay .top-right-edge {
  top: -20px;
  height: 70px;
  background: static_url("images/1.png") no-repeat 0 -168px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.top-toolbar .sc-workspace-overlay .top-edge {
  top: -20px;
  height: 70px;
  background: static_url("images/2.png") repeat-x 0 0;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.top-toolbar .sc-workspace-overlay .left-edge { top: 50px; }
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.top-toolbar .sc-workspace-overlay .right-edge { top: 50px; }
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.bottom-toolbar .sc-workspace-overlay .bottom-left-edge {
  bottom: -20px;
  height: 70px;
  background: static_url("images/1.png") no-repeat 0 -308px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.bottom-toolbar .sc-workspace-overlay .bottom-right-edge {
  bottom: -20px;
  height: 70px;
  background: static_url("images/1.png") no-repeat 0 -50px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.bottom-toolbar .sc-workspace-overlay .bottom-edge {
  bottom: -20px;
  height: 70px;
  background: static_url("images/2.png") repeat-x 0 -70px;
}
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.bottom-toolbar .sc-workspace-overlay .left-edge { bottom: 50px; }
.sc-theme .sc-view.ace.light.popover.sc-workspace-view.bottom-toolbar .sc-workspace-overlay .right-edge { bottom: 50px; }
.sc-theme .sc-view.ace.light.popover.sc-picker.perfectBottom .sc-pointer {
  position: absolute;
  width: 50px;
  height: 25px;
  margin-left: -25px;
  left: 50%;
  top: -25px;
  background: static_url("images/1.png") no-repeat 0 -120px;
}
.sc-theme .sc-view.ace.light.popover.sc-picker.perfectBottom .top-toolbar .sc-pointer { top: -20px; }
.sc-theme .sc-view.ace.light.popover.sc-picker.perfectBottom.extra-left .sc-pointer { left: 45px; }
.sc-theme .sc-view.ace.light.popover.sc-picker.perfectTop .sc-pointer {
  position: absolute;
  width: 50px;
  height: 23px;
  margin-left: -25px;
  left: 50%;
  bottom: -25px;
  background: static_url("images/1.png") no-repeat 0 -145px;
}
.sc-theme .sc-view.ace.light.popover.sc-picker.perfectTop .bottom-toolbar .sc-pointer { bottom: -20px; }
.sc-theme .sc-view.ace.light.popover.sc-picker.perfectTop.extra-left .sc-pointer { left: 45px; }
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroll-view {
  background: rgba(251, 251, 251, 0.92);
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item {
  background: transparent;
  border: 0px none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item a span.value {
  margin-left: 20px;
  line-height: 20px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-button-view.focus a {
  color: white;
  background: static_url("images/2.png") repeat-x 0 -843px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
}
.sc-menu-item a:hover {
  color: white;
  background: static_url("images/2.png") repeat-x 0 -843px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-button-view.disabled.focus a {
  color: white;
  background: transparent;
}
.sc-menu-item.disabled a:hover {
  color: white;
  background: transparent;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item .checkbox {
  top: 3px;
  width: 12px;
  height: 12px;
  background: static_url("images/1.png") no-repeat 0 -967px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item.focus .checkbox {
  top: 4px;
  background: static_url("images/1.png") no-repeat -12px -967px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-item:hover .checkbox {
  top: 4px;
  background: static_url("images/1.png") no-repeat -12px -967px;
}
.sc-menu-item span.separator {
  margin-left: 0px;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 2px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c8c8c8;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view { background: transparent; }
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view .arrowUp {
  position: absolute;
  left: 50%;
  top: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: static_url("images/1.png") no-repeat -14px -817px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .sc-menu-scroller-view .arrowDown {
  position: absolute;
  left: 50%;
  bottom: -3px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
  background: static_url("images/1.png") no-repeat 0 -847px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-left-edge {
  background: static_url("images/1.png") no-repeat 0 -25px;
  left: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-right-edge {
  background: static_url("images/1.png") no-repeat 0 -642px;
  right: -16px;
  top: -25px;
  width: 25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-left-edge {
  background: static_url("images/1.png") no-repeat 0 0;
  left: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-right-edge {
  background: static_url("images/1.png") no-repeat -25px -642px;
  right: -16px;
  bottom: -25px;
  width: 25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .bottom-edge {
  background: static_url("images/2.png") repeat-x 0 -722px;
  left: 9px;
  right: 9px;
  bottom: -25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .top-edge {
  background: static_url("images/2.png") repeat-x 0 -672px;
  left: 9px;
  right: 9px;
  top: -25px;
  height: 25px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .left-edge {
  background: static_url("images/3.png") repeat-y -70px 0;
  top: 0px;
  bottom: 0px;
  left: -16px;
  width: 16px;
}
.sc-theme .sc-view.ace.light.sc-panel.sc-picker.sc-menu .right-edge {
  background: static_url("images/3.png") repeat-y -86px 0;
  top: 0px;
  bottom: 0px;
  right: -16px;
  width: 16px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel { background: rgba(251, 251, 251, 0.92); }
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-left-edge {
  left: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat -32px -667px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-edge {
  top: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: static_url("images/2.png") repeat-x 0 -991px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .top-right-edge {
  right: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat -26px -598px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-left-edge {
  left: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat 0 -667px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-edge {
  bottom: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: static_url("images/2.png") repeat-x 0 -975px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .bottom-right-edge {
  right: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: static_url("images/1.png") no-repeat -16px -667px;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .left-edge {
  top: 0px;
  left: -16px;
  bottom: 0px;
  width: 16px;
  background: static_url("images/3.png") repeat-y -118px 0;
}
.sc-theme .sc-view.ace.light.sc-pane.sc-panel .right-edge {
  top: 0px;
  right: -16px;
  bottom: 0px;
  width: 16px;
  background: static_url("images/3.png") repeat-y -102px 0;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view .button-left { background: static_url("images/1.png") no-repeat 0 -1047px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view .button-right {
  right: 0px;
  width: 25px;
  background: static_url("images/1.png") no-repeat right -25px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view .button-middle {
  background: static_url("images/2.png") repeat-x 0 -597px;
  right: 25px;
  left: 8px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view .sc-button-label {
  text-align: left;
  right: 25px;
  vertical-align: top;
  color: #333333;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -16px -1022px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-right { background: static_url("images/1.png") no-repeat right 0; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-middle {
  background: static_url("images/2.png") repeat-x 0 -622px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.sel .button-left { background: static_url("images/1.png") no-repeat -16px -1022px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.sel .button-right { background: static_url("images/1.png") no-repeat right 0; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.sel .button-middle {
  background: static_url("images/2.png") repeat-x 0 -622px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.active .button-left { background: static_url("images/1.png") no-repeat -16px -1022px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.active .button-right { background: static_url("images/1.png") no-repeat right 0; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sc-select-view.active .button-middle {
  background: static_url("images/2.png") repeat-x 0 -622px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.ace.light.sc-segmented-view { overflow: visible; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment {
  background: none;
  border: 0px none;
  color: #555555;
  height: 25px;
  text-shadow: 0px 1px 1px white;
  display: inline-block;
  zoom: 1;
  height: 25px;
  overflow: hidden;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-left {
  display: inline-block;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat -24px -1072px;
  zoom: 1;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-right {
  display: inline-block;
  width: 8px;
  height: 25px;
  background: static_url("images/1.png") no-repeat 0 -1022px;
  zoom: 1;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment .button-middle {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top: 1px;
  height: 25px;
  vertical-align: top;
  background: static_url("images/2.png") repeat-x 0 -697px;
  zoom: 1;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -997px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -32px -997px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active {
  color: #333333;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -24px -997px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -16px -1072px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -647px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -997px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -997px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel {
  background: none;
  color: #ffffff;
  font-weight: 200;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -16px -997px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -8px -1022px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -572px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -1072px; }
.sc-theme .sc-view.ace.light.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -8px -1072px; }
.sc-theme .sc-view.ace.light.sc-segmented-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .track {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: static_url("images/3.png") repeat-y -134px 0;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .cap {
  position: absolute;
  height: 16;
  width: 14px;
  height: 16px;
  top: 0px;
  background: static_url("images/1.png") no-repeat -14px -773px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-top {
  position: absolute;
  background: static_url("images/1.png") no-repeat -30px -747px;
  height: 26px;
  width: 14px;
  bottom: 16px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-bottom {
  position: absolute;
  background: static_url("images/1.png") no-repeat -28px -773px;
  height: 16px;
  width: 14px;
  bottom: 0px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-top:active { background: static_url("images/1.png") no-repeat 0 -773px; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .button-bottom:active { background: static_url("images/1.png") no-repeat 0 -817px; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb { position: absolute; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-center {
  position: absolute;
  width: 14px;
  top: 10px;
  bottom: 10px;
  background: static_url("images/3.png") repeat-y -148px 0;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-top {
  position: absolute;
  width: 14px;
  top: 0px;
  height: 10px;
  background: static_url("images/1.png") no-repeat -28px -937px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-vertical .thumb-bottom {
  position: absolute;
  width: 14px;
  bottom: 0px;
  height: 10px;
  background: static_url("images/1.png") no-repeat -14px -937px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .track {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  background: static_url("images/2.png") repeat-x 0 -1007px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .cap {
  position: absolute;
  width: 16;
  height: 14px;
  width: 16px;
  left: 0px;
  background: static_url("images/1.png") no-repeat -32px -731px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-left {
  position: absolute;
  background: static_url("images/1.png") no-repeat 0 -554px;
  width: 26px;
  height: 14px;
  right: 14px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-right {
  position: absolute;
  background: static_url("images/1.png") no-repeat -15px -747px;
  width: 15px;
  height: 14px;
  right: 0px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-left:active { background: static_url("images/1.png") no-repeat 0 -598px; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .button-right:active { background: static_url("images/1.png") no-repeat 0 -747px; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb { position: absolute; }
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-center {
  position: absolute;
  height: 14px;
  left: 10px;
  right: 10px;
  background: static_url("images/2.png") repeat-x 0 -1021px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-left {
  position: absolute;
  height: 14px;
  left: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -40px -168px;
}
.sc-theme .sc-view.ace.light.sc-scroller-view.sc-horizontal .thumb-right {
  position: absolute;
  height: 14px;
  right: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -40px -238px;
}
.sc-theme .sc-view.ace.light.sc-radio-view {
  line-height: 18px;
  vertical-align: middle;
}
.sc-theme .sc-view.ace.light.sc-radio-view .sc-radio-button {
  position: relative;
  display: block;
  height: 18px;
  padding-left: 18px;
  margin-bottom: 3px;
}
.sc-theme .sc-view.ace.light.sc-radio-view .sc-button-label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}
.sc-theme .sc-view.ace.light.sc-radio-view span.button {
  background: static_url("images/1.png") no-repeat -16px -715px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}
.sc-theme .sc-view.ace.light.sc-radio-view input { visibility: hidden; }
.sc-theme .sc-view.ace.light.sc-radio-view .sel span.button { background: static_url("images/1.png") no-repeat 0 -715px; }
.sc-theme .sc-view.ace.light.sc-radio-view .mixed span.button { background: static_url("images/1.png") no-repeat -32px -699px; }
.sc-theme .sc-view.ace.light.sc-radio-view .active span.button { background: static_url("images/1.png") no-repeat 0 -699px; }
.sc-theme .sc-view.ace.light.sc-radio-view .sel.active span.button { background: static_url("images/1.png") no-repeat -16px -683px; }
.sc-theme .sc-view.ace.light.sc-radio-view .mixed.active span.button { background: static_url("images/1.png") no-repeat -26px -554px; }
.sc-theme .sc-view.ace.light.sc-radio-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-progress-view {
  background: static_url("images/1.png") no-repeat 0 -1121px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-outer-head {
  left: 8px;
  right: 8px;
  position: absolute;
  height: 20px;
  background: static_url("images/2.png") repeat-x 0 -863px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-outer-tail {
  right: 0px;
  width: 8px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") no-repeat 0 -1141px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner {
  background: static_url("images/1.png") no-repeat -8px -1141px;
  z-index: 1;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner-head {
  left: 8px;
  right: 0px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") no-repeat right -50px;
  z-index: 1;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view .sc-inner-tail {
  left: 8px;
  right: 8px;
  position: absolute;
  height: 20px;
  background: static_url("images/2.png") repeat-x 0 -883px;
  z-index: 1;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-progress-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-regular-size {
  color: black;
  text-shadow: white 0px 1px 1px;
  line-height: 18px;
  vertical-align: middle;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size .label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size span.button {
  background: static_url("images/1.png") no-repeat -32px -683px;
  width: 16px;
  height: 16px;
  position: absolute;
  margin-right: 8px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size input {
  visibility: hidden;
  z-index: 1;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-regular-size.sel {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.sel span.button { background: static_url("images/1.png") no-repeat 0 -731px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.mixed span.button { background: static_url("images/1.png") no-repeat 0 -683px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-regular-size.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.active span.button { background: static_url("images/1.png") no-repeat -32px -715px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.sel.active span.button { background: static_url("images/1.png") no-repeat -16px -731px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.mixed.active span.button { background: static_url("images/1.png") no-repeat -16px -699px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-regular-size.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-small-size {
  color: black;
  text-shadow: white 0px 1px 1px;
  line-height: 16px;
  vertical-align: middle;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size .label {
  position: absolute;
  left: 20px;
  line-height: 16px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size span.button {
  background: static_url("images/1.png") no-repeat -28px -877px;
  width: 14px;
  height: 14px;
  position: absolute;
  margin-right: 8px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size input {
  visibility: hidden;
  z-index: 1;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-small-size.sel {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.sel span.button { background: static_url("images/1.png") no-repeat -14px -907px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.mixed span.button { background: static_url("images/1.png") no-repeat -28px -907px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-checkbox-view.sc-small-size.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.active span.button { background: static_url("images/1.png") no-repeat 0 -907px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.sel.active span.button { background: static_url("images/1.png") no-repeat -28px -817px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.mixed.active span.button { background: static_url("images/1.png") no-repeat -14px -847px; }
.sc-theme .sc-view.ace.light.sc-checkbox-view.sc-small-size.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view .sc-button-label { left: 18px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.sel {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.sel.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view img {
  position: absolute;
  top: 3px;
  background: static_url("images/1.png") no-repeat 0 -877px;
  width: 14px;
  height: 14px;
}
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.sel img { background: static_url("images/1.png") no-repeat 0 -937px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.active img { background: static_url("images/1.png") no-repeat -28px -847px; }
.sc-theme .sc-view.ace.light.sc-button-view.sc-disclosure-view.sel.active img { background: static_url("images/1.png") no-repeat -14px -877px; }
img.disclosure.button {
  width: 14px;
  height: 14px;
}
img.disclosure.button.open { background: static_url("images/1.png") no-repeat 0 -937px; }
img.disclosure.button.open.active { background: static_url("images/1.png") no-repeat -14px -877px; }
img.disclosure.button.closed { background: static_url("images/1.png") no-repeat 0 -877px; }
img.disclosure.button.closed.active { background: static_url("images/1.png") no-repeat -28px -847px; }
.sc-theme .sc-view.ace.light.sc-button-view {
  border: 0px none;
  color: #555555;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.light.sc-button-view .button-left {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view .button-right {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view .button-middle {
  position: absolute;
  top: 50%;
  left: 8px;
  right: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view .sc-button-label {
  position: absolute;
  top: 50%;
  left: 8px;
  right: 8px;
}
.sc-theme .sc-view.ace.light.sc-button-view.active {
  color: #333333;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.light.sc-button-view.sel {
  color: #ffffff;
  font-weight: 200;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.sc-theme .sc-view.ace.light.sc-button-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view .button-left {
  margin-top: -22px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -40px -378px;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view .button-right {
  margin-top: -22px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -40px -308px;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view .button-middle {
  margin-top: -22px;
  height: 44px;
  background: static_url("images/2.png") repeat-x 0 -316px;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view .sc-button-label {
  margin-top: -10px;
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #777777;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -40px -422px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -42px -598px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.active .button-middle { background: static_url("images/2.png") repeat-x 0 -272px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -42px -773px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -42px -554px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -184px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel .sc-button-label {
  color: white;
  text-shadow: 0px -1px 1px black;
}
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -40px -510px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -40px -466px; }
.sc-theme .sc-view.ace.light.sc-jumbo-size.sc-button-view.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -228px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view .button-left {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -24px -967px;
}
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view .button-right {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -42px -937px;
}
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view .button-middle {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/2.png") repeat-x 0 -482px;
}
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view .sc-button-label {
  margin-top: -11px;
  height: 30px;
  font-size: 13px;
}
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -40px -967px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -42px -817px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.active .button-middle { background: static_url("images/2.png") repeat-x 0 -452px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -32px -967px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -42px -907px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -422px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -42px -877px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -42px -847px; }
.sc-theme .sc-view.ace.light.sc-huge-size.sc-button-view.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -542px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view .button-left {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -16px -1097px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view .button-right {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -24px -1097px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view .button-middle {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/2.png") repeat-x 0 -771px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -32px -1097px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -40px -1097px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.active .button-middle { background: static_url("images/2.png") repeat-x 0 -795px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -32px -1072px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -40px -1072px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -819px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat 0 -1097px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -8px -1097px; }
.sc-theme .sc-view.ace.light.sc-regular-size.sc-button-view.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -747px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view .button-left {
  margin-top: -9px;
  height: 18px;
  background: static_url("images/1.png") no-repeat -16px -1161px;
}
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view .button-right {
  margin-top: -9px;
  height: 18px;
  background: static_url("images/1.png") no-repeat -8px -1161px;
}
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view .button-middle {
  margin-top: -9px;
  height: 18px;
  background: static_url("images/2.png") repeat-x 0 -939px;
}
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view .sc-button-label {
  font-size: 11px;
  margin-top: -13px;
  height: 18px;
  padding-top: 2px;
}
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat 0 -1161px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -24px -1161px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.active .button-middle { background: static_url("images/2.png") repeat-x 0 -903px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -32px -1161px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -40px -1161px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -957px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat 0 -1179px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -8px -1179px; }
.sc-theme .sc-view.ace.light.sc-small-size.sc-button-view.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -921px; }
.sc-theme .sc-view.ace.light.sc-tab-view { overflow: visible; }
.sc-theme .sc-view.ace.light.sc-tab-view .sc-container-view {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #999999;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.sc-theme .sc-view.ace.light.sc-split-divider-view {
  background: #555555;
  border: 0px none;
}
.sc-theme .sc-view.ace.light.sc-master-detail-view { background: #333333; }
.sc-theme .sc-view.ace.light.sc-master-detail-view .sc-workspace-view .sc-toolbar-view {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-raidus-topright: 5px;
}
.sc-theme .sc-view.ace.light.sc-container-view { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb)); }
.sc-source-list-background { background: #d0dae3; }
.sc-source-list-background > .sc-container-view { background: #d0dae3; }
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list { background: #d0dae3; }
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .sc-list-item-view label {
  top: 50%;
  margin-top: -9px;
  font-size: 14px;
}
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .sc-collection-item.sel {
  background: static_url("images/2.png") repeat-x 0 -360px;
  border-top: 1px solid #43638d;
  border-bottom: 1px solid #43638d;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;
}
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .sc-collection-item.sc-group-item {
  font-weight: bold;
  color: #4a4a4a;
  text-shadow: 0px 1px 1px white;
  font-size: 12px;
}
.sc-theme .sc-view.ace.light.sc-collection-view.sc-source-list .disclosure {
  position: absolute;
  left: -12px;
  top: 9px;
}
.sc-main {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  height: 100%;
  font-family: Helvetica, sans-serif;
}
.sc-view { font-family: Helvetica, sans-serif; }
