.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment { height: 18px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 18px;
  background: static_url("images/1.png") no-repeat -8px -1170px;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 18px;
  background: static_url("images/1.png") no-repeat 0 -1170px;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment .button-middle {
  height: 18px;
  background: static_url("images/2.png") repeat-x 0 -1672px;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment .sc-button-label {
  font-size: 11px;
  margin-top: -2px;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -32px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -40px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -48px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -56px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1618px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -64px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -72px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -80px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -88px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -1654px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -8px -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -16px -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -88px -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1582px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -32px -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -40px -1188px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment { height: 24px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -88px -1098px;
}
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -80px -1098px;
}
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment .button-middle {
  height: 24px;
  background: static_url("images/2.png") repeat-x 0 -1342px;
}
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -72px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -64px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -56px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -48px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1366px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -24px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -32px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -56px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -1318px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -64px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -72px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -80px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -8px -1146px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1462px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -24px -1146px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -40px -1146px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment { height: 30px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -56px -988px;
}
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -48px -988px;
}
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment .button-middle {
  height: 30px;
  background: static_url("images/2.png") repeat-x 0 -948px;
}
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment .sc-button-label {
  font-size: 13px;
  margin-top: 3px;
}
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -32px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -24px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -16px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1038px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -88px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -80px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -1008px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -72px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -64px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -56px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -48px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -978px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -32px -944px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment { height: 44px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -72px -900px;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -16px -944px;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment .button-middle {
  height: 44px;
  background: static_url("images/2.png") repeat-x 0 -440px;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment .sc-button-label {
  color: #777777;
  font-size: 16px;
  font-weight: bold;
  margin-top: 11px;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -944px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -944px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -88px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -80px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -396px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -24px -944px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -64px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -56px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -48px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -220px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel .sc-button-label {
  color: white;
  text-shadow: 0px -1px 1px black;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -32px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -24px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -16px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -308px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -900px; }
.sc-theme .sc-view.ace.sc-segmented-view { overflow: visible; }
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment {
  background: none;
  border: 0px none;
  color: #555555;
  text-shadow: 0px 1px 1px white;
  display: inline-block;
  zoom: 1;
  overflow: hidden;
  position: relative;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment .button-left {
  display: inline-block;
  zoom: 1;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment .button-right {
  display: inline-block;
  zoom: 1;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment .button-middle {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top: 1px;
  vertical-align: top;
  zoom: 1;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment .sc-button-label { display: block; }
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.fixed .button-left {
  position: absolute;
  left: 0px;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.fixed .button-right {
  position: absolute;
  right: 0px;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.fixed .button-middle {
  position: absolute;
  left: 8px;
  right: 8px;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.active {
  color: #333333;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.sel {
  background: none;
  color: #ffffff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.sel.active {
  background: none;
  color: #ffffff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.sc-theme .sc-view.ace.sc-segmented-view img {
  vertical-align: middle;
  position: relative;
  top: -2px;
  left: -2px;
  margin-right: 2px;
}
.sc-theme .sc-view.ace.sc-segmented-view.disabled { opacity: 0.5; }

