.sc-main { background: #cccccc; }
.sc-main {
  background: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  height: 100%;
  font-family: Helvetica, sans-serif;
}
.sc-view { font-family: Helvetica, sans-serif; }
.sc-theme .sc-view.ace.sc-collection-view .sc-collection-item.sel {
  color: white;
  background: #608ab9;
}

.sc-source-list-background { background: #d0dae3; }
.sc-theme .sc-view.ace.sc-scroll-view.sc-source-list-background .sc-container-view { background: #d0dae3; }
.sc-theme .sc-view.ace.sc-collection-view.sc-source-list { background: #d0dae3; }
.sc-theme .sc-view.ace.sc-collection-view.sc-source-list .sc-list-item-view label {
  top: 50%;
  margin-top: -9px;
  font-size: 14px;
}
.sc-theme .sc-view.ace.sc-collection-view.sc-source-list .sc-collection-item.sel {
  background: static_url("images/2.png") repeat-x 0 -616px;
  border-top: 1px solid #43638d;
  border-bottom: 1px solid #43638d;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;
}
.sc-theme .sc-view.ace.sc-collection-view.sc-source-list .sc-collection-item.sc-group-item {
  font-weight: bold;
  color: #4a4a4a;
  text-shadow: 0px 1px 1px white;
  font-size: 12px;
}
.sc-theme .sc-view.ace.sc-master-detail-view { background: #333333; }
.sc-theme .sc-view.ace.sc-master-detail-view.round-toolbars .sc-toolbar-view {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-raidus-topright: 10px;
}
.sc-theme .sc-view.ace.sc-master-detail-view > .sc-view { background: #cccccc; }
.sc-theme .sc-view.ace.sc-master-detail-view > .sc-view {
  background: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
}
.sc-theme .sc-view.ace.sc-master-detail-view.round-toolbars > .sc-view {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-raidus-topright: 10px;
}
.sc-theme .sc-view.ace.sc-split-divider-view {
  background: #555555;
  border: 0px none;
}
.sc-theme .sc-view.ace.sc-tab-view { overflow: visible; }
.sc-theme .sc-view.ace.sc-tab-view > .sc-container-view {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #999999;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.sc-theme .sc-view.ace.sc-well-view {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #999999;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.sc-theme .sc-view.ace.sc-radio-view {
  line-height: 18px;
  vertical-align: middle;
}
.sc-theme .sc-view.ace.sc-radio-view .sc-radio-button {
  position: relative;
  display: block;
  height: 18px;
  padding-left: 20px;
  margin-bottom: 3px;
}
.sc-theme .sc-view.ace.sc-radio-view.sc-layout-horizontal .sc-radio-button {
  display: inline-block;
  -moz-display: inline-block;
  margin-right: 14px;
}
.sc-theme .sc-view.ace.sc-radio-view .sc-button-label { line-height: 18px; }
.sc-theme .sc-view.ace.sc-radio-view span.button {
  background: static_url("images/1.png") no-repeat 0 -490px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}
.sc-theme .sc-view.ace.sc-radio-view input { visibility: hidden; }
.sc-theme .sc-view.ace.sc-radio-view .sel span.button { background: static_url("images/1.png") no-repeat -16px -490px; }
.sc-theme .sc-view.ace.sc-radio-view .mixed span.button { background: static_url("images/1.png") no-repeat 0 -506px; }
.sc-theme .sc-view.ace.sc-radio-view .active span.button { background: static_url("images/1.png") no-repeat -32px -490px; }
.sc-theme .sc-view.ace.sc-radio-view .sel.active span.button { background: static_url("images/1.png") no-repeat -80px -490px; }
.sc-theme .sc-view.ace.sc-radio-view .mixed.active span.button { background: static_url("images/1.png") no-repeat -64px -490px; }
.sc-theme .sc-view.ace.sc-radio-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .track {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  background: static_url("images/2.png") repeat-x 0 -1722px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .cap {
  position: absolute;
  width: 16;
  height: 14px;
  width: 16px;
  left: 0px;
  background: static_url("images/1.png") no-repeat -16px -506px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .button-left {
  position: absolute;
  background: static_url("images/1.png") no-repeat -40px -405px;
  width: 26px;
  height: 14px;
  right: 15px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .button-top {
  position: absolute;
  background: static_url("images/1.png") no-repeat -40px -405px;
  width: 26px;
  height: 14px;
  right: 15px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .button-right {
  position: absolute;
  background: static_url("images/1.png") no-repeat -32px -506px;
  width: 15px;
  height: 14px;
  right: 0px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .button-bottom {
  position: absolute;
  background: static_url("images/1.png") no-repeat -32px -506px;
  width: 15px;
  height: 14px;
  right: 0px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .button-left:active { background: static_url("images/1.png") no-repeat -66px -405px; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .button-top:active { background: static_url("images/1.png") no-repeat -66px -405px; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .button-right:active { background: static_url("images/1.png") no-repeat -47px -506px; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .button-bottom:active { background: static_url("images/1.png") no-repeat -47px -506px; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .thumb { position: absolute; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .thumb-center {
  position: absolute;
  height: 14px;
  left: 10px;
  right: 10px;
  background: static_url("images/2.png") repeat-x 0 -1736px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .thumb-left {
  position: absolute;
  height: 14px;
  left: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -76px -856px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .thumb-top {
  position: absolute;
  height: 14px;
  left: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -76px -856px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .thumb-right {
  position: absolute;
  height: 14px;
  right: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -90px -506px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-horizontal .thumb-bottom {
  position: absolute;
  height: 14px;
  right: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -90px -506px;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .track {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .cap {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .endcap {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .button-top {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .button-bottom {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .button-top:active {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .button-bottom:active {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .thumb {
  position: absolute;
  opacity: 0.5;
  -webkit-transform: translateZ(0px);
  height: 16px;
  width: 1044px;
  overflow: hidden;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .thumb-top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  position: absolute;
  width: 10px;
  top: 5px;
  left: 0px;
  height: 5px;
  background: black;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .thumb-clip {
  position: absolute;
  overflow: hidden;
  width: 1034px;
  height: 5px;
  left: 10px;
  top: 5px;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .thumb-inner {
  -webkit-transform: translate3d(0px,0px,0px);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 5px;
  width: 1034px;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .thumb-center {
  position: absolute;
  height: 5px;
  top: 0px;
  left: 0px;
  width: 1024px;
  background: black;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-horizontal .thumb-bottom {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  position: absolute;
  height: 5px;
  left: 1024px;
  top: 0px;
  width: 10px;
  background: black;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .track {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: static_url("images/3.png") repeat-y -138px 0;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .cap {
  position: absolute;
  height: 16;
  width: 14px;
  height: 16px;
  top: 0px;
  background: static_url("images/1.png") no-repeat -28px -532px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .button-top {
  position: absolute;
  background: static_url("images/1.png") no-repeat -62px -506px;
  height: 26px;
  width: 14px;
  bottom: 16px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .button-bottom {
  position: absolute;
  background: static_url("images/1.png") no-repeat -56px -532px;
  height: 16px;
  width: 14px;
  bottom: 0px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .button-top:active { background: static_url("images/1.png") no-repeat -76px -506px; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .button-bottom:active { background: static_url("images/1.png") no-repeat -42px -532px; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .thumb { position: absolute; }
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .thumb-center {
  position: absolute;
  width: 14px;
  top: 10px;
  bottom: 10px;
  background: static_url("images/3.png") repeat-y -124px 0;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .thumb-top {
  position: absolute;
  width: 14px;
  top: 0px;
  height: 10px;
  background: static_url("images/1.png") no-repeat -42px -562px;
}
.sc-theme .sc-view.ace.sc-scroller-view.sc-vertical .thumb-bottom {
  position: absolute;
  width: 14px;
  bottom: 0px;
  height: 10px;
  background: static_url("images/1.png") no-repeat -56px -562px;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .track {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .cap {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .endcap {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .button-top {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .button-bottom {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .button-top:active {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .button-bottom:active {
  background: none;
  display: none;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .thumb {
  position: absolute;
  opacity: 0.5;
  -webkit-transform: translateZ(0px);
  width: 16px;
  height: 1044px;
  overflow: hidden;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .thumb-top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  position: absolute;
  width: 5px;
  top: 0px;
  left: 5px;
  height: 10px;
  background: black;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .thumb-clip {
  position: absolute;
  overflow: hidden;
  height: 1034px;
  width: 5px;
  top: 10px;
  left: 5px;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .thumb-inner {
  -webkit-transform: translate3d(0px,0px,0px);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5px;
  height: 1034px;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .thumb-center {
  position: absolute;
  width: 5px;
  left: 0px;
  top: 0px;
  height: 1024px;
  background: black;
}
.sc-theme .sc-view.ace.sc-touch-scroller-view.sc-vertical .thumb-bottom {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  position: absolute;
  width: 5px;
  top: 1024px;
  left: 0px;
  height: 10px;
  background: black;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment { height: 18px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 18px;
  background: static_url("images/1.png") no-repeat -8px -1170px;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 18px;
  background: static_url("images/1.png") no-repeat 0 -1170px;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment .button-middle {
  height: 18px;
  background: static_url("images/2.png") repeat-x 0 -1672px;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment .sc-button-label {
  font-size: 11px;
  margin-top: -2px;
}
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -32px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -40px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -48px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -56px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1618px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -64px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -72px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -80px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -88px -1170px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -1654px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -8px -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -16px -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -88px -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1582px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -32px -1188px; }
.sc-theme .sc-view.ace.sc-small-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -40px -1188px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment { height: 24px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -88px -1098px;
}
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -80px -1098px;
}
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment .button-middle {
  height: 24px;
  background: static_url("images/2.png") repeat-x 0 -1342px;
}
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -72px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -64px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -56px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -48px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1366px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -1098px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -24px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -32px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -56px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -1318px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -64px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -72px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -80px -1122px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -8px -1146px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1462px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -24px -1146px; }
.sc-theme .sc-view.ace.sc-regular-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -40px -1146px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment { height: 30px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -56px -988px;
}
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -48px -988px;
}
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment .button-middle {
  height: 30px;
  background: static_url("images/2.png") repeat-x 0 -948px;
}
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment .sc-button-label {
  font-size: 13px;
  margin-top: 3px;
}
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -32px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -24px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -16px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1038px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -988px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -88px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -80px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -1008px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -72px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -64px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -56px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -48px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -978px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -944px; }
.sc-theme .sc-view.ace.sc-large-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -32px -944px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment { height: 44px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -72px -900px;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -16px -944px;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment .button-middle {
  height: 44px;
  background: static_url("images/2.png") repeat-x 0 -440px;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment .sc-button-label {
  color: #777777;
  font-size: 16px;
  font-weight: bold;
  margin-top: 11px;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -944px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -944px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -88px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -80px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/2.png") repeat-x 0 -396px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -24px -944px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -64px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -56px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -48px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -220px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel .sc-button-label {
  color: white;
  text-shadow: 0px -1px 1px black;
}
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -40px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -32px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -24px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -16px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -308px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -900px; }
.sc-theme .sc-view.ace.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -900px; }
.sc-theme .sc-view.ace.sc-segmented-view { overflow: visible; }
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment {
  background: none;
  border: 0px none;
  color: #555555;
  text-shadow: 0px 1px 1px white;
  display: inline-block;
  zoom: 1;
  overflow: hidden;
  position: relative;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment .button-left {
  display: inline-block;
  zoom: 1;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment .button-right {
  display: inline-block;
  zoom: 1;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment .button-middle {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top: 1px;
  vertical-align: top;
  zoom: 1;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment .sc-button-label { display: block; }
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.fixed .button-left {
  position: absolute;
  left: 0px;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.fixed .button-right {
  position: absolute;
  right: 0px;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.fixed .button-middle {
  position: absolute;
  left: 8px;
  right: 8px;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.active {
  color: #333333;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.sel {
  background: none;
  color: #ffffff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.sc-theme .sc-view.ace.sc-segmented-view .sc-segment.sel.active {
  background: none;
  color: #ffffff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.sc-theme .sc-view.ace.sc-segmented-view img {
  vertical-align: middle;
  position: relative;
  top: -2px;
  left: -2px;
  margin-right: 2px;
}
.sc-theme .sc-view.ace.sc-segmented-view.disabled { opacity: 0.5; }



.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view .button-left {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat 0 -1098px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view .button-right {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -16px -1146px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view .button-middle {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/2.png") repeat-x 0 -1414px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -32px -1146px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -16px -1122px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1438px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -8px -1098px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -16px -1098px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -1390px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.def .button-left { background: static_url("images/1.png") no-repeat -8px -1098px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.def .button-right { background: static_url("images/1.png") no-repeat -16px -1098px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.def .button-middle { background: static_url("images/2.png") repeat-x 0 -1390px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -24px -1098px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -32px -1098px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1198px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.def.active .button-left { background: static_url("images/1.png") no-repeat -24px -1098px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.def.active .button-right { background: static_url("images/1.png") no-repeat -32px -1098px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.sc-button-view.def.active .button-middle { background: static_url("images/2.png") repeat-x 0 -1198px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-left.sc-button-view .button-left {
  width: 13px;
  background: static_url("images/1.png") no-repeat -52px -680px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.point-left.sc-button-view .button-middle { left: 13px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-left.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -65px -680px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-left.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -26px -724px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-left.sc-button-view.def .button-left { background: static_url("images/1.png") no-repeat -26px -724px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-left.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -52px -724px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-left.sc-button-view.def.active .button-left { background: static_url("images/1.png") no-repeat -52px -724px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-right.sc-button-view .button-right {
  width: 13px;
  background: static_url("images/1.png") no-repeat -52px -768px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.point-right.sc-button-view .button-middle { right: 13px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-right.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -26px -856px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-right.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -13px -856px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-right.sc-button-view.def .button-right { background: static_url("images/1.png") no-repeat -13px -856px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-right.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat 0 -856px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.point-right.sc-button-view.def.active .button-right { background: static_url("images/1.png") no-repeat 0 -856px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view .button-left {
  width: 13px;
  background: static_url("images/1.png") no-repeat -78px -812px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view .button-right {
  width: 13px;
  background: static_url("images/1.png") no-repeat -65px -812px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view .button-middle {
  left: 13px;
  right: 13px;
}
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -52px -812px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -39px -812px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -26px -812px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -13px -812px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.def .button-left { background: static_url("images/1.png") no-repeat -26px -812px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.def .button-right { background: static_url("images/1.png") no-repeat -13px -812px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat 0 -812px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -78px -768px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.def.active .button-left { background: static_url("images/1.png") no-repeat 0 -812px; }
.sc-theme .sc-view.ace.dark.sc-regular-size.capsule.sc-button-view.def.active .button-right { background: static_url("images/1.png") no-repeat -78px -768px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view .button-left {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -32px -1018px;
}
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view .button-right {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -24px -1018px;
}
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view .button-middle {
  margin-top: -15px;
  height: 30px;
  background: static_url("images/2.png") repeat-x 0 -1068px;
}
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view .sc-button-label {
  margin-top: -11px;
  height: 30px;
  font-size: 13px;
}
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -16px -1018px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -8px -1018px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.active .button-middle { background: static_url("images/2.png") repeat-x 0 -918px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat 0 -1018px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -88px -988px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.sel .button-middle { background: static_url("images/2.png") repeat-x 0 -888px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.def .button-left { background: static_url("images/1.png") no-repeat 0 -1018px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.def .button-right { background: static_url("images/1.png") no-repeat -88px -988px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.def .button-middle { background: static_url("images/2.png") repeat-x 0 -888px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -80px -988px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -72px -988px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.sel.active .button-middle { background: static_url("images/2.png") repeat-x 0 -858px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.def.active .button-left { background: static_url("images/1.png") no-repeat -80px -988px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.def.active .button-right { background: static_url("images/1.png") no-repeat -72px -988px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.sc-button-view.def.active .button-middle { background: static_url("images/2.png") repeat-x 0 -858px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-left.sc-button-view .button-left {
  width: 13px;
  background: static_url("images/1.png") no-repeat -52px -592px;
}
.sc-theme .sc-view.ace.dark.sc-huge-size.point-left.sc-button-view .button-middle { left: 13px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-left.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -65px -592px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-left.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -83px -562px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-left.sc-button-view.def .button-left { background: static_url("images/1.png") no-repeat -83px -562px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-left.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat 0 -592px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-left.sc-button-view.def.active .button-left { background: static_url("images/1.png") no-repeat 0 -592px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-right.sc-button-view .button-right {
  width: 13px;
  background: static_url("images/1.png") no-repeat -13px -592px;
}
.sc-theme .sc-view.ace.dark.sc-huge-size.point-right.sc-button-view .button-middle { right: 13px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-right.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -26px -592px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-right.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -39px -592px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-right.sc-button-view.def .button-right { background: static_url("images/1.png") no-repeat -39px -592px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-right.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat -78px -592px; }
.sc-theme .sc-view.ace.dark.sc-huge-size.point-right.sc-button-view.def.active .button-right { background: static_url("images/1.png") no-repeat -78px -592px; }
.sc-theme .sc-view.ace.dark.sc-button-view {
  color: #dddddd;
  text-shadow: 0px -1px 0px black;
}
.sc-theme .sc-view.ace.dark.sc-button-view.active {
  color: #bbbbbb;
  text-shadow: 0px -1px 0px black;
}
.sc-theme .sc-view.ace.dark.sc-button-view.sel.active {
  color: #dddddd;
  text-shadow: 0px -1px 0px black;
}
.sc-theme .sc-view.ace.dark.sc-button-view.def.active {
  color: #dddddd;
  text-shadow: 0px -1px 0px black;
}
.sc-theme .sc-view.ace.iphone-form.sc-form-view { overflow: visible; }
.sc-theme .sc-view.ace.iphone-form.sc-form-row-view:first-child {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
.sc-theme .sc-view.ace.iphone-form.sc-form-row-view.first {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
.sc-theme .sc-view.ace.iphone-form.sc-form-row-view:last-child {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #999999;
}
.sc-theme .sc-view.ace.iphone-form.sc-form-row-view.last {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #999999;
}
.sc-theme .sc-view.ace.iphone-form.sc-form-row-view {
  background-color: white;
  border: 1px solid #999999;
  border-bottom: 0px none;
}
.sc-theme .sc-view.ace.iphone-form.sc-form-label {
  font-size: 16px;
  font-weight: bold;
}
.sc-theme .sc-view.ace.iphone-form.sc-form-label .inner {
  color: black;
  text-align: left;
  position: absolute;
  margin-top: -10px;
  left: 0px;
  right: 0px;
  top: 50%;
}
.sc-theme .sc-view.ace.iphone-form.sc-text-field-view {
  font-size: 16px;
  background: transparent;
}
.sc-theme .sc-view.ace.iphone-form.sc-text-field-view .border { display: none; }
.sc-theme .sc-view.ace.iphone-form.sc-text-field-view input { color: #005082; }

