.sc-alert {
  background: white;
  .alert-wrap {
    position: relative ;
    min-height: 48px;
    padding: 20px 12px 58px 74px;
    &.plain {
      padding: 20px 12px 58px 16px;
    }
    .alert-icon {
      position: absolute;
      left: 12px;
      top: 14px;
    }
    .header {
      background-color: transparent;
      color: black;
      margin: 0;
      padding: 0;
      font-size: 18px;
      margin-bottom: 6px;
      font-family: inherit ;
    }
    .body {
      max-height: 200px;
      overflow: auto;
      -webkit-overflow-scrolling:touch;
    }
    .description {
      padding: 0;
      margin: 6px 0px;
      font-size: 14px;
      margin-right: 20px;
    }
    .caption {
      padding: 0;
      margin: 6px 0px;
      font-size: 11px;
      margin-right: 20px;
    }
    .separator {
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0px;
      bottom: 50px;
      background: #eaeaea ;
    }
  }
}

.sc-pane.sc-panel.sc-alert > div > .sc-view {
  overflow: visible;
}
