/** SC.ModalPane Support */

.sc-pane.sc-modal {
  z-index: 100;
  .msie &{
    background-image: url('.');
  }

  &.for-sc-panel {
    position: fixed;
    background: black;
    opacity: 0.3;
    -moz-opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  }
}
