/* @group SC.SliderView */

.sc-slider-view {
  >.track {
    position: absolute;
    background: gray;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    > .sc-handle {
      height: 12px;
      width: 12px;
      position: absolute;
      background: black;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
    }
  }
  &.horizontal > .track {
    left: 6px;
    right: 6px;
    height: 4px;
    top: 50%;
    margin-top: -2px;
    >.sc-handle {
      margin-left: -6px;
      top: -4px;
    }
  }
  &.vertical > .track {
    top: 6px;
    bottom: 6px;
    width: 4px;
    left: 50%;
    margin-left: -2px;
    >.sc-handle {
      margin-top: -6px;
      left: -4px;
    }
  }
}
