
@-webkit-keyframes loading {
  0% { color: #444; }
  50% { color: #777; }
  100% { color: #444; }
}

#loading {
  background: #eee;
  background: -moz-linear-gradient(top,#ddd,#bbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

#loading p.loading {
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;

  -sc-box-shadow: inset rgba(0,0,0,0.5) 0 0 3px;
  background-color: #e4e4e4;
  border-top: 1px solid #999;
  bottom: -10px; /* hide inner shadow */
  color: #666;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 33px;
  left: -10px; /* hide inner shadow */
  margin: 0;
  padding-left: 30px;
  padding-top: 10px;
  position: absolute;
  right: -10px;
  text-shadow: 0 1px 1px #fff;
}
