@theme(sc-regular-size) {

  $theme.button {

    .sc-button-label {
      height: 24px;
      padding-top:2px;
    }

    @include slices("normal_button.png", $left: 3, $right: 3);

    &.active {
      @include slices("active_button.png", $left: 3, $right: 3);
    }

    &.sel, &.def {
      @include slices("selected_button.png", $left: 3, $right: 3);
    }

    &.sel.active, &.def.active {
      @include slices("selected_active_button.png", $left: 3, $right: 3);
    }
    
    &.sc-static-layout .sc-button-label {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  @theme(point-left) {
    $theme.button {
      @include slices("normal_button_pointer.png", $left: 12, $right: 12, skip-middle, skip-right);

      .middle { left: 12px; }

      &.active {
        @include slices("active_button_pointer.png", $left: 12, $right: 12, skip-middle, skip-right);
        .middle { left: 12px; }
      }

      &.sel, &.def {
        @include slices("selected_button_pointer.png", $left: 12, $right: 12, skip-middle, skip-right);
        .middle { left: 12px; }
      }

      &.sel.active, &.def.active {
        @include slices("selected_active_button_pointer.png", $left: 12, $right: 12, skip-middle, skip-right);
        .middle { left: 12px; }
      }
    }
  }

  @theme(point-right) {
    $theme.button {
      @include slices("normal_button_pointer.png", $left: 12, $right: 12, skip-middle, skip-left);

      .middle { right: 12px; }

      &.active {
        @include slices("active_button_pointer.png", $left: 12, $right: 12, skip-middle, skip-left);
        .middle { right: 12px; }
      }

      &.sel, &.def {
        @include slices("selected_button_pointer.png", $left: 12, $right: 12, skip-middle, skip-left);
        .middle { right: 12px; }
      }

      &.sel.active, &.def.active {
        @include slices("selected_active_button_pointer.png", $left: 12, $right: 12, skip-middle, skip-left);
        .middle { right: 12px; }
      }
    }
  }

  @theme(capsule) {
    $theme.button {
      @include slices("normal_button_capsule.png", $left: 12, $right: 12, skip-middle);

      .middle { left: 12px; right: 12px; }

      &.active {
        @include slices("active_button_capsule.png", $left: 12, $right: 12, skip-middle);
        .middle { left: 12px; right: 12px; }
      }

      &.sel, &.def {
        @include slices("selected_button_capsule.png", $left: 12, $right: 12, skip-middle);
        .middle { left: 12px; right: 12px; }
      }

      &.sel.active, &.def.active {
        @include slices("selected_active_button_capsule.png", $left: 12, $right: 12, skip-middle);
        .middle { left: 12px; right: 12px; }
      }
    }
  }
}
