@import "variables.css";

@theme(success) {

  $theme.button {
      
    &.sel, &.def {
      background-color: $sel-button-success-bg;
    }
    
    &.sel:hover, &.def:hover {
      background-color: $sel-hover-button-success-bg;
    }

    &.sel.active, &.def.active {
      background-color: $sel-active-button-success-bg;
    }
  }
}