@theme(sc-jumbo-size) {
  
  $theme.button {
    
    .sc-button-label {
      margin-top: 12px;
      top: 0px;
      height: 24px;
      font-size: 16px;
      font-weight: bold;
      color: #777;
    }
    
    @include slices("normal_button.png", $left: 3, $right: 3);
    
    &.active {
      @include slices("active_button.png", $left: 3, $right: 3);    
    }
  
    &.sel, &.def {
      .sc-button-label {
        color:white;
        text-shadow: 0px -1px 1px black;
      }
      
      @include slices("selected_button.png", $left: 3, $right: 3);    
  
      &.sel.active, &.def.active {
        @include slices("selected_active_button.png", $left: 3, $right: 3);
      }
    }
  }
  
}
