
@keyframes startup {
  0% { bottom: -33px; }
  100% { bottom: -10px; }
}

@keyframes loading {
  0% { color: #444; }
  50% { color: #777; }
  100% { color: #444; }
}

#loading {
  background: #eee;
  background: linear-gradient( #ddd, #bbb);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

#loading p.loading {
  animation-name: startup, loading;
  animation-duration: 0.8s, 1.5s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease-out ease;
  box-shadow: inset rgba(0,0,0,0.5) 0 0 3px;
  background-color: #e4e4e4;
  background-image: #DDD;
  border-top: 1px solid #999;
  bottom: -10px; /* hide inner shadow */
  color: #666;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 33px;
  left: -10px; /* hide inner shadow */
  margin: 0;
  padding-left: 44px;
  padding-top: 10px;
  position: absolute;
  right: -10px;
  text-shadow: 0 1px 1px #fff;
}
