
@theme(sc-jumbo-size) {

  $theme.button {
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    border-radius: $button-border-radius-jumbo;

    .sc-button-label {
      margin-top: 10px;
      line-height: 22px;
      top: 0;
      height: 24px;
    }

    &.sc-static-layout .sc-button-label {
      margin-left: 18px;
      margin-right: 18px;
    }
  }

}


@theme(capsule) {
  $theme.button {
    &.sc-static-layout .sc-button-label {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

