
@theme(sc-small-size) {

  $theme.button {
    height: 18px;
    font-size: 11px;
    border-radius: $button-border-radius-small;

    .sc-button-label {
      margin-top:-4px;
      height: 18px;
      padding-top: 1px;
    }

    &.sc-static-layout .sc-button-label {
      margin-left: 3px;
      margin-right: 3px;
    }
  }

}


@theme(capsule) {
  $theme.button {
    &.sc-static-layout .sc-button-label {
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}
