@view(sc-radio-view) {
  line-height: 18px;
  vertical-align: middle;
}

@view(sc-radio-view) .sc-radio-button {
  position: relative;
  display:block;
  height:18px;
  padding-left: 20px;
  margin-bottom:3px;
}

@view(sc-radio-view).sc-layout-horizontal .sc-radio-button {
  display: inline-block;
  -moz-display: inline-block;
  margin-right: 14px;
}

@view(sc-radio-view) .sc-button-label {
  line-height: 18px;
}

/* Unchecked */
@view(sc-radio-view) span.button {
  background: sprite("radio_unselected.png");
  width: 16px;
  height:16px;
  vertical-align:middle;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}

@view(sc-radio-view) input {
  visibility: hidden;
}

/* Checked */
@view(sc-radio-view) .sel span.button {
  background: sprite("radio_selected.png");
}

@view(sc-radio-view) .mixed span.button {
  background: sprite("radio_mixed.png");
}

/* Active */
@view(sc-radio-view) .active span.button {
  background: sprite("radio_active.png");
}

@view(sc-radio-view) .sel.active span.button {
  background: sprite("radio_selected_active.png");
}

@view(sc-radio-view) .mixed.active span.button {
  background: sprite("radio_mixed_active.png");
}

/* Disabled */
@view(sc-radio-view).disabled {
  opacity: .5;
}