/* Track */
.sc-theme .sc-view.sc-scroller-view.vertical .track {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	background: url("images/3.png") -0px -0px repeat-y;
}

/* Cap */
.sc-theme .sc-view.sc-scroller-view.vertical .cap {
	position:absolute;
	height: 16;
	width: 14px;
	height: 16px;
	top: 0px;
	background: url("images/1.png") -58px -14px no-repeat;
}

/* Buttons */
.sc-theme .sc-view.sc-scroller-view.vertical .button-top {
	position:absolute;
	background: url("images/1.png") -30px -14px no-repeat;
	height: 26px;
    width: 14px;
    bottom: 14px;
}

.sc-theme .sc-view.sc-scroller-view.vertical .button-bottom {
	position:absolute;
	background: url("images/1.png") -0px -40px no-repeat;
	height: 15px;
    width: 14px;
    bottom: 0px;
}

/* Active */
.sc-theme .sc-view.sc-scroller-view.vertical .button-top:active {
	background: url("images/1.png") -44px -14px no-repeat;
}

.sc-theme .sc-view.sc-scroller-view.vertical .button-bottom:active {
	background: url("images/1.png") -14px -40px no-repeat;
}

/* Thumb */
.sc-theme .sc-view.sc-scroller-view.vertical .thumb {
	position:absolute;
}

.sc-theme .sc-view.sc-scroller-view.vertical .thumb-center {
	position: absolute;
	width: 14px;
	top: 10px;
	bottom: 10px;
	background: url("images/3.png") -14px -0px repeat-y;
}

.sc-theme .sc-view.sc-scroller-view.vertical .thumb-top {
	position: absolute;
	width: 14px;
	top: 0px;
	height: 10px;
	background: url("images/1.png") -42px -40px no-repeat;
}

.sc-theme .sc-view.sc-scroller-view.vertical .thumb-bottom {
	position: absolute;
	width: 14px;
	bottom: 0px;
	height: 10px;
	background: url("images/1.png") -28px -40px no-repeat;
}/* Track */
.sc-theme .sc-view.sc-scroller-view.horizontal .track {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	bottom: 0;
	background: url("images/2.png") -0px -0px repeat-x;
}

/* Cap */
.sc-theme .sc-view.sc-scroller-view.horizontal .cap {
	position:absolute;
	width: 16;
	height: 14px;
	width: 16px;
	left: 0px;
	background: url("images/1.png") -52px -0px no-repeat;
}

/* Buttons */
.sc-theme .sc-view.sc-scroller-view.horizontal .button-left {
	position:absolute;
	background: url("images/1.png") -0px -0px no-repeat;
	width: 26px;
    height: 14px;
    right: 14px;
}

.sc-theme .sc-view.sc-scroller-view.horizontal .button-right {
	position:absolute;
	background: url("images/1.png") -15px -14px no-repeat;
	width: 15px;
    height: 14px;
    right: 0px;
}

/* Active */
.sc-theme .sc-view.sc-scroller-view.horizontal .button-left:active {
	background: url("images/1.png") -26px -0px no-repeat;
}

.sc-theme .sc-view.sc-scroller-view.horizontal .button-right:active {
	background: url("images/1.png") -0px -14px no-repeat;
}

/* Thumb */
.sc-theme .sc-view.sc-scroller-view.horizontal .thumb {
	position:absolute;
}

.sc-theme .sc-view.sc-scroller-view.horizontal .thumb-center {
	position: absolute;
	height: 14px;
	left: 10px;
	right: 10px;
	background: url("images/2.png") -0px -14px repeat-x;
}

.sc-theme .sc-view.sc-scroller-view.horizontal .thumb-left {
	position: absolute;
	height: 14px;
	left: 0px;
	width: 10px;
	background: url("images/1.png") -68px -0px no-repeat;
}

.sc-theme .sc-view.sc-scroller-view.horizontal .thumb-right {
	position: absolute;
	height: 14px;
	right: 0px;
	width: 10px;
	background: url("images/1.png") -56px -40px no-repeat;
}