h1.app-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 36px;
  vertical-align: middle;
  padding-left: 12px;
  letter-spacing: -1px;
  color: white;
  text-shadow: #3d4557 0px -1px 0px;
}
 
h1.app-title img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 2px;
  position: relative;
  top: -3px;
}

.sc-collection-view.test-list .sc-collection-item {
  border-bottom: 1px #eee solid;
  font-size: 12px;
}

.sc-view.sc-toolbar-view.navigation-bar {
  border-top:0;
  border-bottom: 1px #4D5567 solid;
}

.sc-label-view.center-label {
  color: white;
  opacity: 0.8;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
  -moz-opacity:0.8;  
}

.sc-view.sc-toolbar-view.bottom-toolbar {
    z-index:2;
    -webkit-box-shadow: none;
}

.sc-view.sc-toolbar-view .sc-checkbox-view {
  color: white;
}