h1.app-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 36px;
  vertical-align: middle;
  padding-left: 12px;
  letter-spacing: -1px;
}
 
h1.app-title img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 2px;
  position: relative;
  top: -3px;
}

.sc-collection-view.test-list .sc-collection-item {
  border-bottom: 1px #eee solid;
  font-size: 12px;
}

.sc-view.sc-toolbar-view.navigation-bar {
  border-bottom: 1px #999 solid;
}