/* 
Syntax Notes: 
@view(view-name) is replaced with .sc-view.view-name.theme-name

theme-name is specified as an argument when building.

[8] means a rectangle starting at x=8, the whole height, to the right edge.
[8, 1] means rectangle starting at x=8, width 1px, whole height
[8, 2, 1, 1] means a 1x1 rectangle at 8, 2.
*/

$theme.progress {
  .track {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    @include slices("progress_view_track.png", $left: 1, $right: 1);
  }
  
  .content {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    
    /* width set in rendering */
    
    @include slices("progress_view_content.png", $left: 1, $right: 1);
  }
  
  &.disabled {
    opacity: .5;
  }
}
