.sc-checkbox.sc-regular-size span.button {
  background: sprite("checkbox_unchecked.png");
  width: 16px;
  height:16px;
}

.sc-checkbox.sc-regular-size.sel span.button {
  background: sprite("checkbox_checked.png");
}

.sc-checkbox.sc-regular-size.mixed span.button {
  background: sprite("checkbox_mixed.png");
}

.sc-checkbox.sc-regular-size.active span.button {
  background: sprite("checkbox_unchecked_active.png");
}

.sc-checkbox.sc-regular-size.sel.active span.button {
  background: sprite("checkbox_checked_active.png");
}

.sc-checkbox.sc-regular-size.mixed.active span.button {
  background: sprite("checkbox_mixed_active.png");
}