@view(sc-pane.sc-panel) {
  background: rgba(251, 251, 251, .92);
}

/* Top */
@view(sc-pane.sc-panel) .top-left-edge {
  left: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: sprite("panel.png" [0 0 16 16]);
}

@view(sc-pane.sc-panel) .top-edge {
  top: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: sprite("panel.png" repeat-x [16 0 1 16]);
}

@view(sc-pane.sc-panel) .top-right-edge {
  right: -16px;
  top: -16px;
  width: 16px;
  height: 16px;
  background: sprite("panel.png" [-16 0 16 16]);
}

/* Bottom */
@view(sc-pane.sc-panel) .bottom-left-edge {
  left: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: sprite("panel.png" [0 -16 16 16]);
}

@view(sc-pane.sc-panel) .bottom-edge {
  bottom: -16px;
  left: 0px;
  right: 0px;
  height: 16px;
  background: sprite("panel.png" repeat-x [16 -16 1 16]);
}

@view(sc-pane.sc-panel) .bottom-right-edge {
  right: -16px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: sprite("panel.png" [-16 -16 16 16]);
}

/* Sides */
@view(sc-pane.sc-panel) .left-edge {
  top: 0px;
  left: -16px;
  bottom: 0px;
  width: 16px;
  background: sprite("panel.png" repeat-y [0 16 16 1]);
}

@view(sc-pane.sc-panel) .right-edge {
  top: 0px;
  right: -16px;
  bottom: 0px;
  width: 16px;
  background: sprite("panel.png" repeat-y [-16 16 16 1]);
}
