
$theme.split-divider {
  background: transparent;
  overflow: visible;
  border: 0 none;
  z-index: 1;

  .line {
    background: $split-divider-bg;
    box-shadow: $split-divider-box-shadow;
    border: 0 none;
    position: absolute;
    &:after {
      content: '';
      position: absolute;
    }
  }

  &.sc-layout-horizontal {
    .line {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      &:after {
        left: -4px;
        right: -4px;
        top: 0;
        bottom: 0;
      }
    }
  }

  &.sc-layout-vertical {
    .line {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &:after {
        top: -4px;
        bottom: -4px;
        left: 0;
        right: 0;
      }
    }
  }
}
